Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-e2e-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Improve comment count queries, fix tests
  packages/discovery-provider/integration_tests/queries/test_get_comments.py
  packages/discovery-provider/integration_tests/queries/test_get_track_comment_count.py
  packages/discovery-provider/integration_tests/queries/test_get_tracks.py
  packages/discovery-provider/integration_tests/queries/test_populate_track_metadata.py
  packages/discovery-provider/src/queries/get_comments.py
  packages/discovery-provider/src/queries/get_track_comment_count.py
  packages/discovery-provider/src/queries/query_helpers.py
  packages/discovery-provider/src/tasks/entity_manager/entities/comment.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Renames
  packages/discovery-provider/src/queries/get_track_comment_count.py
  packages/discovery-provider/src/queries/query_helpers.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[C-5131] Update comment notifications when artist engages
  packages/discovery-provider/plugins/notifications/src/email/notifications/components/Body.tsx
  packages/discovery-provider/plugins/notifications/src/email/notifications/components/notifications/Notification.tsx
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/commentMention.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/commentThread.ts
  packages/mobile/src/screens/notifications-screen/Notifications/CommentThreadNotification.tsx
  packages/web/src/components/notification/Notification/CommentMentionNotification.tsx
  packages/web/src/components/notification/Notification/CommentThreadNotification.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[C-5236] Add keyboard navigation for user mentions autocomplete
  packages/harmony/src/components/index.ts
  packages/harmony/src/components/internal/MenuItem.tsx
  packages/harmony/src/components/internal/OptionKeyHandler.tsx
  packages/web/src/components/composer-input/ComposerInput.tsx
  packages/web/src/components/composer-input/components/AutocompleteText.tsx
  packages/web/src/components/composer-input/components/UserMentionAutocompleteText.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Audius Protocol v0.7.19
  packages/discovery-provider/.version.json
  pkg/mediorum/.version.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Fix height
  packages/web/src/components/composer-input/components/UserMentionAutocompleteText.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

fixes
  packages/discovery-provider/integration_tests/queries/test_get_comments.py
  packages/discovery-provider/integration_tests/queries/test_get_tracks.py
  packages/discovery-provider/src/queries/get_comments.py
  packages/discovery-provider/src/queries/get_track_comment_count.py
  packages/discovery-provider/src/tasks/entity_manager/entities/comment.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Fix sdk types
  packages/sdk/src/sdk/api/generated/default/apis/TracksApi.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Add cover attribution
  packages/common/src/messages/edit.ts
  packages/common/src/models/Track.ts
  packages/discovery-provider/ddl/migrations/0102_add_cover_attribution.sql
  packages/discovery-provider/src/api/v1/models/tracks.py
  packages/discovery-provider/src/models/tracks/track.py
  packages/discovery-provider/src/tasks/metadata.py
  packages/libs/src/api/Track.ts
  packages/libs/src/utils/types.ts
  packages/web/src/components/edit/fields/AdvancedField.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

[PAY-3536] Improve $AUDIO VIP Tier UI (#10154)
  packages/mobile/src/screens/audio-screen/Tier.tsx
  packages/web/src/components/user-badges/TierExplainerDrawer.tsx
  packages/web/src/components/user-badges/TierExplainerModal.module.css
  packages/web/src/components/user-badges/TierExplainerModal.tsx
  packages/web/src/pages/audio-rewards-page/Tiers.module.css
  packages/web/src/pages/audio-rewards-page/Tiers.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

PR review
  packages/discovery-provider/src/queries/get_comments.py
  packages/discovery-provider/src/queries/get_track_comment_count.py
  packages/discovery-provider/src/queries/query_helpers.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Improve comment count queries, fix tests (#10181)
  packages/discovery-provider/integration_tests/queries/test_get_comments.py
  packages/discovery-provider/integration_tests/queries/test_get_track_comment_count.py
  packages/discovery-provider/integration_tests/queries/test_populate_track_metadata.py
  packages/discovery-provider/src/queries/get_comments.py
  packages/discovery-provider/src/queries/get_track_comment_count.py
  packages/discovery-provider/src/queries/query_helpers.py
  packages/discovery-provider/src/tasks/entity_manager/entities/comment.py
  packages/sdk/src/sdk/api/generated/default/apis/TracksApi.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Ensure track owner notifications are respected
  packages/discovery-provider/src/tasks/entity_manager/entities/comment.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[C-5263] Blur comment after submitting (#10178)
  packages/web/src/components/composer-input/ComposerInput.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Update web comments to respect mentions being passed back from the backend
  packages/common/src/api/tan-query/comments.ts
  packages/common/src/context/comments/commentsHooks.ts
  packages/web/src/components/comments/CommentBlock.tsx
  packages/web/src/components/comments/CommentForm.tsx
  packages/web/src/components/comments/CommentText.tsx
  packages/web/src/components/composer-input/ComposerInput.tsx
  packages/web/src/components/composer-input/types.ts
  packages/web/src/components/user-generated-text/UserGeneratedTextV2.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

checkpoint
  packages/common/src/adapters/playlistLibrary.ts
  packages/common/src/adapters/user.ts
  packages/common/src/api/account.ts
  packages/common/src/api/user.ts
  packages/common/src/audius-query/AudiusQueryContext.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/auth/getWalletAddresses.ts
  packages/common/src/services/auth/index.ts
  packages/common/src/services/local-storage/LocalStorage.ts
  packages/common/src/store/storeContext.ts
  packages/mobile/src/app/AudiusQueryProvider.tsx
  packages/mobile/src/store/storeContext.ts
  packages/web/src/app/AudiusQueryProvider.tsx
  packages/web/src/common/store/account/sagas.js
  packages/web/src/store/storeContext.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Fix MRI usage report
  packages/discovery-provider/plugins/pedalboard/apps/mri/src/queries/udr.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Add date helper and fixes
  packages/discovery-provider/plugins/pedalboard/apps/mri/src/index.ts
  packages/discovery-provider/plugins/pedalboard/apps/mri/src/queries/udr.ts
  packages/discovery-provider/plugins/pedalboard/apps/mri/src/server.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Update metadata for comment edit to be trackId
  packages/common/src/api/tan-query/comments.ts
  packages/sdk/src/sdk/api/comments/CommentsAPI.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

[C-5260] Add comment reaction notifications (#10175)
  packages/common/src/adapters/notification.ts
  packages/common/src/api/tan-query/comments.ts
  packages/common/src/store/notifications/types.ts
  packages/discovery-provider/integration_tests/queries/test_get_comments.py
  packages/discovery-provider/integration_tests/tasks/entity_manager/test_comment.py
  packages/discovery-provider/plugins/notifications/src/__tests__/mappings/__snapshots__/commentReaction.test.ts.snap
  packages/discovery-provider/plugins/notifications/src/__tests__/mappings/commentReaction.test.ts
  packages/discovery-provider/plugins/notifications/src/email/notifications/components/Body.tsx
  packages/discovery-provider/plugins/notifications/src/email/notifications/components/notifications/Notification.tsx
  packages/discovery-provider/plugins/notifications/src/processNotifications/indexAppNotifications.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/commentReaction.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/mapNotifications.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/tmp.txt
  packages/discovery-provider/plugins/notifications/src/remoteConfig.ts
  packages/discovery-provider/plugins/notifications/src/types/dn.ts
  packages/discovery-provider/plugins/notifications/src/types/notifications.ts
  packages/discovery-provider/plugins/notifications/src/utils/populateDB.ts
  packages/discovery-provider/src/api/v1/models/notifications.py
  packages/discovery-provider/src/api/v1/utils/extend_notification.py
  packages/discovery-provider/src/queries/get_notifications.py
  packages/discovery-provider/src/tasks/entity_manager/entities/comment.py
  packages/discovery-provider/src/tasks/entity_manager/entity_manager.py
  packages/mobile/src/screens/notifications-screen/NotificationListItem.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/CommentReactionNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/index.ts
  packages/sdk/src/sdk/api/comments/CommentsAPI.ts
  packages/sdk/src/sdk/api/generated/full/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/full/apis/NotificationsApi.ts
  packages/sdk/src/sdk/api/generated/full/models/CommentReactionNotification.ts
  packages/sdk/src/sdk/api/generated/full/models/CommentReactionNotificationAction.ts
  packages/sdk/src/sdk/api/generated/full/models/CommentReactionNotificationActionData.ts
  packages/sdk/src/sdk/api/generated/full/models/Notification.ts
  packages/sdk/src/sdk/api/generated/full/models/index.ts
  packages/web/src/common/store/notifications/fetchNotifications.ts
  packages/web/src/common/store/notifications/parseAndProcessNotifications.ts
  packages/web/src/components/notification/Notification/CommentReactionNotification.tsx
  packages/web/src/components/notification/Notification/Notification.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Update mobile to respect the mentions too
  packages/mobile/src/components/comments/CommentBlock.tsx
  packages/mobile/src/components/comments/CommentDrawerForm.tsx
  packages/mobile/src/components/comments/CommentForm.tsx
  packages/mobile/src/components/comments/CommentText.tsx
  packages/mobile/src/components/composer-input/ComposerInput.tsx
  packages/mobile/src/components/composer-input/types.ts
  packages/mobile/src/components/core/UserGeneratedText.tsx
  packages/web/src/components/comments/CommentBlock.tsx
  packages/web/src/components/comments/CommentForm.tsx
  packages/web/src/components/composer-input/ComposerInput.tsx
  packages/web/src/components/composer-input/types.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

fixes
  packages/common/src/adapters/notification.ts
  packages/discovery-provider/src/tasks/entity_manager/entities/comment.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

[C-5264] Update comment specifiers (#10180)
  packages/common/src/adapters/notification.ts
  packages/discovery-provider/integration_tests/tasks/entity_manager/test_comment.py
  packages/discovery-provider/plugins/notifications/src/__tests__/mappings/commentMention.test.ts
  packages/discovery-provider/plugins/notifications/src/__tests__/mappings/commentThread.test.ts
  packages/discovery-provider/src/tasks/entity_manager/entities/comment.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Update metadata for comment edit to be trackId (#10187)
  packages/common/src/api/tan-query/comments.ts
  packages/sdk/src/sdk/api/comments/CommentsAPI.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

small update
  packages/common/src/api/tan-query/comments.ts
  packages/mobile/src/components/composer-input/ComposerInput.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Use replaceRecentBlockhash to fix BlockhashNotFound error
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/utils/transaction.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[C-5185, C-5246, C-5250, C-5254] Update web and mobile comments to respect mentions being passed back from the backend (#10185)
  packages/common/src/api/tan-query/comments.ts
  packages/common/src/context/comments/commentsHooks.ts
  packages/mobile/src/components/comments/CommentBlock.tsx
  packages/mobile/src/components/comments/CommentDrawerForm.tsx
  packages/mobile/src/components/comments/CommentForm.tsx
  packages/mobile/src/components/comments/CommentText.tsx
  packages/mobile/src/components/composer-input/ComposerInput.tsx
  packages/mobile/src/components/composer-input/types.ts
  packages/mobile/src/components/core/UserGeneratedText.tsx
  packages/web/src/components/comments/CommentBlock.tsx
  packages/web/src/components/comments/CommentForm.tsx
  packages/web/src/components/comments/CommentText.tsx
  packages/web/src/components/composer-input/ComposerInput.tsx
  packages/web/src/components/composer-input/types.ts
  packages/web/src/components/user-generated-text/UserGeneratedTextV2.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Add more comment validations
  packages/discovery-provider/integration_tests/tasks/entity_manager/test_comment.py
  packages/discovery-provider/src/tasks/entity_manager/entities/comment.py
  packages/discovery-provider/src/tasks/entity_manager/utils.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[C-5217] Fix view other remixes (#10160)
  packages/common/src/messages/index.ts
  packages/common/src/messages/trackPage.ts
  packages/common/src/store/pages/track/actions.ts
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
  packages/web/src/common/store/pages/track/sagas.ts
  packages/web/src/pages/track-page/TrackPageProvider.tsx
  packages/web/src/pages/track-page/components/ViewOtherRemixesButton.tsx
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
  packages/web/src/pages/track-page/components/mobile/TrackPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Use replaceRecentBlockhash to fix BlockhashNotFound error (#10188)
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/utils/transaction.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Remove comment reaction notifications on web
  packages/web/src/common/store/notifications/fetchNotifications.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Remove comment reaction notifications on web (#10190)
  packages/web/src/common/store/notifications/fetchNotifications.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Revert "Remove comment reaction notifications on web (#10190)"
  packages/web/src/common/store/notifications/fetchNotifications.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Remove healthz from dev-tools
  dev-tools/audius-compose
  dev-tools/compose/docker-compose.healthz.yml
  dev-tools/compose/docker-compose.yml
  dev-tools/compose/nginx_ingress.conf
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Remove dashboard as well
  dev-tools/audius-compose
  dev-tools/compose/docker-compose.protocol-dashboard.dev.yml
  dev-tools/compose/docker-compose.protocol-dashboard.prod.yml
  dev-tools/compose/docker-compose.protocol-dashboard.stage.yml
  dev-tools/compose/docker-compose.yml
  dev-tools/compose/nginx_ingress.conf
  protocol-dashboard/Dockerfile.dev
  protocol-dashboard/Dockerfile.fast
  protocol-dashboard/Dockerfile.prod
  protocol-dashboard/Dockerfile.stage
  protocol-dashboard/scripts/docker-entrypoint.sh
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

IF NOT EXISTS
  cmd/audiusd/entrypoint.sh
  pkg/uptime/uptime.go
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

fix some initialization of libs/account info
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/web/src/common/store/account/sagas.js
  packages/web/src/common/store/backend/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

cleaning up some todos
  packages/libs/src/api/Notifications.ts
  packages/libs/src/api/Users.ts
  packages/libs/src/services/discoveryProvider/DiscoveryProvider.ts
  packages/web/src/common/store/account/sagas.js
  packages/web/src/components/nav/desktop/AccountSwitcher/AccountSwitcher.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

update bad doc string
  packages/common/src/api/user.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Remove healthz and dashboard from dev-tools (#10177)
  dev-tools/audius-compose
  dev-tools/compose/docker-compose.healthz.yml
  dev-tools/compose/docker-compose.protocol-dashboard.dev.yml
  dev-tools/compose/docker-compose.protocol-dashboard.prod.yml
  dev-tools/compose/docker-compose.protocol-dashboard.stage.yml
  dev-tools/compose/docker-compose.yml
  dev-tools/compose/nginx_ingress.conf
  protocol-dashboard/Dockerfile.dev
  protocol-dashboard/Dockerfile.fast
  protocol-dashboard/Dockerfile.prod
  protocol-dashboard/Dockerfile.stage
  protocol-dashboard/scripts/docker-entrypoint.sh
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: .*)
  run-creator-workflow: (((any of: mediorum/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-identity-workflow: (((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-integration-workflow: (((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)) or (any of: .*)
  run-ddex-webapp-workflow: (((any of: packages/ddex/webapp/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/webapp/.*)
  run-ddex-e2e-workflow: ((((any of: packages/ddex/webapp/.*) or (any of: packages/ddex/ingester/.*)) or (any of: .circleci/.*)) or (any of: packages/ddex/webapp/.*)) or (any of: packages/ddex/ingester/.*)
  run-ddex-publisher-workflow: (((any of: packages/ddex/publisher/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/publisher/.*)
  run-eth-contracts-workflow: (((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-healthz-workflow: ((any of: monitoring/healthz/.*) or (any of: .circleci/.*)) or (any of: monitoring/healthz/.*)
  run-protocol-dashboard-workflow: (((((any of: protocol-dashboard/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: protocol-dashboard/.*)) or (any of: .*)
  run-contracts-workflow: (((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-sdk-workflow: ((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/libs/.*)) or (any of: .*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/web/.*)) or (any of: .*)
  run-mobile-workflow: (((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/mobile/.*)) or (any of: .*)
  run-harmony-workflow: (((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-embed-workflow: (((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/libs/.*)) or (any of: packages/embed/.*)
  run-release-workflow=false: any of: .*
  run-common-workflow: any of: packages/common/.*
  run-create-audius-app-workflow: (((any of: packages/libs/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/libs/.*)) or (any of: packages/create-audius-app/.*)
  run-ddex-stage-workflow: any of: .*
  run-release-workflow: any of: .*
