Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: ((((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: (((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-integration-workflow: ((any of: packages/web/e2e/.*) or (any of: .*)) or (any of: .*)
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*

Speed up mobile app warm start by another ~75% (#12555)
  packages/mobile/src/app/App.tsx
  packages/mobile/src/app/ConnectivityManager.tsx
  performance-log.md
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Create bonk artist coin account on stage
  packages/discovery-provider/ddl/migrations/0150_bonk_artist_coin_stage.sql
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Create bonk artist coin account on stage (#12558)
  packages/discovery-provider/ddl/migrations/0150_bonk_artist_coin_stage.sql
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update eth rpc urls (#12552)
  monitoring/exporters/sdk/main.js
  monitoring/prometheus/.env.prod
  monitoring/prometheus/.env.stage
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/scripts/sandbox.ts
  packages/mobile/src/services/env/env.prod.ts
  packages/mobile/src/services/env/env.stage.ts
  packages/protocol-dashboard/.env.stage
  packages/sdk/src/sdk/config/production.ts
  packages/sdk/src/sdk/config/staging.ts
  packages/sdk/src/sdk/scripts/generateServicesConfig.ts
  packages/web/src/services/env/env.prod.ts
  packages/web/src/services/env/env.stage.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow

Conditionally show chat message artist coin header
  packages/common/src/api/tan-query/coins/useArtistCoin.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useShouldShowArtistCoinMessageHeader.ts
  packages/mobile/src/screens/chat-screen/ArtistCoinHeader.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/sdk/src/sdk/api/chats/ChatsApi.ts
  packages/sdk/src/sdk/api/chats/serverTypes.ts
  packages/web/src/pages/chat-page/components/ArtistCoinHeader.tsx
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

update
  packages/common/src/api/tan-query/coins/useArtistCoin.ts
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useArtistCoinMessageHeader.ts
  packages/common/src/hooks/useShouldShowArtistCoinMessageHeader.ts
  packages/mobile/src/screens/chat-screen/ArtistCoinHeader.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/web/src/pages/chat-page/components/ArtistCoinHeader.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

artistCoins
  packages/common/src/api/tan-query/queryKeys.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

!!
  packages/common/src/hooks/useArtistCoinMessageHeader.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Audius Protocol v0.7.201
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

lookup icon
  packages/common/src/api/tan-query/coins/useArtistCoin.ts
  packages/common/src/hooks/useArtistCoinMessageHeader.ts
  packages/mobile/src/screens/chat-screen/ArtistCoinHeader.tsx
  packages/web/src/pages/chat-page/components/ArtistCoinHeader.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix artist coin badge showing when 0 balance
  packages/web/src/components/user-badges/UserBadges.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

log
  packages/web/src/pages/chat-page/components/ArtistCoinHeader.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

cleanup
  packages/web/src/components/user-badges/UserBadges.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

linear
  packages/common/src/api/tan-query/coins/useArtistCoin.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Make asset detail page more generic
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useFormattedTokenBalance.ts
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
  packages/web/src/pages/asset-detail-page/components/BalanceSection.tsx
  packages/web/src/pages/asset-detail-page/constants.ts
  packages/web/src/pages/pay-and-earn-page/components/YourCoins.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Remove USDC
  packages/web/src/pages/asset-detail-page/constants.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6530] Conditionally show chat message artist coin header (#12559)
  packages/common/src/api/tan-query/coins/useArtistCoin.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useArtistCoinMessageHeader.ts
  packages/mobile/src/screens/chat-screen/ArtistCoinHeader.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/sdk/src/sdk/api/chats/ChatsApi.ts
  packages/sdk/src/sdk/api/chats/serverTypes.ts
  packages/web/src/pages/chat-page/components/ArtistCoinHeader.tsx
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

[PE-6539] Fix artist coin badge showing when 0 balance (#12560)
  packages/web/src/components/user-badges/UserBadges.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

clean up
  packages/harmony/src/components/artwork/Artwork.tsx
  packages/web/src/components/track/Artwork.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Include spl_usdc_payout_wallet in user updates
  packages/common/src/adapters/user.ts
  packages/sdk/src/sdk/api/users/types.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Type
  packages/web/src/components/track/Artwork.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Revert space delete
  packages/harmony/src/components/artwork/Artwork.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

nullable
  packages/common/src/adapters/user.ts
  packages/sdk/src/sdk/api/users/types.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Fix setting usdc payout wallet
  .changeset/large-cats-speak.md
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix setting USDC payout wallet (#12563)
  .changeset/large-cats-speak.md
  packages/common/src/adapters/user.ts
  packages/sdk/src/sdk/api/users/types.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Address comments
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/coins/useArtistCoinMembers.ts
  packages/common/src/api/tan-query/coins/useCoin.ts
  packages/web/src/components/user-list/lists/CoinLeaderboardUserList.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6509] Add web coin leaderboard modal (#12556)
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/coins/useArtistCoinMembers.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/user-list/coin-leaderboard/actions.ts
  packages/common/src/store/user-list/coin-leaderboard/reducers.ts
  packages/common/src/store/user-list/coin-leaderboard/selectors.ts
  packages/common/src/store/user-list/coin-leaderboard/types.ts
  packages/common/src/store/user-list/index.ts
  packages/web/src/components/CoinApiMocks.tsx
  packages/web/src/components/artist/ArtistChip.tsx
  packages/web/src/components/user-list-modal/UserListModal.tsx
  packages/web/src/components/user-list/UserList.tsx
  packages/web/src/components/user-list/lists/CoinLeaderboardUserList.tsx
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
  packages/web/src/store/application/ui/userListModal/sagas.ts
  packages/web/src/store/application/ui/userListModal/types.ts
  packages/web/src/test/mocks/browser.js
  packages/web/src/test/mocks/coin-api.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Revert "Fix setting USDC payout wallet (#12563)"
  .changeset/large-cats-speak.md
  packages/common/src/adapters/user.ts
  packages/sdk/src/sdk/api/users/types.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

fix gesture handler
  packages/mobile/src/app/App.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add track tile carousel skeleton and fix width
  packages/mobile/src/screens/explore-screen/components/ActiveDiscussions.tsx
  packages/mobile/src/screens/explore-screen/components/RecentPremiumTracks.tsx
  packages/mobile/src/screens/explore-screen/components/RecommendedTracks.tsx
  packages/mobile/src/screens/explore-screen/components/TrackTileCarousel.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Finalize
  packages/mobile/src/components/comments/CommentPreview.tsx
  packages/mobile/src/screens/notifications-screen/Notification/EntityLink.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/CommentNotification.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6505] Update in-app notif navigation for comments to highlight comment (#12554)
  packages/mobile/src/components/comments/CommentPreview.tsx
  packages/mobile/src/screens/notifications-screen/Notification/EntityLink.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/CommentNotification.tsx
  packages/web/src/components/notification/Notification/CommentNotification.tsx
  packages/web/src/components/notification/Notification/components/EntityLink.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Search/explore mobile web pass (#12562)
  packages/harmony/src/components/radio-group/RadioGroup.tsx
  packages/web/src/components/link/UserLink.tsx
  packages/web/src/components/track/Artwork.tsx
  packages/web/src/components/user-card/UserCard.tsx
  packages/web/src/pages/explore-page/components/desktop/ExploreSection.tsx
  packages/web/src/pages/explore-page/components/mobile/SearchExplorePage.tsx
  packages/web/src/pages/search-page/RecentSearches.tsx
  packages/web/src/pages/search-page/search-results/AllResults.tsx
  packages/web/src/pages/trending-page/components/RewardsBanner.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add track tile carousel skeleton and fix width (#12565)
  packages/mobile/src/screens/explore-screen/components/ActiveDiscussions.tsx
  packages/mobile/src/screens/explore-screen/components/RecentPremiumTracks.tsx
  packages/mobile/src/screens/explore-screen/components/RecommendedTracks.tsx
  packages/mobile/src/screens/explore-screen/components/TrackTileCarousel.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Only skip top 20 trending in underground trending
  packages/discovery-provider/src/queries/get_underground_trending.py
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Audius Protocol v0.7.202
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix mobile lint
  packages/mobile/src/screens/explore-screen/components/TrackTileCarousel.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow
