Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-eth-contracts-workflow, run-contracts-workflow

.circleci/config.yml:

# This is probably not the file you want to edit, you probably want to create/update
# files in .circleci/{commands,jobs,workflows}

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

parameters:
  workflow:
    type: string
    default: "main"

  # Run all workflows for branches that match this regex
  run-all-workflows-branch-regex:
    type: string
    default: /(^main)|(^release.*)$/

  # release-audius-sdk params
  sdk-release-commit:
    type: string
    default: ""
  sdk-release-version:
    type: string
    default: ""
  sdk-release-preid:
    type: string
    default: ""

jobs:
  # Generate the CircleCI continue_config.yml from .circleci/src
  generate-config:
    docker:
      - image: cimg/base:2021.04
    steps:
      # The circleci cli exposed in the image doesn't support config packing
      # so we install a version that does
      - run:
          name: Install cli
          command: curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=~/cli bash
      - checkout
      - run:
          name: Generate config
          command: ~/cli config pack .circleci/src > .circleci/continue_config.yml
      - persist_to_workspace:
          root: ./
          paths:
            - .circleci/continue_config.yml
workflows:
  setup:
    when:
      not:
        equal: [scheduled_pipeline, << pipeline.trigger_source >>]
    jobs:
      - generate-config
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            discovery-provider/.* run-discovery-workflow true
            creator-node/.* run-creator-workflow true
            identity-service/.* run-identity-workflow true

            comms/.* run-discovery-workflow true
            comms/.* run-creator-workflow true

            mediorum/.* run-discovery-workflow true
            mediorum/.* run-creator-workflow true

            libs/.* run-creator-workflow true
            libs/.* run-identity-workflow true

            eth-contracts/.* run-eth-contracts-workflow true
            contracts/.* run-contracts-workflow true

            .circleci/.* run-discovery-workflow true
            .circleci/.* run-creator-workflow true
            .circleci/.* run-identity-workflow true
            .circleci/.* run-eth-contracts-workflow true
            .circleci/.* run-contracts-workflow true
          name: trigger-relevant-workflows
          filters:
            branches:
              ignore: << pipeline.parameters.run-all-workflows-branch-regex >>
          requires:
            - generate-config
            - init
          workspace_path: ../workspace

      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          name: trigger-all-workflows
          filters:
            branches:
              only: << pipeline.parameters.run-all-workflows-branch-regex >>
          parameters: '{
            "run-web-workflow": true,
            "run-mobile-workflow": true,
            "run-stems-workflow": true
            }'
          pre-steps:
            - attach_workspace:
                at: ../workspace
          requires:
            - generate-config
            - init

  generate-release:
    when:
      and:
        - equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - equal: ["generate-release", << pipeline.schedule.name >>]
    jobs:
      - generate-release

Clean up
  dev-tools/compose/docker-compose.test.yml
Due: none

[PAY-1145] DMs: Add InboxUnavailableModal (#3369)
  packages/common/src/models/Analytics.ts
  packages/common/src/store/pages/chat/selectors.ts
  packages/common/src/store/pages/chat/types.ts
  packages/stems/src/assets/icons/iconMessageLocked.svg
  packages/stems/src/assets/icons/iconTipping.svg
  packages/stems/src/components/Icons/index.ts
  packages/web/src/components/inbox-unavailable-modal/InboxUnavailableModal.module.css
  packages/web/src/components/inbox-unavailable-modal/InboxUnavailableModal.tsx
  packages/web/src/components/stat-banner/StatBanner.module.css
  packages/web/src/components/stat-banner/StatBanner.tsx
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
Due: none

[PAY-1145] DMs: Add InboxUnavailableModal (#3369)
  apps/audius-client/packages/common/src/models/Analytics.ts
  apps/audius-client/packages/common/src/store/pages/chat/selectors.ts
  apps/audius-client/packages/common/src/store/pages/chat/types.ts
  apps/audius-client/packages/stems/src/assets/icons/iconMessageLocked.svg
  apps/audius-client/packages/stems/src/assets/icons/iconTipping.svg
  apps/audius-client/packages/stems/src/components/Icons/index.ts
  apps/audius-client/packages/web/src/components/inbox-unavailable-modal/InboxUnavailableModal.module.css
  apps/audius-client/packages/web/src/components/inbox-unavailable-modal/InboxUnavailableModal.tsx
  apps/audius-client/packages/web/src/components/stat-banner/StatBanner.module.css
  apps/audius-client/packages/web/src/components/stat-banner/StatBanner.tsx
  apps/audius-client/packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  apps/audius-client/packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
Due: none

Comment out flakey test
  contracts/test/userReplicaSetManager.js
Due: run-contracts-workflow

Improve new CI workflows (#5257)
  .circleci/config.yml
  .circleci/src/@continue_config.yml
  .circleci/src/jobs/release-audius-sdk.yml
  .circleci/src/workflows/sdk.yml
  contracts/test/userReplicaSetManager.js
  dev-tools/compose/docker-compose.test.yml
  libs/package.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-eth-contracts-workflow, run-contracts-workflow

forgot to init scans
  discovery-provider/plugins/pedalboard/scripts/sandbox.ts
  discovery-provider/plugins/pedalboard/src/app.ts
  discovery-provider/plugins/pedalboard/src/db.ts
  discovery-provider/plugins/pedalboard/src/index.ts
  discovery-provider/plugins/pedalboard/src/listener.ts
  discovery-provider/plugins/pedalboard/src/queue.ts
  discovery-provider/plugins/pedalboard/src/server.ts
Due: run-discovery-workflow

gen models
  discovery-provider/plugins/pedalboard/package.json
  discovery-provider/plugins/pedalboard/scripts/genModels.ts
  discovery-provider/plugins/pedalboard/src/models.ts
Due: run-discovery-workflow

@audius/sdk: v2.0.3-beta.22
  libs/package-lock.json
  libs/package.json
Due: run-creator-workflow, run-identity-workflow

remove notes lol
  discovery-provider/plugins/pedalboard/README.md
  discovery-provider/plugins/pedalboard/scripts/sandbox.ts
  discovery-provider/plugins/pedalboard/src/app.ts
Due: run-discovery-workflow

add instructions to connect to containerized db
  discovery-provider/plugins/pedalboard/README.md
Due: run-discovery-workflow

gen models from stage
  discovery-provider/plugins/pedalboard/scripts/genModels.ts
  discovery-provider/plugins/pedalboard/scripts/sandbox.ts
  discovery-provider/plugins/pedalboard/src/models.ts
Due: run-discovery-workflow

Clean up notifications tests (#5251)
  .circleci/src/commands/gcp-run.yml
  discovery-provider/plugins/notifications/src/__tests__/mappings/announcement.test.ts
  discovery-provider/plugins/notifications/src/__tests__/mappings/challengeReward.test.ts
  discovery-provider/plugins/notifications/src/__tests__/mappings/cosign.test.ts
  discovery-provider/plugins/notifications/src/__tests__/mappings/create.test.ts
  discovery-provider/plugins/notifications/src/__tests__/mappings/multipleMappings.test.ts
  discovery-provider/plugins/notifications/src/__tests__/mappings/reaction.test.ts
  discovery-provider/plugins/notifications/src/__tests__/mappings/remix.test.ts
  discovery-provider/plugins/notifications/src/__tests__/mappings/repost.test.ts
  discovery-provider/plugins/notifications/src/__tests__/mappings/repostOfRepost.test.ts
  discovery-provider/plugins/notifications/src/__tests__/mappings/save.test.ts
  discovery-provider/plugins/notifications/src/__tests__/mappings/saveOfRepost.test.ts
  discovery-provider/plugins/notifications/src/__tests__/mappings/tip.test.ts
  discovery-provider/plugins/notifications/src/__tests__/mappings/userNotificationSettings.test.ts
  discovery-provider/plugins/notifications/src/__tests__/processEmailNotifications.test.ts
  discovery-provider/plugins/notifications/src/__tests__/processPushNotification.test.ts
  discovery-provider/plugins/notifications/src/listener.ts
  discovery-provider/plugins/notifications/src/main.ts
  discovery-provider/plugins/notifications/src/remoteConfig.ts
  discovery-provider/plugins/notifications/src/utils/populateDB.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-eth-contracts-workflow, run-contracts-workflow

health check
  discovery-provider/plugins/pedalboard/package-lock.json
  discovery-provider/plugins/pedalboard/package.json
  discovery-provider/plugins/pedalboard/scripts/sandbox.ts
  discovery-provider/plugins/pedalboard/src/models.ts
  discovery-provider/plugins/pedalboard/src/server.ts
Due: run-discovery-workflow

sandbox version works
  discovery-provider/plugins/pedalboard/scripts/sandbox.ts
  discovery-provider/plugins/pedalboard/src/app.ts
  discovery-provider/plugins/pedalboard/src/server.ts
Due: run-discovery-workflow

sandbox demo
  discovery-provider/plugins/pedalboard/scripts/sandbox.ts
  discovery-provider/plugins/pedalboard/scripts/server.ts
  discovery-provider/plugins/pedalboard/src/app.ts
  discovery-provider/plugins/pedalboard/src/server.ts
Due: run-discovery-workflow

formatting
  discovery-provider/plugins/pedalboard/scripts/sandbox.ts
Due: run-discovery-workflow

limit on cid_log query
  mediorum/server/cid_log_server.go
Due: run-discovery-workflow, run-creator-workflow

Implement getAddress correctly
  libs/package-lock.json
  libs/package.json
  libs/src/sdk/services/Auth/AppAuth.ts
Due: run-creator-workflow, run-identity-workflow

Allow AuthService to accept apiKey and apiSecret (#5232)
  libs/package-lock.json
  libs/package.json
  libs/src/sdk/api/chats/ChatsApi.ts
  libs/src/sdk/api/tracks/TracksApi.ts
  libs/src/sdk/sdk.ts
  libs/src/sdk/services/Auth/AppAuth.ts
  libs/src/sdk/services/Auth/Auth.ts
  libs/src/sdk/services/Auth/index.ts
  libs/src/sdk/services/Auth/types.ts
  libs/src/sdk/services/EntityManager/EntityManager.ts
  libs/src/sdk/services/EntityManager/types.ts
  libs/src/sdk/services/WalletApi/WalletApi.ts
  libs/src/sdk/services/WalletApi/index.ts
  libs/src/sdk/services/WalletApi/types.ts
  libs/src/sdk/services/index.ts
  sdk-consumer/index.ts
Due: run-creator-workflow, run-identity-workflow

Add limit to cid beam query
  mediorum/ddl/ddl.go
  mediorum/server/cid_log_client.go
  mediorum/server/cid_log_test.go
  mediorum/server/health.go
  mediorum/server/server.go
Due: run-discovery-workflow, run-creator-workflow

Cid beam limit (#5260)
  mediorum/ddl/ddl.go
  mediorum/server/cid_log_client.go
  mediorum/server/cid_log_server.go
  mediorum/server/cid_log_test.go
  mediorum/server/health.go
  mediorum/server/server.go
Due: run-discovery-workflow, run-creator-workflow

Add mediorum
  .circleci/src/workflows/creator.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-eth-contracts-workflow, run-contracts-workflow

Add mediorum (#5261)
  .circleci/src/workflows/creator.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-eth-contracts-workflow, run-contracts-workflow

Add mediorum test
  .circleci/src/workflows/creator.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-eth-contracts-workflow, run-contracts-workflow

Add mediorum test (#5262)
  .circleci/src/workflows/creator.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-eth-contracts-workflow, run-contracts-workflow

Remove prune
  .circleci/src/jobs/build-gcp-image.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-eth-contracts-workflow, run-contracts-workflow

Fix URSM
  contracts/test/userReplicaSetManager.js
Due: run-contracts-workflow

Separate main and release CI flows
  .circleci/config.yml
  .circleci/src/jobs/build-gcp-image.yml
  .circleci/src/workflows/creator.yml
  .circleci/src/workflows/discovery.yml
  .circleci/src/workflows/identity.yml
  dev-tools/audius-compose
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-eth-contracts-workflow, run-contracts-workflow

Use mediorum to block releases
  .circleci/src/workflows/creator.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-eth-contracts-workflow, run-contracts-workflow

Prevent more flakes
  creator-node/test/StateMonitoringManager.test.js
  creator-node/test/audiusUsers.test.js
Due: run-creator-workflow

[C-2615] Fix favorite tracks error due to empty track entries on web mobile (#3386)
  packages/web/src/components/add-to-playlist/mobile/AddToPlaylist.tsx
  packages/web/src/pages/explore-page/components/mobile/CollectionsPage.tsx
  packages/web/src/pages/explore-page/components/mobile/ExplorePage.tsx
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
Due: none

[C-2615] Fix favorite tracks error due to empty track entries on web mobile (#3386)
  apps/audius-client/packages/web/src/components/add-to-playlist/mobile/AddToPlaylist.tsx
  apps/audius-client/packages/web/src/pages/explore-page/components/mobile/CollectionsPage.tsx
  apps/audius-client/packages/web/src/pages/explore-page/components/mobile/ExplorePage.tsx
  apps/audius-client/packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
Due: none

Separate main and release CI flows (#5258)
  .circleci/config.yml
  .circleci/src/jobs/build-gcp-image.yml
  .circleci/src/workflows/creator.yml
  .circleci/src/workflows/discovery.yml
  .circleci/src/workflows/identity.yml
  contracts/test/userReplicaSetManager.js
  creator-node/test/StateMonitoringManager.test.js
  creator-node/test/audiusUsers.test.js
  dev-tools/audius-compose
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-eth-contracts-workflow, run-contracts-workflow

No release on main
  .circleci/config.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-eth-contracts-workflow, run-contracts-workflow

No release on main (#5263)
  .circleci/config.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-eth-contracts-workflow, run-contracts-workflow

do not merge
  discovery-provider/README.md
Due: run-discovery-workflow

Drop unused libs test script
  libs/package.json
  libs/scripts/circleci-test.sh
Due: run-creator-workflow, run-identity-workflow

Drop unused libs test script (#5264)
  libs/package.json
  libs/scripts/circleci-test.sh
Due: run-creator-workflow, run-identity-workflow

Increase container size for libs release
  .circleci/src/jobs/release-audius-sdk.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-eth-contracts-workflow, run-contracts-workflow

Increase container size for libs release (#5266)
  .circleci/src/jobs/release-audius-sdk.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-eth-contracts-workflow, run-contracts-workflow
