Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: ((((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: (((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-integration-workflow: ((any of: packages/web/e2e/.*) or (any of: .*)) or (any of: .*)
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*

Remove tooltips
  packages/web/src/pages/asset-detail-page/components/ArtistCoinDetailsModal.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

add launchpad analytics
  packages/common/src/models/Analytics.ts
  packages/common/src/models/Launchpad.ts
  packages/common/src/models/index.ts
  packages/web/src/hooks/useLaunchCoin.ts
  packages/web/src/pages/artist-coins-launchpad-page/LaunchpadPage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/CoinFormFields.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/LaunchpadBuyModal.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/LaunchpadModals.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/types.ts
  packages/web/src/pages/artist-coins-launchpad-page/pages/BuyCoinPage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/pages/ReviewPage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/pages/SetupPage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/utils.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix rounding
  packages/common/src/store/ui/buy-sell/useTokenAmountFormatting.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix rounding in buy/sell flow to match cash wallet (#13065)
  packages/common/src/store/ui/buy-sell/useTokenAmountFormatting.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

remove log
  packages/common/src/hooks/useAnalytics.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Comment
  packages/web/src/pages/artist-coins-launchpad-page/components/TokenInfoRow.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Remove information icons that don't have tooltip assigned (#13064)
  packages/web/src/pages/artist-coins-launchpad-page/components/TokenInfoRow.tsx
  packages/web/src/pages/asset-detail-page/components/ArtistCoinDetailsModal.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Enable verified user check on launchpad
  packages/web/src/pages/artist-coins-launchpad-page/LaunchpadPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

update explore UI
  packages/web/src/pages/artist-coins-explore-page/ArtistCoinsExplorePage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

update explore page and launchpad page if you already have a coin
  packages/web/src/pages/artist-coins-launchpad-page/LaunchpadPage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/LaunchPanel.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/index.ts
  packages/web/src/pages/artist-coins-launchpad-page/pages/SplashPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

cleanup
  packages/web/src/pages/artist-coins-launchpad-page/LaunchpadPage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/pages/SplashPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Remove deprecated chain health checks in dashboard
  packages/protocol-dashboard/src/components/NodeOverview/NodeOverview.tsx
  packages/protocol-dashboard/src/hooks/useNodeHealth.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update copy for edit flow
  packages/common/src/messages/edit.ts
  packages/web/src/components/edit/fields/RemixSettingsField/RemixSettingsField.tsx
  packages/web/src/components/edit/fields/RemixSettingsField/RemixSettingsMenuFields.tsx
  packages/web/src/components/edit/fields/StemsAndDownloadsField.tsx
  packages/web/src/components/edit/fields/StemsAndDownloadsMenuFields.tsx
  packages/web/src/components/edit/fields/download-availability/DownloadAvailability.tsx
  packages/web/src/components/edit/fields/price-and-audience/PriceAndAudienceField.tsx
  packages/web/src/components/edit/fields/price-and-audience/PriceAndAudienceMenuFields.tsx
  packages/web/src/components/edit/fields/stream-availability/collectible-gated/CollectibleGatedRadioField.tsx
  packages/web/src/components/edit/fields/stream-availability/token-gated/TokenGatedDescription.tsx
  packages/web/src/components/edit/fields/stream-availability/token-gated/TokenGatedRadioField.tsx
  packages/web/src/components/edit/fields/stream-availability/usdc-purchase-gated/UsdcPurchaseGatedRadioField.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Update description color
  packages/web/src/components/data-entry/ContextualMenu.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6840] Update copy for edit flow (#13069)
  packages/common/src/messages/edit.ts
  packages/web/src/components/data-entry/ContextualMenu.tsx
  packages/web/src/components/edit/fields/RemixSettingsField/RemixSettingsField.tsx
  packages/web/src/components/edit/fields/RemixSettingsField/RemixSettingsMenuFields.tsx
  packages/web/src/components/edit/fields/StemsAndDownloadsField.tsx
  packages/web/src/components/edit/fields/StemsAndDownloadsMenuFields.tsx
  packages/web/src/components/edit/fields/download-availability/DownloadAvailability.tsx
  packages/web/src/components/edit/fields/price-and-audience/PriceAndAudienceField.tsx
  packages/web/src/components/edit/fields/price-and-audience/PriceAndAudienceMenuFields.tsx
  packages/web/src/components/edit/fields/stream-availability/collectible-gated/CollectibleGatedRadioField.tsx
  packages/web/src/components/edit/fields/stream-availability/token-gated/TokenGatedDescription.tsx
  packages/web/src/components/edit/fields/stream-availability/token-gated/TokenGatedRadioField.tsx
  packages/web/src/components/edit/fields/stream-availability/usdc-purchase-gated/UsdcPurchaseGatedRadioField.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Launchpad tooltip copy tweaks
  packages/web/src/pages/artist-coins-launchpad-page/pages/ReviewPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6813] Launchpad analytics (#13066)
  packages/common/src/models/Analytics.ts
  packages/common/src/models/Launchpad.ts
  packages/common/src/models/index.ts
  packages/web/src/hooks/useLaunchCoin.ts
  packages/web/src/pages/artist-coins-launchpad-page/LaunchpadPage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/CoinFormFields.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/LaunchpadBuyModal.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/LaunchpadModals.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/WalletSetupCard.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/types.ts
  packages/web/src/pages/artist-coins-launchpad-page/pages/BuyCoinPage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/pages/ReviewPage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/pages/SetupPage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/utils.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

trim prefix
  comms/discovery/pubkeystore/recover_core.go
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Audius Protocol v0.7.253
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update sign in flow to handle deactivated accounts
  packages/common/src/models/Analytics.ts
  packages/web/src/common/store/pages/signon/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PROTO-2032] Remove deprecated chain health checks in dashboard (#13068)
  packages/protocol-dashboard/src/components/NodeOverview/NodeOverview.tsx
  packages/protocol-dashboard/src/hooks/useNodeHealth.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[QA-2285] Update sign in flow to handle deactivated accounts (#13071)
  packages/common/src/models/Analytics.ts
  packages/web/src/common/store/pages/signon/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

empty DN allowlist to speed up libs init in dashboard
  packages/protocol-dashboard/src/services/Audius/discoveryNodeSelector.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Empty DN allowlist to speed up libs init in dashboard (#13072)
  packages/protocol-dashboard/src/services/Audius/discoveryNodeSelector.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Small mobile artist coin style fixes
  packages/mobile/src/screens/coin-details-screen/components/ExternalWalletsCard.tsx
  packages/mobile/src/screens/notifications-screen/Notification/NotificationProfilePictureList.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

sdk
  packages/sdk/src/sdk/api/generated/default/models/UpdateCoinRequest.ts
  packages/sdk/src/sdk/api/generated/default/models/UpdateCoinResponse.ts
  packages/sdk/src/sdk/api/generated/full/apis/CoinsApi.ts
  packages/sdk/src/sdk/api/generated/full/models/Coin.ts
  packages/sdk/src/sdk/api/generated/full/models/CoinResponse.ts
  packages/sdk/src/sdk/api/generated/full/models/CoinsResponse.ts
  packages/sdk/src/sdk/api/generated/full/models/CreateCoinRequest.ts
  packages/sdk/src/sdk/api/generated/full/models/CreateCoinResponse.ts
  packages/sdk/src/sdk/api/generated/full/models/CreateCoinResponseData.ts
  packages/sdk/src/sdk/api/generated/full/models/UpdateCoinRequest.ts
  packages/sdk/src/sdk/api/generated/full/models/UpdateCoinResponse.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow

more sdk
  packages/sdk/src/sdk/api/generated/default/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/default/apis/CoinsApi.ts
  packages/sdk/src/sdk/api/generated/default/models/index.ts
  packages/sdk/src/sdk/api/generated/full/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/full/apis/UsersApi.ts
  packages/sdk/src/sdk/api/generated/full/apis/index.ts
  packages/sdk/src/sdk/api/generated/full/models/index.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow

[PE-6993, PE-6999] Small mobile artist coin style fixes (#13073)
  packages/mobile/src/screens/coin-details-screen/components/ExternalWalletsCard.tsx
  packages/mobile/src/screens/notifications-screen/Notification/NotificationProfilePictureList.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix dust bug
  packages/common/src/store/ui/buy-sell/hooks/useTokenData.ts
  packages/common/src/store/ui/buy-sell/types/swap.types.ts
  packages/common/src/store/ui/buy-sell/useTokenSwapForm.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

UI wip
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useEditCoinDetailsFormConfiguration.ts
  packages/common/src/messages/coinDetailsMessages.ts
  packages/common/src/utils/route.ts
  packages/web/src/app/web-player/WebPlayer.jsx
  packages/web/src/pages/asset-detail-page/AssetDetailPage.tsx
  packages/web/src/pages/asset-detail-page/AssetDetailTabs.tsx
  packages/web/src/pages/edit-coin-details-page/EditCoinDetailsPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-7014] Fix dust bug (#13074)
  packages/common/src/store/ui/buy-sell/hooks/useTokenData.ts
  packages/common/src/store/ui/buy-sell/types/swap.types.ts
  packages/common/src/store/ui/buy-sell/useTokenSwapForm.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Increase size of dropdown
  packages/web/src/components/buy-sell-modal/components/TokenDropdown.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

edit button
  packages/common/src/messages/coinDetailsMessages.ts
  packages/web/src/pages/asset-detail-page/AssetDetailTabs.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

sdk
  packages/sdk/src/sdk/api/generated/default/models/Coin.ts
  packages/sdk/src/sdk/api/generated/default/models/UpdateCoinRequest.ts
  packages/sdk/src/sdk/api/generated/full/models/Coin.ts
  packages/sdk/src/sdk/api/generated/full/models/UpdateCoinRequest.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow

Fix mobile chat message item border radius issues
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Limit connected wallets to one account
  packages/common/src/messages/coinDetailsMessages.ts
  packages/common/src/messages/walletMessages.ts
  packages/discovery-provider/src/tasks/entity_manager/entities/user.py
  packages/web/src/hooks/useConnectAndAssociateWallets.ts
  packages/web/src/pages/asset-detail-page/components/ExternalWallets.tsx
  packages/web/src/pages/audio-page/components/modals/ConnectedWalletsModal.tsx
  packages/web/src/pages/wallet-page/components/LinkedWallets.tsx
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Use CoinGecko for AUDIO stats
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/coins/useCoinGeckoCoin.ts
  packages/common/src/utils/coinMetrics.ts
  packages/common/src/utils/route.ts
  packages/mobile/src/screens/coin-details-screen/components/CoinInsightsCard.tsx
  packages/web/src/pages/asset-detail-page/components/ArtistCoinDetailsModal.tsx
  packages/web/src/pages/asset-detail-page/components/AssetInsights.tsx
  packages/web/src/pages/asset-detail-page/components/AssetInsightsOverflowMenu.tsx
  packages/web/src/pages/asset-detail-page/components/mobile/ArtistCoinDetailsPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[QA-2352] Increase size of dropdown to avoid wrapping (#13075)
  packages/web/src/components/buy-sell-modal/components/TokenDropdown.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update balance sections
  packages/mobile/src/components/buy-sell/CryptoBalanceSection.tsx
  packages/mobile/src/components/buy-sell/SwapBalanceSection.tsx
  packages/web/src/components/buy-sell-modal/CryptoBalanceSection.tsx
  packages/web/src/components/buy-sell-modal/SwapBalanceSection.tsx
  packages/web/src/components/buy-sell-modal/USDCBalanceSection.tsx
  packages/web/src/components/receive-tokens-modal/ReceiveTokensModal.tsx
  packages/web/src/components/send-tokens-modal/SendTokensConfirmation.tsx
  packages/web/src/components/send-tokens-modal/SendTokensFailure.tsx
  packages/web/src/components/send-tokens-modal/SendTokensInput.tsx
  packages/web/src/components/send-tokens-modal/SendTokensSuccess.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update mobile
  packages/mobile/src/components/buy-sell/CryptoBalanceSection.tsx
  packages/mobile/src/components/buy-sell/USDCBalanceSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow
