Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: ((((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: (((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-integration-workflow: ((any of: packages/web/e2e/.*) or (any of: .*)) or (any of: .*)
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*

[PE-6591] Add imageUrl to comment notification
  packages/discovery-provider/plugins/notifications/src/__tests__/mappings/comment.test.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/comment.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Remove TokenRegistry and being refactor
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/coins/tokenUtils.ts
  packages/common/src/api/tan-query/jupiter/constants.ts
  packages/common/src/api/tan-query/jupiter/types.ts
  packages/common/src/api/tan-query/jupiter/useSwapTokens.ts
  packages/common/src/hooks/useArtistCoinMessageHeader.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/audius-backend/solana.ts
  packages/common/src/services/index.ts
  packages/common/src/services/tokens/TokenRegistry.ts
  packages/common/src/services/tokens/index.ts
  packages/common/src/services/tokens/tokenConfigs.ts
  packages/common/src/services/tokens/types.ts
  packages/common/src/services/tokens/utils.ts
  packages/common/src/store/ui/buy-audio/constants.ts
  packages/common/src/store/ui/buy-sell/constants.ts
  packages/common/src/store/ui/buy-sell/index.ts
  packages/common/src/store/ui/buy-sell/useTokens.ts
  packages/common/src/store/ui/shared/tokenConstants.ts
  packages/web/src/components/buy-sell-modal/BuySellFlow.tsx
  packages/web/src/components/buy-sell-modal/BuyTab.tsx
  packages/web/src/components/buy-sell-modal/SwapTab.tsx
  packages/web/src/components/buy-sell-modal/TokenAmountSection.tsx
  packages/web/src/pages/chat-page/components/ArtistCoinHeader.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix DMs playlist tile playback
  packages/common/src/hooks/chats/useTrackPlayer.ts
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Audius Protocol v0.7.210
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix ConnectedWallets typeerror in mobile (#12617)
  packages/common/src/api/tan-query/wallets/useAudioBalance.ts
  packages/mobile/src/components/audio-breakdown-drawer/AudioBreakdownDrawer.tsx
  packages/web/src/pages/audio-page/components/modals/AudioBreakdownModal.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[QA-2241] Fix DMs playlist tile playback (#12621)
  packages/common/src/hooks/chats/useTrackPlayer.ts
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Update content node
  packages/discovery-provider/plugins/notifications/src/utils/env.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6591] Add imageUrl to comment notification (#12619)
  packages/discovery-provider/plugins/notifications/src/__tests__/mappings/comment.test.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/comment.ts
  packages/discovery-provider/plugins/notifications/src/utils/env.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Updates to flashlist, more accurate sizes and more
  package-lock.json
  packages/mobile/ios/Podfile.lock
  packages/mobile/package.json
  packages/mobile/src/components/track-list/TrackList.tsx
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
  packages/mobile/src/screens/notifications-screen/NotificationList.tsx
  packages/mobile/src/screens/user-list-screen/UserList.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

fix list screen height
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
  performance-log.md
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

fix type
  packages/mobile/src/components/track-list/TrackList.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update end_date logic for remix contest
  packages/discovery-provider/src/tasks/entity_manager/entities/event.py
  packages/web/src/components/edit/fields/DatePickerField.tsx
  packages/web/src/components/host-remix-contest-modal/HostRemixContestModal.tsx
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Revert "[PE-6449] Add Rich Push (#12597)"
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/ios/RichPushExtension/Info.plist
  packages/mobile/ios/RichPushExtension/NotificationService.swift
  packages/mobile/ios/fastlane/Fastfile
  packages/mobile/src/app/App.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

update mobile
  packages/mobile/src/components/host-remix-contest-drawer/HostRemixContestDrawer.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix staging ios build by avoiding harmony build
  packages/mobile/turbo.json
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix staging ios build by avoiding harmony build (#12625)
  packages/mobile/turbo.json
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[QA-2260] Update end_date logic for remix contest (#12623)
  packages/discovery-provider/src/tasks/entity_manager/entities/event.py
  packages/mobile/src/components/host-remix-contest-drawer/HostRemixContestDrawer.tsx
  packages/web/src/components/edit/fields/DatePickerField.tsx
  packages/web/src/components/host-remix-contest-modal/HostRemixContestModal.tsx
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Filter for actually shadow banned users
  packages/discovery-provider/plugins/notifications/src/processNotifications/indexAppNotifications.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Remove rpcpool ref from unit test
  packages/discovery-provider/src/solana/solana_client_manager_unit_test.py
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Remove unused solana-programs/anchor folder
  monitoring/prometheus/package-lock.json
  solana-programs/anchor/audius-data/.eslintignore
  solana-programs/anchor/audius-data/.eslintrc.js
  solana-programs/anchor/audius-data/.gitignore
  solana-programs/anchor/audius-data/Anchor.toml
  solana-programs/anchor/audius-data/Cargo.lock
  solana-programs/anchor/audius-data/Cargo.toml
  solana-programs/anchor/audius-data/README.md
  solana-programs/anchor/audius-data/cli/README.md
  solana-programs/anchor/audius-data/cli/main.ts
  solana-programs/anchor/audius-data/lib/constants.ts
  solana-programs/anchor/audius-data/lib/lib.ts
  solana-programs/anchor/audius-data/lib/utils.ts
  solana-programs/anchor/audius-data/migrations/deploy.ts
  solana-programs/anchor/audius-data/package.json
  solana-programs/anchor/audius-data/programs/audius-data/Cargo.toml
  solana-programs/anchor/audius-data/programs/audius-data/Xargo.toml
  solana-programs/anchor/audius-data/programs/audius-data/src/constants.rs
  solana-programs/anchor/audius-data/programs/audius-data/src/error.rs
  solana-programs/anchor/audius-data/programs/audius-data/src/lib.rs
  solana-programs/anchor/audius-data/programs/audius-data/src/utils.rs
  solana-programs/anchor/audius-data/rollup.config.js
  solana-programs/anchor/audius-data/scripts/build-dev.sh
  solana-programs/anchor/audius-data/scripts/install-dev-dependencies.sh
  solana-programs/anchor/audius-data/scripts/parse-tx.sh
  solana-programs/anchor/audius-data/scripts/seed-tx.sh
  solana-programs/anchor/audius-data/tests/audius-data.ts
  solana-programs/anchor/audius-data/tests/playlist-social-actions.ts
  solana-programs/anchor/audius-data/tests/playlist.ts
  solana-programs/anchor/audius-data/tests/test-helpers.ts
  solana-programs/anchor/audius-data/tests/track-social-actions.ts
  solana-programs/anchor/audius-data/tests/ursm.ts
  solana-programs/anchor/audius-data/tests/user-social-actions.ts
  solana-programs/anchor/audius-data/tsconfig.json
  solana-programs/anchor/audius-data/yarn.lock
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Rename imageUrl to media-url and place it outside data
  packages/discovery-provider/plugins/notifications/src/sns.ts
  packages/mobile/ios/RichPushExtension/NotificationService.swift
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

fix java check
  scripts/postinstall.sh
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Adhere to ios rich push naming standards (#12627)
  packages/discovery-provider/plugins/notifications/src/sns.ts
  packages/mobile/ios/RichPushExtension/NotificationService.swift
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix comment notification test
  packages/discovery-provider/plugins/notifications/src/__tests__/mappings/comment.test.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix comment notification test (#12628)
  packages/discovery-provider/plugins/notifications/src/__tests__/mappings/comment.test.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix test
  packages/discovery-provider/plugins/notifications/src/__tests__/mappings/comment.test.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Remove hardcoded refs to rpcpool endpts (#12624)
  monitoring/prometheus/package-lock.json
  packages/discovery-provider/src/solana/solana_client_manager_unit_test.py
  solana-programs/anchor/audius-data/.eslintignore
  solana-programs/anchor/audius-data/.eslintrc.js
  solana-programs/anchor/audius-data/.gitignore
  solana-programs/anchor/audius-data/Anchor.toml
  solana-programs/anchor/audius-data/Cargo.lock
  solana-programs/anchor/audius-data/Cargo.toml
  solana-programs/anchor/audius-data/README.md
  solana-programs/anchor/audius-data/cli/README.md
  solana-programs/anchor/audius-data/cli/main.ts
  solana-programs/anchor/audius-data/lib/constants.ts
  solana-programs/anchor/audius-data/lib/lib.ts
  solana-programs/anchor/audius-data/lib/utils.ts
  solana-programs/anchor/audius-data/migrations/deploy.ts
  solana-programs/anchor/audius-data/package.json
  solana-programs/anchor/audius-data/programs/audius-data/Cargo.toml
  solana-programs/anchor/audius-data/programs/audius-data/Xargo.toml
  solana-programs/anchor/audius-data/programs/audius-data/src/constants.rs
  solana-programs/anchor/audius-data/programs/audius-data/src/error.rs
  solana-programs/anchor/audius-data/programs/audius-data/src/lib.rs
  solana-programs/anchor/audius-data/programs/audius-data/src/utils.rs
  solana-programs/anchor/audius-data/rollup.config.js
  solana-programs/anchor/audius-data/scripts/build-dev.sh
  solana-programs/anchor/audius-data/scripts/install-dev-dependencies.sh
  solana-programs/anchor/audius-data/scripts/parse-tx.sh
  solana-programs/anchor/audius-data/scripts/seed-tx.sh
  solana-programs/anchor/audius-data/tests/audius-data.ts
  solana-programs/anchor/audius-data/tests/playlist-social-actions.ts
  solana-programs/anchor/audius-data/tests/playlist.ts
  solana-programs/anchor/audius-data/tests/test-helpers.ts
  solana-programs/anchor/audius-data/tests/track-social-actions.ts
  solana-programs/anchor/audius-data/tests/ursm.ts
  solana-programs/anchor/audius-data/tests/user-social-actions.ts
  solana-programs/anchor/audius-data/tsconfig.json
  solana-programs/anchor/audius-data/yarn.lock
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6589] Improve mobile search/explore header
  packages/mobile/src/screens/app-screen/AccountPictureHeader.tsx
  packages/mobile/src/screens/explore-screen/SearchExploreScreen.tsx
  packages/mobile/src/screens/explore-screen/components/SearchExploreHeader.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6596] Add carousels to all results page
  packages/web/src/pages/explore-page/components/desktop/Carousel.tsx
  packages/web/src/pages/search-page/search-results/AllResults.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add safe insets
  packages/mobile/src/screens/explore-screen/components/SearchExploreHeader.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Improve derived values
  packages/mobile/src/screens/explore-screen/components/SearchExploreHeader.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Audius Protocol v0.7.211
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add unread indicator for minimized chat list items
  packages/web/src/components/link/UserLink.tsx
  packages/web/src/pages/chat-page/components/ChatListItem.module.css
  packages/web/src/pages/chat-page/components/ChatListItem.tsx
  packages/web/src/pages/chat-page/components/ChatUser.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Filter for actually shadow banned users (#12626)
  packages/discovery-provider/plugins/notifications/src/processNotifications/indexAppNotifications.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6589] Improve mobile search/explore header (#12629)
  packages/mobile/src/screens/app-screen/AccountPictureHeader.tsx
  packages/mobile/src/screens/explore-screen/SearchExploreScreen.tsx
  packages/mobile/src/screens/explore-screen/components/SearchExploreHeader.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6596] Add carousels to all results page (#12630)
  packages/web/src/pages/explore-page/components/desktop/Carousel.tsx
  packages/web/src/pages/search-page/search-results/AllResults.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update buy/sell flow to use API driven approach and get rid of `TokenRegistry` (#12620)
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/coins/tokenUtils.ts
  packages/common/src/api/tan-query/jupiter/constants.ts
  packages/common/src/api/tan-query/jupiter/types.ts
  packages/common/src/api/tan-query/jupiter/useSwapTokens.ts
  packages/common/src/hooks/useArtistCoinMessageHeader.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/audius-backend/solana.ts
  packages/common/src/services/index.ts
  packages/common/src/services/tokens/TokenRegistry.ts
  packages/common/src/services/tokens/index.ts
  packages/common/src/services/tokens/tokenConfigs.ts
  packages/common/src/services/tokens/types.ts
  packages/common/src/services/tokens/utils.ts
  packages/common/src/store/ui/buy-audio/constants.ts
  packages/common/src/store/ui/buy-sell/constants.ts
  packages/common/src/store/ui/buy-sell/index.ts
  packages/common/src/store/ui/buy-sell/useTokens.ts
  packages/common/src/store/ui/shared/tokenConstants.ts
  packages/web/src/components/buy-sell-modal/BuySellFlow.tsx
  packages/web/src/components/buy-sell-modal/BuyTab.tsx
  packages/web/src/components/buy-sell-modal/SwapTab.tsx
  packages/web/src/components/buy-sell-modal/TokenAmountSection.tsx
  packages/web/src/components/modal-loading/ModalLoading.tsx
  packages/web/src/pages/chat-page/components/ArtistCoinHeader.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Update prod bundlesize check to 111 kB
  packages/web/bundlesize.prod.config.json
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update prod bundlesize check to 111 kB (#12632)
  packages/web/bundlesize.prod.config.json
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow
