Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: ((((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: (((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-integration-workflow: ((any of: packages/web/e2e/.*) or (any of: .*)) or (any of: .*)
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*

uppercase ticker symbol
  packages/web/src/hooks/useLaunchCoin.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

lint
  packages/common/src/api/tan-query/wallets/useSendTokens.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

comment
  packages/web/src/hooks/useLaunchCoin.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6805] Initial protocol setup for token gating (#12856)
  packages/common/src/adapters/accessConditionsToSDK.ts
  packages/common/src/hooks/useAccessAndRemixSettings.test.ts
  packages/common/src/hooks/useAccessAndRemixSettings.ts
  packages/common/src/hooks/useGatedContent.ts
  packages/common/src/hooks/useTrackAccessTypeLabel.ts
  packages/common/src/models/AccessType.ts
  packages/common/src/models/Analytics.ts
  packages/common/src/models/Track.ts
  packages/common/src/models/TrackAvailabilityType.ts
  packages/common/src/store/gated-content/sagas.ts
  packages/discovery-provider/integration_tests/tasks/entity_manager/test_track_entity_manager.py
  packages/discovery-provider/src/gated_content/types.py
  packages/mobile/src/components/core/AccessTypeLabel.tsx
  packages/mobile/src/components/track-details-tile/TrackDetailsTile.tsx
  packages/sdk/src/sdk/api/tracks/types.ts
  packages/web/src/common/store/cache/tracks/sagaHelpers.ts
  packages/web/src/components/access-type-label/AccessTypeLabel.tsx
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

[PE-6750] Buy modal v2
  packages/harmony/src/components/button/index.ts
  packages/harmony/src/components/popup-menu/types.tsx
  packages/harmony/src/components/popup/Popup.tsx
  packages/web/src/components/buy-sell-modal/BuyTab.tsx
  packages/web/src/components/buy-sell-modal/components/InputTokenSection.tsx
  packages/web/src/components/buy-sell-modal/components/OutputTokenSection.tsx
  packages/web/src/components/buy-sell-modal/components/TokenDropdown.tsx
  packages/web/src/components/buy-sell-modal/index.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

rework backend to only use lamports
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/package.json
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/index.ts
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/routes/launchpad/launch_coin.ts
  packages/sdk/src/sdk/services/Solana/SolanaRelay.ts
  packages/sdk/src/sdk/services/Solana/types.ts
  packages/web/src/hooks/useLaunchCoin.ts
  packages/web/src/pages/artist-coins-launchpad-page/LaunchpadPage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/LaunchpadModal.tsx
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow

rename quote
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/routes/launchpad/launch_coin.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix update issue
  packages/web/src/components/buy-sell-modal/BuyTab.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

update coin description copy
  packages/web/src/pages/artist-coins-launchpad-page/components/LaunchpadModal.tsx
  packages/web/src/pages/artist-coins-launchpad-page/constants.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

tweak comment
  packages/web/src/hooks/useLaunchCoin.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Audius Protocol v0.7.240
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

final PR touches
  packages/sdk/src/sdk/services/Solana/SolanaRelay.ts
  packages/web/src/hooks/useLaunchCoin.ts
  packages/web/src/pages/artist-coins-launchpad-page/LaunchpadPage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/LaunchpadModal.tsx
  packages/web/src/pages/artist-coins-launchpad-page/constants.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow

[PE-6792] Send tokens ptimistic update balance (#12863)
  packages/common/src/api/tan-query/wallets/useSendTokens.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6727] Add asset insights overflow menu (#12857)
  packages/common/src/messages/coinDetailsMessages.ts
  packages/common/src/utils/route.ts
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/screens/coin-details-screen/components/AssetInsightsOverflowMenu.tsx
  packages/mobile/src/screens/coin-details-screen/components/CoinInsightsCard.tsx
  packages/mobile/src/store/drawers/slice.ts
  packages/web/src/pages/asset-detail-page/components/AssetInsights.tsx
  packages/web/src/pages/asset-detail-page/components/AssetInsightsOverflowMenu.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6688] Follows you redesign (#12849)
  packages/mobile/src/components/user/FollowsYouBadge.tsx
  packages/web/src/components/artist/ArtistCardCover.module.css
  packages/web/src/components/artist/ArtistChip.module.css
  packages/web/src/components/artist/ArtistChipFollowers.tsx
  packages/web/src/components/user-badges/FollowsYouBadge.module.css
  packages/web/src/components/user-badges/FollowsYouBadge.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfileHeader.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update sdk
  packages/sdk/src/sdk/api/generated/default/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/default/models/CreateCoinRequest.ts
  packages/sdk/src/sdk/api/generated/default/models/CreateCoinResponseData.ts
  packages/sdk/src/sdk/api/generated/default/models/ExtendedAccessGate.ts
  packages/sdk/src/sdk/api/generated/default/models/ExtendedTokenGate.ts
  packages/sdk/src/sdk/api/generated/default/models/PurchaseGate.ts
  packages/sdk/src/sdk/api/generated/default/models/TokenGate.ts
  packages/sdk/src/sdk/api/generated/default/models/index.ts
  packages/sdk/src/sdk/api/generated/full/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/full/models/AccessGate.ts
  packages/sdk/src/sdk/api/generated/full/models/ExtendedTokenGate.ts
  packages/sdk/src/sdk/api/generated/full/models/TokenGate.ts
  packages/sdk/src/sdk/api/generated/full/models/index.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow

Cursor rules file for Audius style guide
  .cursor/rules/audius-style-guide.mdc
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6799] Web artist coin explore page
  packages/common/src/store/ui/modals/buy-sell-modal/index.ts
  packages/common/src/utils/route.ts
  packages/harmony/src/utils/formatCount.ts
  packages/web/src/app/web-player/WebPlayer.jsx
  packages/web/src/components/buy-sell-modal/BuySellFlow.tsx
  packages/web/src/components/buy-sell-modal/BuySellModal.tsx
  packages/web/src/components/buy-sell-modal/BuyTab.tsx
  packages/web/src/components/buy-sell-modal/SwapTab.tsx
  packages/web/src/components/buy-sell-modal/types.ts
  packages/web/src/components/nav/desktop/nav-items/ArtistCoinsNavItem.tsx
  packages/web/src/components/table/Table.tsx
  packages/web/src/pages/all-coins-page/AllCoinsPage.tsx
  packages/web/src/pages/artist-coins-explore-page/ArtistCoinsExplorePage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/ArtistCoinsTable.module.css
  packages/web/src/pages/artist-coins-launchpad-page/components/ArtistCoinsTable.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/index.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6803] Fix rank badge to show best position (#12854)
  packages/common/src/api/tan-query/tracks/useTrackRank.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Update types
  .changeset/metal-dolls-arrive.md
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update types
  packages/sdk/src/sdk/api/generated/default/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/default/models/ExtendedAccessGate.ts
  packages/sdk/src/sdk/api/generated/default/models/ExtendedPurchaseGate.ts
  packages/sdk/src/sdk/api/generated/default/models/index.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow

Add description to create coin endpoint
  packages/web/src/hooks/useLaunchCoin.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Audius Protocol v0.7.241
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

archiver: skip parent track if not downloadable
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/workers/createStemsArchive/createStemsArchive.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update upload flow to include token gating
  packages/common/src/schemas/upload/uploadFormSchema.ts
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/common/store/upload/sagaHelpers.ts
  packages/web/src/components/edit/fields/helpers.ts
  packages/web/src/components/edit/fields/price-and-audience/PriceAndAudienceField.tsx
  packages/web/src/components/edit/fields/price-and-audience/PriceAndAudienceMenuFields.tsx
  packages/web/src/components/edit/fields/stream-availability/token-gated/TokenGatedDescription.tsx
  packages/web/src/components/edit/fields/stream-availability/token-gated/TokenGatedRadioField.tsx
  packages/web/src/components/modal-radio/ModalRadioItem.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

small update
  packages/web/src/components/data-entry/ContextualMenu.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

small harmony update
  packages/harmony/src/components/artwork/Artwork.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

add comment to artwork
  packages/harmony/src/components/artwork/Artwork.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6815] Update SDK types and add description to coin creation flow (#12865)
  .changeset/metal-dolls-arrive.md
  packages/sdk/src/sdk/api/generated/default/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/default/models/CreateCoinRequest.ts
  packages/sdk/src/sdk/api/generated/default/models/CreateCoinResponseData.ts
  packages/sdk/src/sdk/api/generated/default/models/ExtendedAccessGate.ts
  packages/sdk/src/sdk/api/generated/default/models/ExtendedTokenGate.ts
  packages/sdk/src/sdk/api/generated/default/models/TokenGate.ts
  packages/sdk/src/sdk/api/generated/default/models/index.ts
  packages/sdk/src/sdk/api/generated/full/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/full/models/AccessGate.ts
  packages/sdk/src/sdk/api/generated/full/models/ExtendedTokenGate.ts
  packages/sdk/src/sdk/api/generated/full/models/TokenGate.ts
  packages/sdk/src/sdk/api/generated/full/models/index.ts
  packages/web/src/hooks/useLaunchCoin.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow

archiver: skip parent track if not downloadable (#12866)
  packages/discovery-provider/plugins/pedalboard/apps/archiver/src/workers/createStemsArchive/createStemsArchive.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix download all when parent track is not downloadable
  packages/mobile/src/screens/track-screen/DownloadSection.tsx
  packages/web/src/components/track/DownloadSection.tsx
  packages/web/src/pages/track-page/components/mobile/DownloadSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update api call
  packages/common/src/api/tan-query/tracks/useDownloadTrackStems.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

fixup! [PE-6799] Web artist coin explore page
  packages/web/src/pages/artist-coins-explore-page/ArtistCoinsExplorePage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/ArtistCoinsTable.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fixes
  packages/mobile/src/screens/buy-sell-screen/components/BuyScreen.tsx
  packages/web/src/components/buy-sell-modal/BuyTab.tsx
  packages/web/src/components/buy-sell-modal/TokenAmountSection.tsx
  packages/web/src/components/buy-sell-modal/components/TokenDropdown.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Show artist coin badge based on user endpoint (#12852)
  packages/common/src/adapters/user.ts
  packages/common/src/models/User.ts
  packages/common/src/utils/formatUtil.ts
  packages/mobile/src/components/user-badges/UserBadges.tsx
  packages/web/src/components/hover-card/ArtistCoinHoverCard.tsx
  packages/web/src/components/hover-card/AudioHoverCard.tsx
  packages/web/src/components/user-badges/UserBadges.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Buy modal fixes
  packages/common/src/messages/buySell.ts
  packages/common/src/store/ui/buy-sell/useTokenSwapForm.ts
  packages/harmony/src/components/modal/ModalFooter.module.css
  packages/harmony/src/components/modal/ModalFooter.tsx
  packages/harmony/src/components/modal/types.ts
  packages/web/src/components/buy-sell-modal/BuySellFlow.tsx
  packages/web/src/components/buy-sell-modal/BuySellModal.tsx
  packages/web/src/components/buy-sell-modal/BuyTab.tsx
  packages/web/src/components/buy-sell-modal/TokenAmountSection.tsx
  packages/web/src/components/buy-sell-modal/TokenIcon.tsx
  packages/web/src/components/buy-sell-modal/components/InputTokenSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

More fixes
  packages/web/src/components/buy-sell-modal/BuySellModal.tsx
  packages/web/src/components/buy-sell-modal/BuyTab.tsx
  packages/web/src/components/buy-sell-modal/components/OutputTokenSection.tsx
  packages/web/src/components/buy-sell-modal/components/StaticTokenDisplay.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow
