Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-e2e-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: .*)
  run-creator-workflow: (((any of: mediorum/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-identity-workflow: (((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-integration-workflow: (((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)) or (any of: .*)
  run-ddex-webapp-workflow: (((any of: packages/ddex/webapp/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/webapp/.*)
  run-ddex-e2e-workflow: ((((any of: packages/ddex/webapp/.*) or (any of: packages/ddex/ingester/.*)) or (any of: .circleci/.*)) or (any of: packages/ddex/webapp/.*)) or (any of: packages/ddex/ingester/.*)
  run-ddex-publisher-workflow: (((any of: packages/ddex/publisher/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/publisher/.*)
  run-eth-contracts-workflow: (((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-healthz-workflow: ((any of: monitoring/healthz/.*) or (any of: .circleci/.*)) or (any of: monitoring/healthz/.*)
  run-protocol-dashboard-workflow: (((((any of: protocol-dashboard/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: protocol-dashboard/.*)) or (any of: .*)
  run-contracts-workflow: (((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-sdk-workflow: ((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/libs/.*)) or (any of: .*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/web/.*)) or (any of: .*)
  run-mobile-workflow: (((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/mobile/.*)) or (any of: .*)
  run-harmony-workflow: (((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-embed-workflow: (((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/libs/.*)) or (any of: packages/embed/.*)
  run-release-workflow=false: any of: .*
  run-common-workflow: any of: packages/common/.*
  run-create-audius-app-workflow: (((any of: packages/libs/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/libs/.*)) or (any of: packages/create-audius-app/.*)
  run-ddex-stage-workflow: any of: .*
  run-release-workflow: any of: .*

Update sdk with changeset
  .changeset/breezy-avocados-sip.md
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

sprinkle in a lil validation
  packages/discovery-provider/plugins/pedalboard/apps/mri/src/server.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

bring in Ray's utils
  packages/discovery-provider/plugins/pedalboard/apps/mri/src/csv.ts
  packages/discovery-provider/plugins/pedalboard/apps/mri/src/date.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Fix error handling
  packages/web/src/common/store/pages/audio-rewards/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[PAY-3009] Fix seller email notification subject
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/usdcPurchaseSeller.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Upgrade to major bump
  .changeset/breezy-avocados-sip.md
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

add feature flag
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/app/web-player/WebPlayer.jsx
  packages/web/src/pages/search-page-v2/SearchPageV2.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

add in Ray's queries
  package-lock.json
  packages/discovery-provider/plugins/pedalboard/apps/mri/package.json
  packages/discovery-provider/plugins/pedalboard/apps/mri/src/report.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

add account switching to modals; some manager mode cleanup
  packages/common/src/audius-query/types.ts
  packages/web/src/pages/settings-page/components/desktop/ManagerMode/AccountListItem.tsx
  packages/web/src/pages/settings-page/components/desktop/ManagerMode/AccountsManagingYouHomePage.tsx
  packages/web/src/pages/settings-page/components/desktop/ManagerMode/AccountsYouManageHomePage.tsx
  packages/web/src/pages/settings-page/components/desktop/ManagerMode/RemoveManagerConfirmationContent.tsx
  packages/web/src/pages/settings-page/components/desktop/ManagerMode/sharedMessages.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

option 1- undo optimistic changes upon error
  packages/common/src/api/account.ts
  packages/common/src/audius-query/createApi.ts
  packages/common/src/audius-query/types.ts
  packages/web/src/pages/settings-page/components/desktop/ManagerMode/AccountsYouManageHomePage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Fail check-generated-types.sh faster with git --no-pager
  packages/libs/scripts/check-generated-types.sh
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

fill in wallet
  packages/common/src/api/account.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

tell user to refresh
  packages/web/src/pages/settings-page/components/desktop/ManagerMode/sharedMessages.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Update mobile apps to .97
  packages/mobile/android/app/build.gradle
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[QA-1246] Fix system appearance responsiveness (#8470)
  packages/web/src/app/AppProviders.tsx
  packages/web/src/app/ThemeProvider.tsx
  packages/web/src/store/application/ui/theme/sagas.ts
  packages/web/src/store/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[PAY-2982] Address collection card fixes (#8466)
  packages/web/src/components/collection/CollectionCard.tsx
  packages/web/src/components/lineup/CardLineup.module.css
  packages/web/src/components/lineup/CardLineup.tsx
  packages/web/src/pages/search-page/components/desktop/SearchPageContent.jsx
  packages/web/src/pages/search-page/components/desktop/SearchPageContent.module.css
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

fill in grantee address in optimistic update for approve account
  packages/common/src/api/account.ts
  packages/web/src/pages/settings-page/components/desktop/ManagerMode/AccountsYouManageHomePage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Fail check-generated-types.sh faster with git --no-pager (#8472)
  packages/libs/scripts/check-generated-types.sh
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

separate out into specific report files
  packages/discovery-provider/plugins/pedalboard/apps/mri/src/reports/clientLabelMetadata.ts
  packages/discovery-provider/plugins/pedalboard/apps/mri/src/reports/financialReporting.ts
  packages/discovery-provider/plugins/pedalboard/apps/mri/src/reports/usageDetailReporting.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Fix android playback by setting default maxBuffer
  packages/mobile/src/app/App.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

wip
  packages/libs/src/sdk/api/challenges/ChallengesApi.ts
  packages/libs/src/sdk/services/Solana/programs/ClaimableTokensClient/ClaimableTokensClient.ts
  packages/web/src/common/store/pages/audio-rewards/sagas.ts
  packages/web/src/pages/audio-rewards-page/ChallengeRewardsTile.tsx
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewardsModal/ChallengeRewardsModal.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Fix android playback by setting default maxBuffer (#8474)
  packages/mobile/src/app/App.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Update mobile apps to .97 (#8473)
  packages/mobile/android/app/build.gradle
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

IT WORKS
  packages/common/src/store/player/slice.ts
  packages/common/src/store/player/types.ts
  packages/common/src/store/queue/selectors.ts
  packages/common/src/store/queue/slice.ts
  packages/common/src/store/queue/types.ts
  packages/mobile/src/components/now-playing-drawer/Artwork.tsx
  packages/mobile/src/components/now-playing-drawer/PlayBar.tsx
  packages/mobile/src/components/now-playing-drawer/TrackInfo.tsx
  packages/web/src/common/store/lineup/sagas.ts
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/common/store/queue/sagas.ts
  packages/web/src/components/nav/desktop/NowPlayingArtworkTile.tsx
  packages/web/src/components/play-bar/desktop/components/PlayingTrackInfo.tsx
  packages/web/src/components/play-bar/mobile/PlayBar.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

[DOCS] - Audius Node Migration Guide Page (#8469)
  docs/docs/node-operator/migration-guide.mdx
  docs/docs/node-operator/setup/installation.mdx
  docs/sidebars.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

fix for resume play
  packages/web/src/common/store/player/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

reset queue on switching play button
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[PAY-3009] Fix seller email notification subject (#8471)
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/usdcPurchaseSeller.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[PAY-3005] Bring back aao error emojis (#8468)
  .changeset/breezy-avocados-sip.md
  packages/libs/src/sdk/api/challenges/ChallengesApi.ts
  packages/web/src/common/store/pages/audio-rewards/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Add a test and error handling
  packages/discovery-provider/integration_tests/tasks/payment_router_mock_transactions.py
  packages/discovery-provider/integration_tests/tasks/test_index_payment_router.py
  packages/discovery-provider/src/tasks/index_payment_router.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

taking a stab at mobile
  packages/common/src/hooks/chats/useTrackPlayer.ts
  packages/common/src/store/player/index.ts
  packages/common/src/store/player/utils.ts
  packages/mobile/src/components/audio/AudioPlayer.tsx
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/components/follow-artist-card/selectArtistsPreviewContext.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Revert "REMOVE PRIORITY FEES"
  packages/libs/src/services/solana/SolanaWeb3Manager.ts
  packages/libs/src/services/solana/transfer.ts
  packages/libs/src/services/solana/userBank.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Fix generated types
  packages/libs/src/sdk/api/generated/full/.openapi-generator/FILES
  packages/libs/src/sdk/api/generated/full/models/DownloadMetadata.ts
  packages/libs/src/sdk/api/generated/full/models/TrackFull.ts
  packages/libs/src/sdk/api/generated/full/models/index.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

small fixes
  packages/mobile/src/screens/collection-screen/CollectionDownloadStatusRow.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

collections working
  packages/common/src/store/player/utils.ts
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

mobile no work; sad
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/web/src/pages/track-page/TrackPageProvider.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow
