Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-e2e-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: .*)
  run-creator-workflow: (((any of: mediorum/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-identity-workflow: (((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-integration-workflow: (((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)) or (any of: .*)
  run-ddex-webapp-workflow: (((any of: packages/ddex/webapp/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/webapp/.*)
  run-ddex-e2e-workflow: ((((any of: packages/ddex/webapp/.*) or (any of: packages/ddex/ingester/.*)) or (any of: .circleci/.*)) or (any of: packages/ddex/webapp/.*)) or (any of: packages/ddex/ingester/.*)
  run-ddex-publisher-workflow: (((any of: packages/ddex/publisher/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/publisher/.*)
  run-eth-contracts-workflow: (((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-healthz-workflow: ((any of: monitoring/healthz/.*) or (any of: .circleci/.*)) or (any of: monitoring/healthz/.*)
  run-protocol-dashboard-workflow: (((((any of: protocol-dashboard/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: protocol-dashboard/.*)) or (any of: .*)
  run-contracts-workflow: (((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-sdk-workflow: ((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/libs/.*)) or (any of: .*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/web/.*)) or (any of: .*)
  run-mobile-workflow: (((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/mobile/.*)) or (any of: .*)
  run-harmony-workflow: (((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-embed-workflow: (((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/libs/.*)) or (any of: packages/embed/.*)
  run-release-workflow=false: any of: .*
  run-common-workflow: any of: packages/common/.*
  run-create-audius-app-workflow: (((any of: packages/libs/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/libs/.*)) or (any of: packages/create-audius-app/.*)
  run-ddex-stage-workflow: any of: .*
  run-release-workflow: any of: .*

Pass dispatch in
  packages/mobile/src/screens/search-screen-v2/SearchBarV2.tsx
  packages/mobile/src/screens/search-screen-v2/SearchScreenV2.tsx
  packages/mobile/src/screens/search-screen-v2/search-results/TrackResults.tsx
  packages/web/src/common/store/pages/search-page/lineups/tracks/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Pass filters in to lineup saga
  packages/mobile/src/screens/search-screen-v2/SearchBarV2.tsx
  packages/mobile/src/screens/search-screen-v2/SearchCategoriesAndFilters.tsx
  packages/mobile/src/screens/search-screen-v2/SearchScreenV2.tsx
  packages/mobile/src/screens/search-screen-v2/search-results/TrackResults.tsx
  packages/web/src/common/store/pages/search-page/lineups/tracks/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Add mobile FilterBpmScreen for new search screen
  packages/common/src/utils/musicalKeys.ts
  packages/mobile/src/screens/list-selection-screen/ListSelectionScreen.tsx
  packages/mobile/src/screens/list-selection-screen/SelectionItemList.tsx
  packages/mobile/src/screens/search-screen-v2/SearchCategoriesAndFilters.tsx
  packages/mobile/src/screens/search-screen-v2/SearchScreenV2.tsx
  packages/mobile/src/screens/search-screen-v2/screens/FilterBpmScreen.tsx
  packages/mobile/src/screens/search-screen-v2/screens/index.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Remove unused import
  packages/mobile/src/screens/search-screen-v2/SearchScreenV2.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Remove feature flag check
  packages/web/src/common/store/pages/search-page/lineups/tracks/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[C-4687] Wire up mobile advanced search tracks lineup (#9030)
  packages/common/src/api/search.ts
  packages/mobile/src/screens/search-screen-v2/SearchCategoriesAndFilters.tsx
  packages/mobile/src/screens/search-screen-v2/search-results/TrackResults.tsx
  packages/web/src/common/store/pages/search-page/lineups/tracks/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

wip
  packages/common/src/store/reducers.ts
  packages/common/src/store/sagas.ts
  packages/common/src/store/ui/index.ts
  packages/common/src/store/ui/modals/index.ts
  packages/common/src/store/ui/modals/publish-content-modal.ts
  packages/common/src/store/ui/publish-playlist-confirmation-modal/sagas.ts
  packages/common/src/store/ui/publish-playlist-confirmation-modal/selectors.ts
  packages/common/src/store/ui/publish-playlist-confirmation-modal/slice.ts
  packages/common/src/store/ui/publish-playlist-confirmation-modal/types.ts
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileActionButtons.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/components/lineup-tile/types.ts
  packages/mobile/src/components/overflow-menu-drawer/CollectionOverflowMenuDrawer.tsx
  packages/mobile/src/components/publish-playlist-drawer/PublishPlaylistDrawer.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
  packages/mobile/src/store/sagas.ts
  packages/web/src/components/track/OwnerActionButtons.tsx
  packages/web/src/components/track/ViewerActionButtons.tsx
  packages/web/src/components/track/desktop/BottomRow.tsx
  packages/web/src/components/track/desktop/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/desktop/PlaylistTile.tsx
  packages/web/src/components/track/desktop/TrackTile.module.css
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/types.ts
  packages/web/src/store/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Migrate to private rpc for saga deployment (#9014)
  .circleci/src/commands/@mobile-commands.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-e2e-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

lint
  packages/libs/src/api/Account.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Update dapp-store build artifacts
  packages/mobile/dapp-store/.asset-manifest.json
  packages/mobile/dapp-store/config.yaml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Lint and typecheck
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/mobile/src/screens/sign-on-screen/screens/SignInScreen.tsx
  packages/web/src/common/store/pages/signon/actions.ts
  packages/web/src/common/store/pages/signon/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

[C-4586] Add mobile FilterBpmScreen for new search screen (#9029)
  packages/common/src/utils/musicalKeys.ts
  packages/mobile/src/screens/list-selection-screen/ListSelectionScreen.tsx
  packages/mobile/src/screens/list-selection-screen/SelectionItemList.tsx
  packages/mobile/src/screens/search-screen-v2/SearchCategoriesAndFilters.tsx
  packages/mobile/src/screens/search-screen-v2/SearchScreenV2.tsx
  packages/mobile/src/screens/search-screen-v2/screens/FilterBpmScreen.tsx
  packages/mobile/src/screens/search-screen-v2/screens/index.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Audius Protocol v0.6.140
  mediorum/.version.json
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

test utilities
  packages/identity-service/src/routes/authentication.js
  packages/identity-service/test/authenticationTest.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

working email change test
  packages/identity-service/src/routes/authentication.js
  packages/identity-service/test/authenticationTest.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

a lot more validation
  packages/identity-service/src/routes/authentication.js
  packages/identity-service/test/authenticationTest.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

validation with otp added
  packages/identity-service/test/authenticationTest.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

added this in validation tests
  packages/identity-service/test/authenticationTest.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

associate user
  packages/identity-service/test/authenticationTest.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

bad sig test
  packages/identity-service/test/authenticationTest.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

flow didn't change
  packages/identity-service/test/authenticationTest.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

rm comment
  packages/common/src/hooks/useChangeEmailFormConfiguration.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Audius Protocol v0.6.141
  mediorum/.version.json
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Undo showing social button for hidden tracks
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/web/src/components/track/mobile/ConnectedTrackListItem.tsx
  packages/web/src/components/tracks-table/TracksTable.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Do not show hidden tracks and playlists in library unless purchase category, in mobile web
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Do not show hidden tracks in listening history
  packages/web/src/pages/history-page/HistoryPageProvider.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Do not show hidden tracks and playlists in library unless purchase category in web
  packages/web/src/pages/saved-page/components/desktop/AlbumsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Hide action buttons for hidden tracks in library
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/web/src/components/track/mobile/ConnectedTrackListItem.tsx
  packages/web/src/components/tracks-table/TracksTable.tsx
  packages/web/src/pages/saved-page/components/desktop/AlbumsTabPage.tsx
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Add AlbumResults and PlaylistResults
  packages/common/src/audius-query/createApi.ts
  packages/common/src/audius-query/schema.ts
  packages/common/src/audius-query/types.ts
  packages/mobile/src/components/collection-list/CollectionCard.tsx
  packages/mobile/src/screens/search-screen-v2/search-results/AlbumResults.tsx
  packages/mobile/src/screens/search-screen-v2/search-results/PlaylistResults.tsx
  packages/mobile/src/screens/search-screen-v2/search-results/SearchResults.tsx
  packages/mobile/src/screens/search-screen-v2/searchState.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Connect remaining mobile search filters
  packages/common/src/api/search.ts
  packages/mobile/src/screens/search-screen-v2/SearchCategoriesAndFilters.tsx
  packages/mobile/src/screens/search-screen-v2/screens/FilterGenreScreen.tsx
  packages/mobile/src/screens/search-screen-v2/screens/FilterMoodScreen.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

[C-4641 C-4654 C-4648] Edit track page fixes
  packages/web/src/components/data-entry/ContextualMenu.module.css
  packages/web/src/components/data-entry/ContextualMenu.tsx
  packages/web/src/components/edit/fields/DatePickerField.module.css
  packages/web/src/components/edit/fields/visibility/ReleaseDateField.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Connect remaining mobile search filters (#9032)
  packages/common/src/api/search.ts
  packages/mobile/src/screens/search-screen-v2/SearchCategoriesAndFilters.tsx
  packages/mobile/src/screens/search-screen-v2/screens/FilterGenreScreen.tsx
  packages/mobile/src/screens/search-screen-v2/screens/FilterMoodScreen.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

[PAY-3125] Add SDK support for location in transaction (#8904)
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/routes/instruction/location.ts
  packages/libs/src/sdk/api/albums/AlbumsApi.test.ts
  packages/libs/src/sdk/api/albums/AlbumsApi.ts
  packages/libs/src/sdk/api/tracks/TracksApi.test.ts
  packages/libs/src/sdk/api/tracks/TracksApi.ts
  packages/libs/src/sdk/sdk.ts
  packages/libs/src/sdk/services/Solana/SolanaRelay.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

[C-4652] Fix track update access conditions
  packages/web/src/common/store/cache/tracks/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Add tests for updating track access conditions
  packages/discovery-provider/integration_tests/tasks/entity_manager/test_track_entity_manager.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[C-4652] Fix track update access conditions (#9035)
  packages/web/src/common/store/cache/tracks/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

use collectible_gate
  packages/discovery-provider/integration_tests/tasks/entity_manager/test_track_entity_manager.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Lint
  packages/common/src/audius-query/createApi.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

[C-4688] Add AlbumResults and PlaylistResults for advanced search (#9031)
  packages/common/src/audius-query/createApi.ts
  packages/common/src/audius-query/schema.ts
  packages/common/src/audius-query/types.ts
  packages/mobile/src/components/collection-list/CollectionCard.tsx
  packages/mobile/src/screens/search-screen-v2/search-results/AlbumResults.tsx
  packages/mobile/src/screens/search-screen-v2/search-results/PlaylistResults.tsx
  packages/mobile/src/screens/search-screen-v2/search-results/SearchResults.tsx
  packages/mobile/src/screens/search-screen-v2/searchState.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow
