Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-e2e-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

[C-3251] Fix initial state for hidden price-audience field (#9276)
  packages/mobile/src/components/edit/PriceAndAudienceField/PriceAndAudienceScreen.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[C-3251] Fix initial state for hidden price-audience field (#9276)
  packages/mobile/src/screens/edit-track-screen/screens/PriceAndAudienceScreen.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Improve form screen revert
  packages/mobile/src/components/edit/PriceAndAudienceField/PriceAndAudienceScreen.tsx
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
  packages/mobile/src/screens/form-screen/FormScreen.tsx
  packages/mobile/src/screens/form-screen/useRevertOnCancel.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Improve mobile inner-form revert (#9277)
  packages/mobile/src/components/edit/PriceAndAudienceField/PriceAndAudienceScreen.tsx
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
  packages/mobile/src/screens/form-screen/FormScreen.tsx
  packages/mobile/src/screens/form-screen/useRevertOnCancel.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Improve mobile inner-form revert (#9277)
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
  packages/mobile/src/screens/edit-track-screen/screens/PriceAndAudienceScreen.tsx
  packages/mobile/src/screens/form-screen/FormScreen.tsx
  packages/mobile/src/screens/form-screen/useRevertOnCancel.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Test program working
  packages/mobile/ios/Podfile.lock
  solana-programs/crowdfund/Anchor.toml
  solana-programs/crowdfund/Cargo.lock
  solana-programs/crowdfund/Cargo.toml
  solana-programs/crowdfund/migrations/deploy.ts
  solana-programs/crowdfund/package.json
  solana-programs/crowdfund/programs/crowdfund/Cargo.toml
  solana-programs/crowdfund/programs/crowdfund/Xargo.toml
  solana-programs/crowdfund/programs/crowdfund/src/lib.rs
  solana-programs/crowdfund/tests/crowdfund.ts
  solana-programs/crowdfund/tsconfig.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Fix previously scheduled edit flow
  packages/mobile/src/components/edit/VisibilityField/VisibilityScreen.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Fix previously scheduled edit flow (#9278)
  packages/mobile/src/components/edit/VisibilityField/VisibilityScreen.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Fix previously scheduled edit flow (#9278)
  packages/mobile/src/screens/edit-track-screen/fields/VisibilityField/VisibilityScreen.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

working user bank creation and sign up
  packages/common/src/hooks/purchaseContent/usePurchaseContentFormConfiguration.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/cache/users/selectors.ts
  packages/common/src/store/purchase-content/sagas.ts
  packages/libs/src/api/Account.ts
  packages/libs/src/api/Users.ts
  packages/libs/src/sdk/api/tracks/TracksApi.ts
  packages/web/src/components/coinflow-onramp-modal/CoinflowOnrampModal.tsx
  packages/web/src/components/premium-content-purchase-modal/PremiumContentPurchaseModal.tsx
  packages/web/src/components/track/GatedContentSection.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Connect split donations to the front end
  packages/libs/src/sdk/api/users/UsersApi.ts
  packages/libs/src/sdk/api/users/types.ts
  packages/libs/src/sdk/sdk.ts
  packages/web/src/pages/split-donation-page/SplitDonationPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Add support for token selection
  packages/common/src/hooks/purchaseContent/constants.ts
  packages/common/src/hooks/purchaseContent/usePurchaseContentFormConfiguration.ts
  packages/common/src/hooks/purchaseContent/validation.ts
  packages/web/src/components/payment-method/PaymentMethod.tsx
  packages/web/src/components/payment-method/TokenPicker.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseContentFormFields.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Add more UI
  packages/common/src/store/tipping/selectors.ts
  packages/common/src/store/tipping/slice.ts
  packages/common/src/store/tipping/types.ts
  packages/web/src/components/nav/desktop/NavMenuButton.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfileLeftNav.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.module.css
  packages/web/src/pages/split-donation-page/SplitDonationPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Add email field
  packages/common/src/api/account.ts
  packages/common/src/hooks/purchaseContent/constants.ts
  packages/common/src/hooks/purchaseContent/usePurchaseContentFormConfiguration.ts
  packages/common/src/hooks/purchaseContent/validation.ts
  packages/common/src/store/purchase-content/sagas.ts
  packages/common/src/store/purchase-content/slice.ts
  packages/common/src/store/ui/modals/coinflow-onramp-modal/index.ts
  packages/web/src/components/coinflow-onramp-modal/CoinflowOnrampModal.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseContentFormFields.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Add virtualized option to OptionsFilterButton
  packages/harmony/src/components/button/OptionsFilterButton/OptionsFilterButton.tsx
  packages/harmony/src/components/button/OptionsFilterButton/types.ts
  packages/web/src/components/payment-method/TokenPicker.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Wire through to saga
  packages/common/src/hooks/purchaseContent/usePurchaseContentFormConfiguration.ts
  packages/common/src/store/purchase-content/sagas.ts
  packages/common/src/store/purchase-content/slice.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Minor styling tweaks
  packages/web/src/pages/split-donation-page/SplitDonationPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

fixed type errors
  solana-programs/crowdfund/programs/crowdfund/src/lib.rs
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

working basic test calling with args
  solana-programs/crowdfund/programs/crowdfund/src/lib.rs
  solana-programs/crowdfund/tests/crowdfund.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

"that should be everything" - Marcus
  solana-programs/crowdfund/Cargo.lock
  solana-programs/crowdfund/programs/crowdfund/Cargo.toml
  solana-programs/crowdfund/programs/crowdfund/src/lib.rs
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

wip
  solana-programs/crowdfund/package.json
  solana-programs/crowdfund/programs/crowdfund/Cargo.toml
  solana-programs/crowdfund/programs/crowdfund/src/lib.rs
  solana-programs/crowdfund/tests/crowdfund.ts
  solana-programs/crowdfund/yarn.lock
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Wire through purchaseMethodMintAddress
  packages/common/src/hooks/purchaseContent/usePurchaseContentFormConfiguration.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

wip: close
  packages/common/src/models/PurchaseContent.ts
  packages/common/src/store/purchase-content/sagas.ts
  packages/common/src/store/purchase-content/slice.ts
  packages/web/src/components/premium-content-purchase-modal/components/PayWithAnything.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseContentFormFields.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Fix amounts
  packages/common/src/store/purchase-content/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

done, almost
  packages/common/src/store/purchase-content/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

ContentType enum, singular instruction arg, funded wallet in test
  solana-programs/crowdfund/Anchor.toml
  solana-programs/crowdfund/Cargo.lock
  solana-programs/crowdfund/programs/crowdfund/Cargo.toml
  solana-programs/crowdfund/programs/crowdfund/src/lib.rs
  solana-programs/crowdfund/tests/crowdfund.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

test stuff
  solana-programs/crowdfund/programs/crowdfund/src/lib.rs
  solana-programs/crowdfund/tests/crowdfund.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Audius Protocol v0.6.156
  mediorum/.version.json
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Cleanup 1
  packages/common/src/models/PurchaseContent.ts
  packages/common/src/store/purchase-content/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Cleanup 2
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/purchase-content/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Cleanup 3
  packages/common/src/store/purchase-content/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Add flag and window.solana check
  packages/web/src/components/payment-method/PaymentMethod.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseContentFormFields.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Remove temp button
  packages/web/src/components/premium-content-purchase-modal/components/PayWithAnything.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseContentFormFields.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Combine UI with sagas. It works for both tracks and albums.
  packages/common/src/store/purchase-content/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Lint
  packages/common/src/store/purchase-content/sagas.ts
  packages/common/src/store/purchase-content/slice.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

USDC
  packages/libs/src/sdk/api/users/UsersApi.ts
  packages/web/src/pages/profile-page/components/desktop/ProfileLeftNav.tsx
  packages/web/src/pages/split-donation-page/SplitDonationPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Make mint address params optional in payment method
  packages/web/src/components/payment-method/PaymentMethod.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Toggle method when token picker is opened
  packages/harmony/src/components/button/OptionsFilterButton/OptionsFilterButton.tsx
  packages/web/src/components/payment-method/PaymentMethod.tsx
  packages/web/src/components/payment-method/TokenPicker.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Add error for insufficient external token balance
  packages/common/src/hooks/purchaseContent/usePurchaseContentErrorMessage.ts
  packages/common/src/store/purchase-content/sagas.ts
  packages/common/src/store/purchase-content/types.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

PROD TEST COINFLOW
  packages/common/src/store/ui/modals/coinflow-onramp-modal/index.ts
  packages/libs/src/sdk/api/users/UsersApi.ts
  packages/libs/src/sdk/api/users/types.ts
  packages/web/src/components/coinflow-onramp-modal/CoinflowOnrampModal.tsx
  packages/web/src/pages/split-donation-page/SplitDonationPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: .*)
  run-creator-workflow: (((any of: mediorum/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-identity-workflow: (((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-integration-workflow: (((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)) or (any of: .*)
  run-ddex-webapp-workflow: (((any of: packages/ddex/webapp/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/webapp/.*)
  run-ddex-e2e-workflow: ((((any of: packages/ddex/webapp/.*) or (any of: packages/ddex/ingester/.*)) or (any of: .circleci/.*)) or (any of: packages/ddex/webapp/.*)) or (any of: packages/ddex/ingester/.*)
  run-ddex-publisher-workflow: (((any of: packages/ddex/publisher/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/publisher/.*)
  run-eth-contracts-workflow: (((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-healthz-workflow: ((any of: monitoring/healthz/.*) or (any of: .circleci/.*)) or (any of: monitoring/healthz/.*)
  run-protocol-dashboard-workflow: (((((any of: protocol-dashboard/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: protocol-dashboard/.*)) or (any of: .*)
  run-contracts-workflow: (((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-sdk-workflow: ((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/libs/.*)) or (any of: .*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/web/.*)) or (any of: .*)
  run-mobile-workflow: (((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/mobile/.*)) or (any of: .*)
  run-harmony-workflow: (((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-embed-workflow: (((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/libs/.*)) or (any of: packages/embed/.*)
  run-release-workflow=false: any of: .*
  run-common-workflow: any of: packages/common/.*
  run-create-audius-app-workflow: (((any of: packages/libs/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/libs/.*)) or (any of: packages/create-audius-app/.*)
  run-ddex-stage-workflow: any of: .*
  run-release-workflow: any of: .*
