Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

remove redis caching from trending
  packages/discovery-provider/integration_tests/tasks/test_index_trending_notification.py
  packages/discovery-provider/integration_tests/tasks/test_index_trending_playlist_notifications.py
  packages/discovery-provider/integration_tests/tasks/test_index_trending_underground_notification.py
  packages/discovery-provider/integration_tests/utils.py
  packages/discovery-provider/src/api/v1/playlists.py
  packages/discovery-provider/src/api/v1/tracks.py
  packages/discovery-provider/src/app.py
  packages/discovery-provider/src/queries/generate_unpopulated_trending_tracks.py
  packages/discovery-provider/src/queries/get_premium_tracks.py
  packages/discovery-provider/src/queries/get_trending_ids.py
  packages/discovery-provider/src/queries/get_trending_playlists.py
  packages/discovery-provider/src/queries/get_trending_tracks.py
  packages/discovery-provider/src/queries/get_underground_trending.py
  packages/discovery-provider/src/tasks/cache_trending_playlists.py
  packages/discovery-provider/src/tasks/index_trending.py
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Audius Protocol v0.7.167
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6288] Use tan-query useUSDCBalance everywhere (#12250)
  packages/common/src/api/tan-query/wallets/useUSDCBalance.ts
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/purchaseContent/usePurchaseContentFormConfiguration.ts
  packages/common/src/hooks/usePurchaseMethod.ts
  packages/common/src/hooks/useUSDCBalance.ts
  packages/mobile/src/components/add-funds-drawer/CashBalanceSection.tsx
  packages/mobile/src/components/premium-content-purchase-drawer/PremiumContentPurchaseDrawer.tsx
  packages/mobile/src/components/premium-content-purchase-drawer/hooks/usePurchaseContentFormState.ts
  packages/mobile/src/components/usdc-balance-row/USDCBalanceRow.tsx
  packages/mobile/src/harmony-native/components/BalancePill/BalancePill.tsx
  packages/mobile/src/harmony-native/components/index.ts
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/useNavConfig.tsx
  packages/mobile/src/screens/pay-and-earn-screen/USDCCard.tsx
  packages/web/src/components/add-cash/AddCash.tsx
  packages/web/src/components/nav/desktop/WalletsNestedContent.tsx
  packages/web/src/components/premium-content-purchase-modal/hooks/usePurchaseContentFormState.ts
  packages/web/src/components/premium-content-purchase-modal/pages/PurchaseContentPage.tsx
  packages/web/src/components/usdc-balance-fetcher/USDCBalanceFetcher.tsx
  packages/web/src/components/usdc-manual-transfer/USDCManualTransfer.tsx
  packages/web/src/components/withdraw-usdc-modal/WithdrawUSDCModal.tsx
  packages/web/src/components/withdraw-usdc-modal/components/ConfirmTransferDetails.tsx
  packages/web/src/components/withdraw-usdc-modal/components/EnterTransferDetails.tsx
  packages/web/src/components/withdraw-usdc-modal/components/ErrorPage.tsx
  packages/web/src/components/withdraw-usdc-modal/components/TransferSuccessful.tsx
  packages/web/src/pages/pay-and-earn-page/components/USDCCard.tsx
  packages/web/src/pages/pay-and-earn-page/components/WithdrawalsTab.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

remove undefineds from dedupe logic
  packages/common/src/api/tan-query/collection/useCollections.ts
  packages/common/src/api/tan-query/tracks/useTracks.ts
  packages/common/src/api/tan-query/users/useUsers.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[QA-2131] Fix library page infinite spinning (#12255)
  packages/common/src/api/tan-query/collection/useCollections.ts
  packages/common/src/api/tan-query/tracks/useTracks.ts
  packages/common/src/api/tan-query/users/useUsers.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Consolidate cache paths
  .circleci/config.yml
  .circleci/src/jobs/@common-jobs.yml
  .circleci/src/jobs/@create-audius-app-jobs.yml
  .circleci/src/jobs/@discovery-jobs.yml
  .circleci/src/jobs/@embed-jobs.yml
  .circleci/src/jobs/@harmony-jobs.yml
  .circleci/src/jobs/@identity-jobs.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@protocol-dashboard-jobs.yml
  .circleci/src/jobs/@sdk-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Track upload notification test (#12251)
  packages/web/src/components/notification/Notification/UserSubscriptionNotification.test.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add dropdown scroll
  packages/web/src/components/search-bar/DesktopSearchBar.module.css
  packages/web/src/components/search-bar/DesktopSearchBar.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

add karma to user scores
  packages/discovery-provider/ddl/functions/get_user_scores.sql
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add karma to user scores (#12257)
  packages/discovery-provider/ddl/functions/get_user_scores.sql
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

clean
  packages/web/src/components/search-bar/DesktopSearchBar.module.css
  packages/web/src/components/search-bar/DesktopSearchBar.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

fix trending playlists tests with removal of redis
  packages/discovery-provider/integration_tests/tasks/test_index_trending_notification.py
  packages/discovery-provider/integration_tests/tasks/test_index_trending_playlist_notifications.py
  packages/discovery-provider/integration_tests/utils.py
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix playlist nav 404s
  packages/web/src/components/nav/desktop/PlaylistLibrary/PlaylistNavItem.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

tweak function to inline return
  packages/web/src/components/nav/desktop/PlaylistLibrary/PlaylistNavItem.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix playlist nav 404s (#12259)
  packages/web/src/components/nav/desktop/PlaylistLibrary/PlaylistNavItem.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add label UI feedback fixes
  packages/common/src/utils/route.ts
  packages/web/src/app/web-player/WebPlayer.jsx
  packages/web/src/components/label-account-modal/LabelAccountModal.tsx
  packages/web/src/pages/settings-page/components/desktop/LabelAccount/LabelAccountSettingsCard.tsx
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Address comments
  packages/common/src/api/tan-query/collection/useCollectionByParams.ts
  packages/common/src/hooks/useCollectionAccessTypeLabel.ts
  packages/common/src/hooks/useGatedContent.ts
  packages/mobile/src/components/offline-downloads/CollectionDownloadStatusIndicator.tsx
  packages/mobile/src/screens/collection-screen/CollectionDownloadStatusRow.tsx
  packages/mobile/src/store/offline-downloads/sagas/watchAddTrackToPlaylistSaga.ts
  packages/web/src/components/nav/desktop/PlaylistLibrary/usePlaylistPlayingStatus.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6303] Migrate collection selectors to tan-query (#12231)
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/collection/useCollectionByParams.ts
  packages/common/src/hooks/content/useCollectionLockedStatusVariant.ts
  packages/common/src/hooks/content/useIsCollectionUnlockable.ts
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useCollectionAccessTypeLabel.ts
  packages/common/src/hooks/useGatedContent.ts
  packages/common/src/hooks/useGeneratePlaylistArtwork.ts
  packages/common/src/hooks/useSavedCollections.ts
  packages/common/src/store/account/selectors.ts
  packages/common/src/store/cache/collections/selectors.ts
  packages/common/src/store/cache/index.ts
  packages/common/src/store/pages/collection/selectors.ts
  packages/common/src/store/pages/explore/exploreCollections/selectors.ts
  packages/common/src/store/pages/profile/selectors.ts
  packages/common/src/store/saved-collections/selectors.ts
  packages/mobile/src/components/offline-downloads/CollectionDownloadStatusIndicator.tsx
  packages/mobile/src/screens/collection-screen/CollectionDownloadStatusRow.tsx
  packages/mobile/src/screens/collection-screen/useFetchCollectionLineup.ts
  packages/mobile/src/screens/collection-screen/useHasCollectionChanged.tsx
  packages/mobile/src/screens/explore-screen/tabs/ForYouTab/LetThemDJScreen.tsx
  packages/mobile/src/screens/explore-screen/tabs/ForYouTab/TopAlbumsScreen.tsx
  packages/mobile/src/screens/mood-collection-screen/MoodCollectionScreen.tsx
  packages/mobile/src/store/offline-downloads/sagas/watchAddTrackToPlaylistSaga.ts
  packages/web/src/common/store/pages/collection/lineups/sagas.js
  packages/web/src/common/store/pages/profile/lineups/feed/sagas.js
  packages/web/src/common/store/queue/sagas.ts
  packages/web/src/components/nav/desktop/PlaylistLibrary/usePlaylistPlayingStatus.ts
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/pages/collection-page/DesktopServerCollectionPage.tsx
  packages/web/src/pages/collection-page/MobileServerCollectionPage.tsx
  packages/web/src/ssr/collection/+onRenderHtml.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

PR rev
  packages/web/src/pages/settings-page/components/desktop/LabelAccount/LabelAccountSettingsCard.tsx
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6249] Improve artwork loading animation
  packages/harmony/src/components/artwork/Artwork.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add label UI feedback fixes (#12260)
  packages/common/src/utils/route.ts
  packages/web/src/app/web-player/WebPlayer.jsx
  packages/web/src/components/label-account-modal/LabelAccountModal.tsx
  packages/web/src/pages/settings-page/components/desktop/LabelAccount/LabelAccountSettingsCard.tsx
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

make loading state show loading when idle
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
  packages/web/src/pages/collection-page/components/mobile/CollectionPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Address comments
  packages/common/src/api/tan-query/utils/updateCollectionData.ts
  packages/common/src/models/User.ts
  packages/web/src/common/store/cache/collections/commonSagas.ts
  packages/web/src/common/store/cache/collections/createPlaylistSaga.ts
  packages/web/src/common/store/upload/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix playlist nav item issue
  packages/web/src/components/nav/desktop/PlaylistLibrary/PlaylistNavItem.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[QA-2112] Fix max lines prop spreading
  packages/web/src/components/link/TrackLink.tsx
  packages/web/src/components/user-generated-text/UserGeneratedTextV2.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[QA-2112] Fix max lines prop spreading (#12262)
  packages/web/src/components/link/TrackLink.tsx
  packages/web/src/components/user-generated-text/UserGeneratedTextV2.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6249] Improve artwork loading animation (#12261)
  packages/harmony/src/components/artwork/Artwork.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[API-174] Add label account settings (#12240)
  packages/common/src/adapters/user.ts
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/users/useUpdateProfile.ts
  packages/common/src/messages/settings.ts
  packages/common/src/models/User.ts
  packages/common/src/store/ui/modals/parentSlice.ts
  packages/common/src/store/ui/modals/types.ts
  packages/harmony/src/assets/icons/ArtistBadge.svg
  packages/harmony/src/assets/icons/LabelBadge.svg
  packages/harmony/src/icons/specialIcons.tsx
  packages/sdk/src/sdk/api/generated/full/models/UserFull.ts
  packages/sdk/src/sdk/api/users/types.ts
  packages/web/src/components/label-account-modal/LabelAccountModal.tsx
  packages/web/src/pages/modals/Modals.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.module.css
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

[PE-1643] Fix comment reaction indexing
  packages/discovery-provider/integration_tests/tasks/entity_manager/test_comment.py
  packages/discovery-provider/src/tasks/entity_manager/entities/comment.py
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Finalize
  packages/common/src/api/tan-query/utils/primeCollectionData.ts
  packages/web/src/common/store/pages/feed/lineup/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: ((((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: (((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-integration-workflow: ((any of: packages/web/e2e/.*) or (any of: .*)) or (any of: .*)
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*
