Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: ((((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: (((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-integration-workflow: ((any of: packages/web/e2e/.*) or (any of: .*)) or (any of: .*)
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*

[PE-6519] Send artist coin holder blast UI
  packages/mobile/src/screens/create-chat-blast-screen/ChatBlastSelectAudienceFields.tsx
  packages/web/src/pages/chat-page/components/ChatBlastModal.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6537] Add comment_id to notification action data
  packages/common/src/adapters/notification.ts
  packages/common/src/store/notifications/types.ts
  packages/discovery-provider/plugins/notifications/src/__tests__/mappings/comment.test.ts
  packages/discovery-provider/plugins/notifications/src/__tests__/mappings/commentMention.test.ts
  packages/discovery-provider/plugins/notifications/src/__tests__/mappings/commentReaction.test.ts
  packages/discovery-provider/plugins/notifications/src/__tests__/mappings/commentThread.test.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/comment.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/commentMention.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/commentReaction.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/commentThread.ts
  packages/discovery-provider/plugins/notifications/src/types/notifications.ts
  packages/discovery-provider/src/api/v1/models/notifications.py
  packages/discovery-provider/src/api/v1/utils/extend_notification.py
  packages/discovery-provider/src/tasks/entity_manager/entities/comment.py
  packages/harmony/src/hooks/useHoverDelay.ts
  packages/sdk/src/sdk/api/generated/full/models/CommentMentionNotificationActionData.ts
  packages/sdk/src/sdk/api/generated/full/models/CommentNotificationActionData.ts
  packages/sdk/src/sdk/api/generated/full/models/CommentReactionNotificationActionData.ts
  packages/sdk/src/sdk/api/generated/full/models/CommentThreadNotificationActionData.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

ff
  packages/web/src/pages/chat-page/components/ChatBlastModal.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6519] Send artist coin holder blast UI (#12538)
  packages/mobile/src/screens/create-chat-blast-screen/ChatBlastSelectAudienceFields.tsx
  packages/web/src/pages/chat-page/components/ChatBlastModal.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix mobile image fallback logic
  packages/common/src/hooks/useImageSize.ts
  packages/mobile/src/components/audio/GoogleCast.tsx
  packages/mobile/src/components/image/CollectionImage.tsx
  packages/mobile/src/components/image/CoverPhoto.tsx
  packages/mobile/src/components/image/TrackImage.tsx
  packages/mobile/src/components/image/UserImage.tsx
  packages/web/src/components/ai-attribution-modal/SearchBarResult.tsx
  packages/web/src/hooks/useCollectionCoverArt.ts
  packages/web/src/hooks/useCoverPhoto.ts
  packages/web/src/hooks/useProfilePicture.ts
  packages/web/src/hooks/useTrackCoverArt.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Address comments
  packages/web/src/pages/asset-detail-page/AssetDetailContent.tsx
  packages/web/src/pages/asset-detail-page/AssetDetailPage.tsx
  packages/web/src/pages/asset-detail-page/AssetDetailTabs.tsx
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
  packages/web/src/pages/asset-detail-page/components/AssetInsights.tsx
  packages/web/src/pages/asset-detail-page/components/BalanceSection.tsx
  packages/web/src/pages/asset-detail-page/types.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Remove commentclear
  packages/web/src/components/buy-sell-modal/SwapTab.tsx
  packages/web/src/components/buy-sell-modal/TokenAmountSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Audius Protocol v0.7.200
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6524] Add scroll to comment section on comment link (#12545)
  packages/web/src/components/comments/CommentSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix web errors and add feature flag
  packages/web/src/components/buy-sell-modal/BuySellFlow.tsx
  packages/web/src/components/buy-sell-modal/TokenAmountSection.tsx
  packages/web/src/components/buy-sell-modal/index.ts
  packages/web/src/components/buy-sell-modal/types.ts
  packages/web/src/components/hover-card/ArtistCoinHoverCard.tsx
  packages/web/src/components/user-badges/UserBadges.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix mobile errors
  packages/mobile/src/components/user-badges/UserBadges.tsx
  packages/mobile/src/screens/buy-sell-screen/BuySellFlow.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add feature flag
  packages/web/src/app/web-player/WebPlayer.jsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix lint
  packages/discovery-provider/src/api/v1/utils/extend_notification.py
  packages/discovery-provider/src/queries/get_notifications.py
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6537] Add comment_id to notification action data (#12548)
  packages/common/src/adapters/notification.ts
  packages/common/src/store/notifications/types.ts
  packages/discovery-provider/plugins/notifications/src/__tests__/mappings/comment.test.ts
  packages/discovery-provider/plugins/notifications/src/__tests__/mappings/commentMention.test.ts
  packages/discovery-provider/plugins/notifications/src/__tests__/mappings/commentReaction.test.ts
  packages/discovery-provider/plugins/notifications/src/__tests__/mappings/commentThread.test.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/comment.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/commentMention.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/commentReaction.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/commentThread.ts
  packages/discovery-provider/plugins/notifications/src/types/notifications.ts
  packages/discovery-provider/src/api/v1/models/notifications.py
  packages/discovery-provider/src/api/v1/utils/extend_notification.py
  packages/discovery-provider/src/queries/get_notifications.py
  packages/discovery-provider/src/tasks/entity_manager/entities/comment.py
  packages/harmony/src/hooks/useHoverDelay.ts
  packages/sdk/src/sdk/api/generated/full/models/CommentMentionNotificationActionData.ts
  packages/sdk/src/sdk/api/generated/full/models/CommentNotificationActionData.ts
  packages/sdk/src/sdk/api/generated/full/models/CommentReactionNotificationActionData.ts
  packages/sdk/src/sdk/api/generated/full/models/CommentThreadNotificationActionData.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Add non-native conversion to buy/sell modal (#12536)
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/jupiter/constants.ts
  packages/common/src/api/tan-query/wallets/useTokenBalance.ts
  packages/common/src/hooks/useBuySellAnalytics.ts
  packages/common/src/messages/buySell.ts
  packages/common/src/models/Analytics.ts
  packages/common/src/store/ui/buy-sell/types.ts
  packages/mobile/src/components/user-badges/UserBadges.tsx
  packages/mobile/src/screens/buy-sell-screen/BuySellFlow.tsx
  packages/web/src/components/buy-sell-modal/BuySellFlow.tsx
  packages/web/src/components/buy-sell-modal/BuyTab.tsx
  packages/web/src/components/buy-sell-modal/ConfirmSwapScreen.tsx
  packages/web/src/components/buy-sell-modal/ConvertTab.tsx
  packages/web/src/components/buy-sell-modal/SellTab.tsx
  packages/web/src/components/buy-sell-modal/SwapTab.tsx
  packages/web/src/components/buy-sell-modal/TokenAmountSection.tsx
  packages/web/src/components/buy-sell-modal/hooks/index.ts
  packages/web/src/components/buy-sell-modal/hooks/useTokenBalanceManager.ts
  packages/web/src/components/buy-sell-modal/index.ts
  packages/web/src/components/buy-sell-modal/types.ts
  packages/web/src/components/hover-card/ArtistCoinHoverCard.tsx
  packages/web/src/components/user-badges/UserBadges.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Add asset detail pages (#12430)
  packages/common/src/messages/walletMessages.ts
  packages/common/src/utils/route.ts
  packages/web/src/app/web-player/WebPlayer.jsx
  packages/web/src/pages/asset-detail-page/AssetDetailContent.tsx
  packages/web/src/pages/asset-detail-page/AssetDetailPage.tsx
  packages/web/src/pages/asset-detail-page/AssetDetailTabs.tsx
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
  packages/web/src/pages/asset-detail-page/components/AssetInsights.tsx
  packages/web/src/pages/asset-detail-page/components/BalanceSection.tsx
  packages/web/src/pages/asset-detail-page/constants.ts
  packages/web/src/pages/asset-detail-page/types.ts
  packages/web/src/pages/audio-page/AudioWalletTransactions.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix styling for chat message unfurls
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix styling for chat message unfurls (#12550)
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add msw for coin endpoints
  packages/common/src/utils/route.ts
  packages/web/package.json
  packages/web/public/mockServiceWorker.js
  packages/web/src/app/web-player/WebPlayer.jsx
  packages/web/src/components/WalletApiTest.tsx
  packages/web/src/index.tsx
  packages/web/src/pages/dev-tools/DevTools.tsx
  packages/web/src/pages/dev-tools/messages.ts
  packages/web/src/test/mocks/browser.js
  packages/web/src/test/mocks/wallet-api.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Update
  packages/common/src/utils/route.ts
  packages/web/src/app/web-player/WebPlayer.jsx
  packages/web/src/components/CoinApiMocks.tsx
  packages/web/src/pages/dev-tools/DevTools.tsx
  packages/web/src/pages/dev-tools/messages.ts
  packages/web/src/test/mocks/wallet-api.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Add msw for coin endpoints (#12551)
  packages/common/src/utils/route.ts
  packages/web/package.json
  packages/web/public/mockServiceWorker.js
  packages/web/src/app/web-player/WebPlayer.jsx
  packages/web/src/components/CoinApiMocks.tsx
  packages/web/src/index.tsx
  packages/web/src/pages/dev-tools/DevTools.tsx
  packages/web/src/pages/dev-tools/messages.ts
  packages/web/src/test/mocks/browser.js
  packages/web/src/test/mocks/wallet-api.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Update eth rpc urls
  monitoring/exporters/sdk/main.js
  monitoring/prometheus/.env.prod
  monitoring/prometheus/.env.stage
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/scripts/sandbox.ts
  packages/mobile/src/services/env/env.prod.ts
  packages/mobile/src/services/env/env.stage.ts
  packages/protocol-dashboard/.env.stage
  packages/web/src/services/env/env.prod.ts
  packages/web/src/services/env/env.stage.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Revert only solana relay side
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/config.ts
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/config/tokenConfig.ts
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/routes/relay/assertRelayAllowedInstructions.ts
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/routes/relay/tokenUtils.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Revert "feat: Add BONK token support to backend and SDK (#12489)" (#12553)
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/config.ts
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/config/tokenConfig.ts
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/routes/relay/assertRelayAllowedInstructions.ts
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/routes/relay/tokenUtils.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

mobile web pass
  packages/harmony/src/components/artwork/Artwork.tsx
  packages/harmony/src/components/radio-group/RadioGroup.tsx
  packages/web/src/components/link/UserLink.tsx
  packages/web/src/components/track/Artwork.tsx
  packages/web/src/components/user-card/UserCard.tsx
  packages/web/src/pages/explore-page/components/desktop/ExploreSection.tsx
  packages/web/src/pages/explore-page/components/mobile/SearchExplorePage.tsx
  packages/web/src/pages/search-page/RecentSearches.tsx
  packages/web/src/pages/search-page/search-results/AllResults.tsx
  packages/web/src/pages/trending-page/components/RewardsBanner.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

more replacements
  packages/sdk/src/sdk/config/production.ts
  packages/sdk/src/sdk/config/staging.ts
  packages/sdk/src/sdk/scripts/generateServicesConfig.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow

Add feeling lucky, recently played, active discussions explore sections (#12498)
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/api/tan-query/tracks/useFeelingLuckyTrack.ts
  packages/common/src/api/tan-query/tracks/useRecentlyCommentedTracks.ts
  packages/common/src/api/tan-query/tracks/useRecentlyPlayedTracks.ts
  packages/common/src/api/tan-query/tracks/useRecommendedTracks.ts
  packages/common/src/messages/explore.ts
  packages/mobile/src/screens/explore-screen/components/ActiveDiscussions.tsx
  packages/mobile/src/screens/explore-screen/components/ExploreContent.tsx
  packages/mobile/src/screens/explore-screen/components/FeelingLucky.tsx
  packages/mobile/src/screens/explore-screen/components/RecentlyPlayed.tsx
  packages/web/src/pages/explore-page/components/desktop/ExploreSection.tsx
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Add feature flag to search explore milestone and optimize search fetches (#12541)
  packages/common/src/api/tan-query/search/useSearchResults.ts
  packages/common/src/services/remote-config/feature-flags.ts
  packages/mobile/src/screens/explore-screen/components/ExploreContent.tsx
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
  packages/web/src/pages/search-page/search-results/AllResults.tsx
  packages/web/src/pages/search-page/search-results/TrackResults.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Make app warm start even faster
  packages/mobile/src/app/App.tsx
  packages/mobile/src/app/ConnectivityManager.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix dead url behavior and retrying all mirrors
  packages/common/src/hooks/useImageSize.ts
  packages/harmony/src/hooks/useHoverDelay.ts
  packages/mobile/src/components/image/CollectionImage.tsx
  packages/mobile/src/components/image/TrackImage.tsx
  packages/mobile/src/components/image/UserImage.tsx
  packages/mobile/src/harmony-native/components/FastImage/FastImage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Update in-app notif navigation for comments to highlight comment
  packages/mobile/src/screens/notifications-screen/Notification/EntityLink.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/CommentNotification.tsx
  packages/web/src/components/notification/Notification/CommentNotification.tsx
  packages/web/src/components/notification/Notification/components/EntityLink.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

add perf log to codebase
  performance-log.md
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

tweak the log
  performance-log.md
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6509] Add coin leaderboard modal
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/coins/useCoin.ts
  packages/common/src/api/tan-query/coins/useCoinLeaderboard.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/user-list/coin-leaderboard/actions.ts
  packages/common/src/store/user-list/coin-leaderboard/reducers.ts
  packages/common/src/store/user-list/coin-leaderboard/selectors.ts
  packages/common/src/store/user-list/coin-leaderboard/types.ts
  packages/common/src/store/user-list/index.ts
  packages/web/src/components/CoinApiMocks.tsx
  packages/web/src/components/artist/ArtistChip.tsx
  packages/web/src/components/user-list-modal/UserListModal.tsx
  packages/web/src/components/user-list/UserList.tsx
  packages/web/src/components/user-list/lists/CoinLeaderboardUserList.tsx
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
  packages/web/src/store/application/ui/userListModal/sagas.ts
  packages/web/src/store/application/ui/userListModal/types.ts
  packages/web/src/test/mocks/browser.js
  packages/web/src/test/mocks/coin-api.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[QA-2220] Fix mobile user-links with badge-v2
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/AccountDetails.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[QA-2220] Fix mobile user-links with badge-v2 (#12557)
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/AccountDetails.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Speed up mobile app warm start by another ~75% (#12555)
  packages/mobile/src/app/App.tsx
  packages/mobile/src/app/ConnectivityManager.tsx
  performance-log.md
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix mobile image fallback logic (#12549)
  packages/common/src/hooks/useImageSize.ts
  packages/mobile/src/components/audio/GoogleCast.tsx
  packages/mobile/src/components/image/CollectionImage.tsx
  packages/mobile/src/components/image/CoverPhoto.tsx
  packages/mobile/src/components/image/TrackImage.tsx
  packages/mobile/src/components/image/UserImage.tsx
  packages/mobile/src/harmony-native/components/FastImage/FastImage.tsx
  packages/web/src/components/ai-attribution-modal/SearchBarResult.tsx
  packages/web/src/hooks/useCollectionCoverArt.ts
  packages/web/src/hooks/useCoverPhoto.ts
  packages/web/src/hooks/useProfilePicture.ts
  packages/web/src/hooks/useTrackCoverArt.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow
