Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: ((((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: (((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-integration-workflow: ((any of: packages/web/e2e/.*) or (any of: .*)) or (any of: .*)
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*

Add contest tab to query params
  packages/web/src/pages/track-page/components/desktop/RemixContestSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

pass session to extend_track when getting trending playlists
  packages/discovery-provider/src/queries/get_trending_playlists.py
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6273] Add contest tab to query params (#12283)
  packages/web/src/pages/track-page/components/desktop/RemixContestSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Pass session to extend_track when getting trending playlists (#12284)
  packages/discovery-provider/src/queries/get_trending_playlists.py
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

wip
  packages/mobile/src/components/core/CardList.tsx
  packages/mobile/src/screens/app-screen/ExploreTabScreen.tsx
  packages/mobile/src/screens/explore-screen/SearchExploreScreen.tsx
  packages/mobile/src/screens/explore-screen/components/ExploreCarousel.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

wip chats selectors
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/users/useOtherChatUsers.ts
  packages/common/src/hooks/chats/useCanSendMessage.ts
  packages/common/src/store/cache/users/selectors.ts
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/selectors.ts
  packages/common/src/store/pages/profile/selectors.ts
  packages/mobile/src/components/block-messages-drawer/BlockMessagesDrawer.tsx
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
  packages/mobile/src/screens/chat-screen/ChatListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatUserListItem.tsx
  packages/mobile/src/screens/profile-screen/ProfileInfo.tsx
  packages/web/src/components/inbox-unavailable-modal/InboxUnavailableModal.tsx
  packages/web/src/components/usdc-purchase-details-modal/components/SaleModalContent.tsx
  packages/web/src/pages/chat-page/components/ChatList.tsx
  packages/web/src/pages/chat-page/components/ChatListItem.tsx
  packages/web/src/pages/chat-page/components/CreateChatUserResult.tsx
  packages/web/src/pages/chat-page/components/UserChatHeader.tsx
  packages/web/src/pages/chat-page/components/useComposeChat.tsx
  packages/web/src/pages/profile-page/DesktopServerProfilePage.tsx
  packages/web/src/pages/profile-page/MobileServerProfilePage.tsx
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfileMutuals.tsx
  packages/web/src/pages/profile-page/components/desktop/RelatedArtists.tsx
  packages/web/src/pages/profile-page/components/desktop/SupportingList.tsx
  packages/web/src/pages/profile-page/components/desktop/TopSupporters.tsx
  packages/web/src/pages/settings-page/components/desktop/ManagerMode/AccountListItem/ManagedUserListItem.tsx
  packages/web/src/pages/settings-page/components/desktop/ManagerMode/AccountListItem/ManagerListItem.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

remove last of the cacheUserSelector references
  packages/common/src/hooks/chats/useCanSendMessage.ts
  packages/common/src/hooks/useGatedContent.ts
  packages/common/src/hooks/useTwitterButtonStatus.ts
  packages/common/src/store/cache/index.ts
  packages/common/src/store/cache/users/selectors.ts
  packages/common/src/store/pages/ai/selectors.ts
  packages/common/src/store/pages/chat/selectors.ts
  packages/common/src/store/pages/collection/selectors.ts
  packages/common/src/store/wallet/utils.ts
  packages/mobile/src/components/audio/AudioPlayer.tsx
  packages/mobile/src/components/audio/GoogleCast.tsx
  packages/mobile/src/components/core/ProfilePicture.tsx
  packages/mobile/src/components/details-tile/DetailsTileAiAttribution.tsx
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/mobile/src/components/overflow-menu-drawer/CollectionOverflowMenuDrawer.tsx
  packages/mobile/src/components/overflow-menu-drawer/TrackOverflowMenuDrawer.tsx
  packages/mobile/src/components/suggested-tracks/SuggestedTracks.tsx
  packages/mobile/src/components/twitter-button/TwitterButton.tsx
  packages/mobile/src/screens/ai-generated-tracks-screen/AiGeneratedTracksScreen.tsx
  packages/web/src/common/store/cache/tracks/sagas.ts
  packages/web/src/common/store/pages/track/sagas.ts
  packages/web/src/common/store/social/users/sagas.ts
  packages/web/src/components/artist-recommendations/ArtistRecommendationsPopup.tsx
  packages/web/src/components/comments/CommentActionBar.tsx
  packages/web/src/components/entity/VanityMetrics.tsx
  packages/web/src/components/inbox-unavailable-modal/InboxUnavailableModal.tsx
  packages/web/src/components/menu/CollectionMenu.tsx
  packages/web/src/components/notification/Notification/SupporterDethronedNotification.tsx
  packages/web/src/components/notification/Notification/components/TwitterShareButton.tsx
  packages/web/src/components/suggested-tracks/SuggestedTracks.tsx
  packages/web/src/components/twitter-share-button/TwitterShareButton.tsx
  packages/web/src/pages/ai-attributed-tracks-page/AiPageProvider.tsx
  packages/web/src/pages/ai-attributed-tracks-page/components/desktop/AiPage.tsx
  packages/web/src/pages/ai-attributed-tracks-page/components/mobile/AiPage.tsx
  packages/web/src/pages/collectibles-playlist-page/CollectiblesPlaylistPageProvider.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/pages/collection-page/DesktopServerCollectionPage.tsx
  packages/web/src/pages/collection-page/MobileServerCollectionPage.tsx
  packages/web/src/pages/explore-page/components/desktop/UserArtCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

renamed icons
  packages/common/src/api/tan-query/search/useSearchResults.ts
  packages/harmony/src/assets/icons/Bell.svg
  packages/harmony/src/assets/icons/CloudUp.svg
  packages/harmony/src/assets/icons/Feed.svg
  packages/harmony/src/assets/icons/Gift.svg
  packages/harmony/src/assets/icons/Library.svg
  packages/harmony/src/assets/icons/Messages.svg
  packages/harmony/src/assets/icons/Playlists.svg
  packages/harmony/src/assets/icons/Search.svg
  packages/harmony/src/assets/icons/Trending.svg
  packages/harmony/src/assets/icons/Wallet.svg
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/ExploreButton.tsx
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/animations/iconFeed.lottie
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/animations/iconLibrary.lottie
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/animations/iconNotifications.lottie
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/animations/iconSearchExplore.lottie
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/animations/iconTrending.lottie
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/useNavConfig.tsx
  packages/mobile/src/screens/explore-screen/SearchExploreScreen.tsx
  packages/mobile/src/screens/search-screen/search-results/TrackResults.tsx
  packages/mobile/src/screens/search-screen/searchState.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

fix account wallet 404 crashing saga
  packages/common/src/store/account/sagas.ts
  packages/web/src/common/store/pages/signon/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Clean up
  packages/common/src/api/tan-query/search/useSearchResults.ts
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/useNavConfig.tsx
  packages/mobile/src/screens/app-screen/AppTabsScreen.tsx
  packages/mobile/src/screens/app-screen/ExploreTabScreen.tsx
  packages/mobile/src/screens/explore-screen/ExploreScreen.tsx
  packages/mobile/src/screens/explore-screen/SearchExploreScreen.tsx
  packages/mobile/src/screens/search-screen/search-results/AllResults.tsx
  packages/mobile/src/screens/search-screen/search-results/TrackResults.tsx
  packages/mobile/src/screens/search-screen/searchState.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Audius Protocol v0.7.171
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

clean
  packages/mobile/src/screens/explore-screen/SearchExploreScreen.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

tweak how the error gets handled
  packages/common/src/store/account/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix account wallet 404 crashing saga (#12285)
  packages/common/src/store/account/sagas.ts
  packages/web/src/common/store/pages/signon/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Cherry pick fetchProfileAsync fix
  packages/web/src/common/store/profile/sagas.js
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update mobile to take remix contest image when submitting
  packages/mobile/src/screens/track-screen/UploadRemixFooter.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update mobile versions to latest
  packages/mobile/android/app/build.gradle
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update mobile to take remix contest image when submitting (#12286)
  packages/mobile/src/screens/track-screen/UploadRemixFooter.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix remixes header on mobile track remixes page
  packages/mobile/src/screens/track-screen/TrackRemixesScreen.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix remixes header on mobile track remixes page (#12287)
  packages/mobile/src/screens/track-screen/TrackRemixesScreen.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix library loading
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/screens/favorites-screen/useLibraryCollections.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix mobile app taking you to sign up when signed in
  packages/mobile/src/screens/root-screen/RootScreen.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

lint
  packages/mobile/src/screens/root-screen/RootScreen.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6339] (account fix) Fix mobile app taking you to sign up when signed in (#12289)
  packages/mobile/src/screens/root-screen/RootScreen.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

working search
  packages/mobile/src/components/core/CardList.tsx
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/explore-screen/SearchExploreScreen.tsx
  packages/mobile/src/screens/search-screen/SearchScreen.tsx
  packages/mobile/src/screens/search-screen/search-results/AllResults.tsx
  packages/mobile/src/screens/search-screen/search-results/ProfileResults.tsx
  packages/mobile/src/screens/search-screen/search-results/SearchResults.tsx
  packages/mobile/src/screens/search-screen/search-results/TrackResults.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

debounce
  packages/mobile/src/screens/explore-screen/SearchExploreScreen.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

clean up
  packages/mobile/src/screens/explore-screen/SearchExploreScreen.tsx
  packages/mobile/src/screens/search-screen/SearchScreen.tsx
  packages/mobile/src/screens/search-screen/search-results/AllResults.tsx
  packages/mobile/src/screens/search-screen/search-results/ProfileResults.tsx
  packages/mobile/src/screens/search-screen/search-results/SearchResults.tsx
  packages/mobile/src/screens/search-screen/search-results/TrackResults.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

clean
  packages/mobile/src/screens/search-screen/SearchScreen.tsx
  packages/mobile/src/screens/search-screen/searchState.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6181] Mobile withdraw flow
  packages/common/src/messages/walletMessages.ts
  packages/common/src/store/sagas.ts
  packages/common/src/store/ui/index.ts
  packages/common/src/store/ui/withdraw-usdc/sagas.ts
  packages/common/src/store/wallet/utils.ts
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/components/coinflow-withdraw-drawer/CoinflowWithdrawDrawer.tsx
  packages/mobile/src/components/core/SegmentedControl.tsx
  packages/mobile/src/components/drawer/Drawer.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/WithdrawUSDCDrawer.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/components/CoinflowConfirmTransfer.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/components/CoinflowWithdrawPage.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/components/CryptoConfirmTransfer.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/components/EnterTransferDetails.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/components/ErrorPage.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/components/PrepareTransfer.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/components/TransferInProgress.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/components/TransferSuccessful.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/index.ts
  packages/mobile/src/components/withdraw-usdc-drawer/types.ts
  packages/mobile/src/screens/wallet-screen/components/CashWallet.tsx
  packages/mobile/src/store/sagas.ts
  packages/web/src/components/payout-wallet-modal/PayoutWalletModal.tsx
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.tsx
  packages/web/src/components/withdraw-usdc-modal/WithdrawUSDCModal.tsx
  packages/web/src/components/withdraw-usdc-modal/components/EnterTransferDetails.tsx
  packages/web/src/components/withdraw-usdc-modal/components/PrepareTransfer.tsx
  packages/web/src/pages/audio-page/components/SendInputBody.tsx
  packages/web/src/services/solana/solana.ts
  packages/web/src/store/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

cleanup
  packages/common/src/store/ui/withdraw-usdc/sagas.ts
  packages/common/src/store/wallet/utils.ts
  packages/mobile/src/screens/wallet-screen/components/CashWallet.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

fixing type errors
  packages/common/src/api/tan-query/users/useProfileUser.ts
  packages/mobile/src/components/now-playing-drawer/PlayBar.tsx
  packages/mobile/src/components/now-playing-drawer/TrackInfo.tsx
  packages/mobile/src/components/twitter-button/TwitterButton.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
  packages/web/src/pages/collection-page/components/mobile/CollectionPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix left nav issues
  packages/common/src/api/tan-query/users/account/useAccountStatus.ts
  packages/common/src/store/account/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

fix missing tp challenges
  packages/discovery-provider/ddl/migrations/0142_fix_missing_trending20250606.sql
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

trigger another ci run
  packages/common/src/store/account/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

clean
  packages/mobile/src/screens/app-screen/ExploreTabScreen.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

remove use effect
  packages/mobile/src/screens/explore-screen/SearchExploreScreen.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

fix missing tp challenges (#12291)
  packages/discovery-provider/ddl/migrations/0142_fix_missing_trending20250606.sql
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow
