Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: ((((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: (((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-integration-workflow: ((any of: packages/web/e2e/.*) or (any of: .*)) or (any of: .*)
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*

add loading state for brief sign in state
  packages/web/src/components/nav/desktop/AccountDetails.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Improve a bunch more things
  packages/common/src/api/tan-query/users/account/accountSelectors.ts
  packages/common/src/hooks/purchaseContent/useChallengeCooldownSchedule.ts
  packages/common/src/hooks/useAccountHasClaimableRewards.ts
  packages/common/src/store/wallet/utils.ts
  packages/mobile/src/components/edit/VisibilityField/VisibilityScreen.tsx
  packages/mobile/src/components/lineup-tile/LineupTileSkeleton.tsx
  packages/mobile/src/components/lineup/Lineup.tsx
  packages/mobile/src/components/premium-content-purchase-drawer/PremiumContentPurchaseDrawer.tsx
  packages/mobile/src/components/track-flair/TrackFlair.tsx
  packages/mobile/src/components/trending-rewards-drawer/TrendingRewardsDrawer.tsx
  packages/mobile/src/hooks/useRemoteConfig.ts
  packages/mobile/src/hooks/useUpdateRequired.ts
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/useNavConfig.tsx
  packages/mobile/src/screens/app-screen/AccountPictureHeader.tsx
  packages/mobile/src/screens/rewards-screen/ChallengeRewardsTile.tsx
  packages/mobile/src/screens/rewards-screen/RewardsScreen.tsx
  packages/mobile/src/screens/rewards-screen/TrendingRewardsTile.tsx
  packages/mobile/src/screens/settings-screen/AccountVerificationScreen.tsx
  packages/mobile/src/screens/tip-artist-screen/DegradationNotice.tsx
  packages/mobile/src/screens/tip-artist-screen/SupporterPrompt.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6375] Add loading state for brief sign in state (#12319)
  packages/web/src/components/nav/desktop/AccountDetails.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

lint
  packages/mobile/src/store/sign-out/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

More changes
  packages/common/src/context/comments/commentsHooks.ts
  packages/common/src/hooks/useAccountSwitcher.ts
  packages/common/src/hooks/useCanSendChatBlast.ts
  packages/common/src/store/wallet/utils.ts
  packages/mobile/src/components/share-drawer/useShareToStory.tsx
  packages/mobile/src/components/trending-rewards-drawer/TrendingRewardsDrawer.tsx
  packages/mobile/src/hooks/useUpdateRequired.ts
  packages/mobile/src/screens/app-screen/AccountPictureHeader.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/CommentMentionNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/CommentReactionNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/CommentThreadNotification.tsx
  packages/mobile/src/screens/rewards-screen/ChallengeRewardsTile.tsx
  packages/mobile/src/screens/rewards-screen/RewardsScreen.tsx
  packages/mobile/src/screens/rewards-screen/TrendingRewardsTile.tsx
  packages/mobile/src/screens/settings-screen/AccountVerificationScreen.tsx
  packages/mobile/src/screens/sign-on-screen/screens/SelectArtistScreen/selectArtistPreviewContext.tsx
  packages/mobile/src/screens/tip-artist-screen/DegradationNotice.tsx
  packages/web/src/components/collection/desktop/CollectionHeader.tsx
  packages/web/src/components/collections-table/CollectionsTableOverflowMenuButton.tsx
  packages/web/src/components/notification/Notification/CommentMentionNotification.tsx
  packages/web/src/components/notification/Notification/CommentReactionNotification.tsx
  packages/web/src/components/notification/Notification/CommentThreadNotification.tsx
  packages/web/src/components/stat-banner/StatBanner.tsx
  packages/web/src/components/track/TrackStats.tsx
  packages/web/src/pages/oauth-login-page/OAuthLoginPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

QA fixes for mobile explore: reset search icon + more
  packages/mobile/src/components/bottom-tab-bar/BottomTabBar.tsx
  packages/mobile/src/harmony-native/components/layout/Paper/Paper.tsx
  packages/mobile/src/screens/app-screen/ExploreTabScreen.tsx
  packages/mobile/src/screens/explore-screen/SearchExploreScreen.tsx
  packages/mobile/src/screens/explore-screen/collections.ts
  packages/mobile/src/screens/explore-screen/components/ColorTile.tsx
  packages/mobile/src/screens/explore-screen/components/SearchExploreHeader.tsx
  packages/mobile/src/screens/search-screen/BpmFilter.tsx
  packages/mobile/src/screens/search-screen/SearchCategoriesAndFilters.tsx
  packages/mobile/src/screens/search-screen/SearchFilters.tsx
  packages/mobile/src/screens/search-screen/search-results/TrackResults.tsx
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

clean up
  packages/mobile/src/components/bottom-tab-bar/BottomTabBar.tsx
  packages/mobile/src/screens/search-screen/search-results/TrackResults.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

type
  packages/mobile/src/screens/explore-screen/components/ColorTile.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

QA fixes for mobile explore: reseting search params and scroll + more (#12320)
  packages/mobile/src/harmony-native/components/layout/Paper/Paper.tsx
  packages/mobile/src/screens/app-screen/ExploreTabScreen.tsx
  packages/mobile/src/screens/explore-screen/SearchExploreScreen.tsx
  packages/mobile/src/screens/explore-screen/collections.ts
  packages/mobile/src/screens/explore-screen/components/ColorTile.tsx
  packages/mobile/src/screens/explore-screen/components/SearchExploreHeader.tsx
  packages/mobile/src/screens/search-screen/BpmFilter.tsx
  packages/mobile/src/screens/search-screen/SearchCategoriesAndFilters.tsx
  packages/mobile/src/screens/search-screen/SearchFilters.tsx
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Refactor search explore screen to prepare for perf
  packages/mobile/src/screens/explore-screen/SearchExploreScreen.tsx
  packages/mobile/src/screens/explore-screen/components/ExploreContent.tsx
  packages/mobile/src/screens/explore-screen/components/SearchExploreHeader.tsx
  packages/mobile/src/screens/explore-screen/components/SearchInput.tsx
  packages/mobile/src/screens/search-screen/RecentSearches.tsx
  packages/mobile/src/screens/search-screen/SearchScreen.tsx
  packages/mobile/src/screens/search-screen/searchState.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

validation good but form borked
  packages/common/src/messages/walletMessages.ts
  packages/common/src/utils/decimal.ts
  packages/mobile/src/components/withdraw-usdc-drawer/components/CryptoConfirmTransfer.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/components/EnterTransferDetails.tsx
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.tsx
  packages/web/src/components/withdraw-usdc-modal/WithdrawUSDCModal.tsx
  packages/web/src/components/withdraw-usdc-modal/components/EnterTransferDetails.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Revert version again
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Audius Protocol v0.7.176
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

tweak utils import in server pages
  packages/web/src/pages/collection-page/DesktopServerCollectionPage.tsx
  packages/web/src/pages/collection-page/MobileServerCollectionPage.tsx
  packages/web/src/pages/track-page/DesktopServerTrackPage.tsx
  packages/web/src/pages/track-page/MobileServerTrackPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6337] Fix mobile sign out not working (#12318)
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/api/tan-query/users/account/useAccountStatus.ts
  packages/common/src/api/tan-query/users/account/useCurrentAccount.ts
  packages/common/src/api/tan-query/users/account/useManagedAccounts.ts
  packages/common/src/api/tan-query/users/account/useManagers.ts
  packages/common/src/api/tan-query/users/account/useWalletAddresses.ts
  packages/common/src/api/tan-query/users/account/useWalletUser.ts
  packages/mobile/src/store/sign-out/sagas.ts
  packages/web/src/store/sign-out/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

fix form submit
  packages/mobile/src/components/withdraw-usdc-drawer/WithdrawUSDCDrawer.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/components/TransferSuccessful.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix listening history load
  packages/common/src/api/tan-query/tracks/useTrackHistory.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Add min and max values
  packages/common/src/messages/buySell.ts
  packages/common/src/store/ui/buy-sell/constants.ts
  packages/common/src/store/ui/buy-sell/swapFormSchema.ts
  packages/common/src/store/ui/buy-sell/types.ts
  packages/common/src/store/ui/buy-sell/useBuySellTransactionData.ts
  packages/common/src/store/ui/buy-sell/useTokenSwapForm.ts
  packages/mobile/src/screens/buy-sell-screen/BuySellFlow.tsx
  packages/mobile/src/screens/buy-sell-screen/components/BuyScreen.tsx
  packages/mobile/src/screens/buy-sell-screen/components/SellScreen.tsx
  packages/mobile/src/screens/buy-sell-screen/components/SwapTab.tsx
  packages/web/src/components/buy-sell-modal/BuySellFlow.tsx
  packages/web/src/components/buy-sell-modal/BuyTab.tsx
  packages/web/src/components/buy-sell-modal/SellTab.tsx
  packages/web/src/components/buy-sell-modal/SwapTab.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Stop error message flash on sell tab of Buy/Sell (#12310)
  packages/common/src/store/ui/buy-sell/swapFormSchema.ts
  packages/common/src/store/ui/buy-sell/useBuySellTransactionData.ts
  packages/common/src/store/ui/buy-sell/useTokenSwapForm.ts
  packages/mobile/src/screens/buy-sell-screen/components/BuyScreen.tsx
  packages/mobile/src/screens/buy-sell-screen/components/SellScreen.tsx
  packages/mobile/src/screens/buy-sell-screen/components/SwapTab.tsx
  packages/web/src/components/buy-sell-modal/BuyTab.tsx
  packages/web/src/components/buy-sell-modal/SellTab.tsx
  packages/web/src/components/buy-sell-modal/SwapTab.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Update message and usdc hook
  packages/common/src/api/tan-query/wallets/useUSDCBalance.ts
  packages/common/src/messages/buySell.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Remove max-width on playlist tiles for mobile web
  packages/web/src/components/track/mobile/PlaylistTile.module.css
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Comment
  packages/common/src/store/ui/buy-sell/useTokenSwapForm.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix track stats alignment by removing margin
  packages/web/src/components/track/TrackStats.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add a minimum and maximum value to Buy/Sell flow (#12323)
  packages/common/src/api/tan-query/wallets/useUSDCBalance.ts
  packages/common/src/messages/buySell.ts
  packages/common/src/store/ui/buy-sell/constants.ts
  packages/common/src/store/ui/buy-sell/swapFormSchema.ts
  packages/common/src/store/ui/buy-sell/types.ts
  packages/common/src/store/ui/buy-sell/useTokenSwapForm.ts
  packages/mobile/src/screens/buy-sell-screen/BuySellFlow.tsx
  packages/mobile/src/screens/buy-sell-screen/components/BuyScreen.tsx
  packages/mobile/src/screens/buy-sell-screen/components/SellScreen.tsx
  packages/mobile/src/screens/buy-sell-screen/components/SwapTab.tsx
  packages/web/src/components/buy-sell-modal/BuySellFlow.tsx
  packages/web/src/components/buy-sell-modal/BuyTab.tsx
  packages/web/src/components/buy-sell-modal/SellTab.tsx
  packages/web/src/components/buy-sell-modal/SwapTab.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

pr fb
  packages/common/src/messages/walletMessages.ts
  packages/mobile/src/components/withdraw-usdc-drawer/components/CryptoConfirmTransfer.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/components/EnterTransferDetails.tsx
  packages/web/src/components/withdraw-usdc-modal/components/ConfirmTransferDetails.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Mobile withdraw flow validation updates (#12317)
  packages/common/src/messages/walletMessages.ts
  packages/common/src/store/ui/index.ts
  packages/common/src/store/ui/withdraw-usdc/schema.ts
  packages/common/src/store/wallet/utils.ts
  packages/common/src/utils/decimal.ts
  packages/mobile/src/components/edit/PriceAndAudienceField/PremiumRadioField/BoxedTextField.tsx
  packages/mobile/src/components/fields/PriceField.tsx
  packages/mobile/src/components/fields/TextAreaField.tsx
  packages/mobile/src/components/fields/TextField.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/WithdrawUSDCDrawer.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/components/CryptoConfirmTransfer.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/components/EnterTransferDetails.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/components/TransferSuccessful.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/types.ts
  packages/mobile/src/harmony-native/components/input/TextInput/TextInput.tsx
  packages/mobile/src/harmony-native/components/input/TextInput/types.ts
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.tsx
  packages/web/src/components/withdraw-usdc-modal/WithdrawUSDCModal.tsx
  packages/web/src/components/withdraw-usdc-modal/components/ConfirmTransferDetails.tsx
  packages/web/src/components/withdraw-usdc-modal/components/EnterTransferDetails.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix comment history alignment and add full width prop on user links
  packages/web/src/components/link/UserLink.tsx
  packages/web/src/pages/comment-history/components/desktop/CommentHistoryPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[QA-2138] Remove max-width on playlist tiles for mobile web (#12324)
  packages/web/src/components/track/mobile/PlaylistTile.module.css
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[QA-2122] Fix track stats alignment by removing margin (#12325)
  packages/web/src/components/track/TrackStats.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

more bundle size optimizations
  packages/common/src/utils/sagaHelpers.ts
  packages/web/src/pages/profile-page/DesktopServerProfilePage.tsx
  packages/web/src/pages/profile-page/MobileServerProfilePage.tsx
  packages/web/src/ssr/util.ts
  packages/web/src/utils/route.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix listening history not showing items (#12322)
  packages/common/src/api/tan-query/tracks/useTrackHistory.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

undo route changes that broke mobile
  packages/web/src/utils/route.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

More withdraw UI cleanup
  packages/common/src/hooks/useFormattedUSDCBalance.ts
  packages/common/src/messages/walletMessages.ts
  packages/mobile/src/components/add-funds-drawer/CashBalanceSection.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/WithdrawUSDCDrawer.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/components/CoinflowConfirmTransfer.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/components/ErrorPage.tsx
  packages/mobile/src/components/withdraw-usdc-drawer/components/TransferSuccessful.tsx
  packages/web/src/components/add-cash/AddCash.tsx
  packages/web/src/components/add-cash/CashBalanceSection.tsx
  packages/web/src/components/usdc-manual-transfer/USDCManualTransfer.tsx
  packages/web/src/components/withdraw-usdc-modal/WithdrawUSDCModal.tsx
  packages/web/src/components/withdraw-usdc-modal/components/CoinflowWithdrawPage.module.css
  packages/web/src/components/withdraw-usdc-modal/components/CoinflowWithdrawPage.tsx
  packages/web/src/components/withdraw-usdc-modal/components/ConfirmTransferDetails.tsx
  packages/web/src/components/withdraw-usdc-modal/components/EnterTransferDetails.tsx
  packages/web/src/components/withdraw-usdc-modal/components/ErrorPage.module.css
  packages/web/src/components/withdraw-usdc-modal/components/ErrorPage.tsx
  packages/web/src/components/withdraw-usdc-modal/components/Hint.module.css
  packages/web/src/components/withdraw-usdc-modal/components/Hint.tsx
  packages/web/src/components/withdraw-usdc-modal/components/PrepareTransfer.module.css
  packages/web/src/components/withdraw-usdc-modal/components/PrepareTransfer.tsx
  packages/web/src/components/withdraw-usdc-modal/components/TextRow.module.css
  packages/web/src/components/withdraw-usdc-modal/components/TextRow.tsx
  packages/web/src/components/withdraw-usdc-modal/components/TransferSuccessful.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

messages
  packages/mobile/src/components/withdraw-usdc-drawer/components/CoinflowConfirmTransfer.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

more messages
  packages/web/src/components/withdraw-usdc-modal/components/ErrorPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

lint
  packages/web/src/components/withdraw-usdc-modal/components/ErrorPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

cashbalance
  packages/mobile/src/components/add-funds-drawer/CashBalanceSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

moar
  packages/mobile/src/components/add-funds-drawer/CashBalanceSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

one more msg
  packages/mobile/src/components/withdraw-usdc-drawer/components/ErrorPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow
