Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

add logoUri to sdk call
  packages/sdk/src/sdk/api/generated/default/models/CreateCoinRequest.ts
  packages/sdk/src/sdk/api/generated/default/models/CreateCoinResponseData.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow

lint
  packages/mobile/src/components/core/BalanceSection.tsx
  packages/mobile/src/components/send-tokens-drawer/SendTokensDrawer.tsx
  packages/mobile/src/components/send-tokens-drawer/components/SendTokensConfirmation.tsx
  packages/mobile/src/components/send-tokens-drawer/components/SendTokensFailure.tsx
  packages/mobile/src/components/send-tokens-drawer/components/SendTokensProgress.tsx
  packages/mobile/src/components/send-tokens-drawer/components/index.ts
  packages/web/src/components/send-tokens-modal/SendTokensConfirmation.tsx
  packages/web/src/components/send-tokens-modal/SendTokensModal.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

lint
  packages/mobile/src/components/receive-tokens-drawer/ReceiveTokensDrawer.tsx
  packages/mobile/src/components/send-tokens-drawer/components/SendTokensConfirmation.tsx
  packages/mobile/src/components/send-tokens-drawer/components/SendTokensFailure.tsx
  packages/mobile/src/components/send-tokens-drawer/components/SendTokensInput.tsx
  packages/mobile/src/components/send-tokens-drawer/components/SendTokensSuccess.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

web sol
  packages/common/src/utils/route.ts
  packages/web/src/components/send-tokens-modal/SendTokensSuccess.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

lint
  packages/web/src/components/send-tokens-modal/SendTokensSuccess.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

lint
  packages/common/src/messages/walletMessages.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

wip adding first buy logic
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/routes/launchpad/launch_coin.ts
  packages/sdk/src/sdk/services/Solana/SolanaRelay.ts
  packages/sdk/src/sdk/services/Solana/types.ts
  packages/web/src/hooks/useLaunchCoin.ts
  packages/web/src/pages/artist-coins-launchpad-page/LaunchpadPage.tsx
  packages/web/src/services/env/env.stage.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow

[PE-6776] Mobile send tokens drawer (#12837)
  packages/common/src/api/tan-query/wallets/useSendTokens.ts
  packages/common/src/messages/walletMessages.ts
  packages/common/src/models/ErrorReporting.ts
  packages/common/src/utils/route.ts
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/components/core/BalanceSection.tsx
  packages/mobile/src/components/core/index.ts
  packages/mobile/src/components/drawer/Drawer.tsx
  packages/mobile/src/components/receive-tokens-drawer/ReceiveTokensDrawer.tsx
  packages/mobile/src/components/send-tokens-drawer/SendTokensDrawer.tsx
  packages/mobile/src/components/send-tokens-drawer/components/SendTokensConfirmation.tsx
  packages/mobile/src/components/send-tokens-drawer/components/SendTokensFailure.tsx
  packages/mobile/src/components/send-tokens-drawer/components/SendTokensInput.tsx
  packages/mobile/src/components/send-tokens-drawer/components/SendTokensProgress.tsx
  packages/mobile/src/components/send-tokens-drawer/components/SendTokensSuccess.tsx
  packages/mobile/src/components/send-tokens-drawer/index.ts
  packages/mobile/src/screens/coin-details-screen/components/BalanceCard.tsx
  packages/web/src/components/send-tokens-modal/SendTokensConfirmation.tsx
  packages/web/src/components/send-tokens-modal/SendTokensSuccess.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Audius Protocol v0.7.237
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Make asset detail pages use ticker instead of mint
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/coins/useArtistCoinByTicker.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/utils/route.ts
  packages/web/src/pages/all-coins-page/AllCoinsPage.tsx
  packages/web/src/pages/asset-detail-page/AssetDetailPage.tsx
  packages/web/src/pages/pay-and-earn-page/components/AudioCoinCard.tsx
  packages/web/src/pages/pay-and-earn-page/components/YourCoins.tsx
  packages/web/src/pages/profile-page/components/desktop/BuyArtistCoinCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Comments
  packages/common/src/api/tan-query/coins/useArtistCoinByTicker.ts
  packages/web/src/pages/pay-and-earn-page/components/AudioCoinCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6613] Make asset detail pages use ticker instead of mint (#12843)
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/coins/useArtistCoinByTicker.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/utils/route.ts
  packages/web/src/pages/all-coins-page/AllCoinsPage.tsx
  packages/web/src/pages/asset-detail-page/AssetDetailPage.tsx
  packages/web/src/pages/pay-and-earn-page/components/AudioCoinCard.tsx
  packages/web/src/pages/pay-and-earn-page/components/YourCoins.tsx
  packages/web/src/pages/profile-page/components/desktop/BuyArtistCoinCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Update buy-sell flow on mobile to conform to designs
  packages/common/src/store/ui/buy-sell/constants.ts
  packages/common/src/store/ui/buy-sell/types.ts
  packages/common/src/store/ui/buy-sell/useTokenSwapForm.ts
  packages/mobile/src/components/buy-sell/InputTokenSection.tsx
  packages/mobile/src/components/buy-sell/OutputTokenSection.tsx
  packages/mobile/src/components/buy-sell/TokenAmountSection.tsx
  packages/mobile/src/components/buy-sell/TokenDropdownSelect.tsx
  packages/mobile/src/components/buy-sell/index.ts
  packages/mobile/src/components/buy-sell/utils.ts
  packages/mobile/src/screens/app-screen/AppScreen.tsx
  packages/mobile/src/screens/buy-sell-screen/BuySellFlow.tsx
  packages/mobile/src/screens/buy-sell-screen/BuySellScreen.tsx
  packages/mobile/src/screens/buy-sell-screen/components/BuyScreen.tsx
  packages/mobile/src/screens/buy-sell-screen/components/SellScreen.tsx
  packages/mobile/src/screens/buy-sell-screen/components/SwapTab.tsx
  packages/mobile/src/screens/buy-sell-screen/components/index.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

modal wip
  packages/web/src/components/address-tile/AddressTile.tsx
  packages/web/src/hooks/useLaunchCoin.ts
  packages/web/src/pages/artist-coins-launchpad-page/LaunchpadPage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/LaunchpadLoadingModal.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/LaunchpadModal.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add geoblocking for buy/sell modal
  packages/common/src/messages/walletMessages.ts
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/types.ts
  packages/web/src/components/buy-sell-modal/index.ts
  packages/web/src/components/buy-sell-modal/useBuySellRegionSupport.ts
  packages/web/src/pages/asset-detail-page/components/BalanceSection.tsx
  packages/web/src/pages/pay-and-earn-page/components/YourCoins.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Remove bonk
  packages/web/src/pages/pay-and-earn-page/components/YourCoins.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update insights icons
  packages/web/src/pages/asset-detail-page/components/AssetInsights.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

button
  packages/web/src/components/buy-sell-modal/BuyTab.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6769] Update insights icons (#12846)
  packages/web/src/pages/asset-detail-page/components/AssetInsights.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6796] Add geoblocking for buy/sell modal (#12845)
  packages/common/src/messages/walletMessages.ts
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/types.ts
  packages/web/src/components/buy-sell-modal/index.ts
  packages/web/src/components/buy-sell-modal/useBuySellRegionSupport.ts
  packages/web/src/pages/asset-detail-page/components/BalanceSection.tsx
  packages/web/src/pages/pay-and-earn-page/components/YourCoins.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

wip - trying to get sol-audio transaction thru
  packages/web/src/hooks/useLaunchCoin.ts
  packages/web/src/pages/artist-coins-launchpad-page/LaunchpadPage.tsx
  packages/web/src/services/env/env.prod.ts
  packages/web/src/services/env/env.stage.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Replace members with holder in CoinInsightsResponse
  packages/common/src/api/tan-query/coins/useArtistCoinMembersCount.ts
  packages/harmony/src/components/input/TokenAmountInput/TokenAmountInput.tsx
  packages/web/src/pages/asset-detail-page/components/AssetLeaderboardCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Replace members with holder in CoinInsightsResponse (#12847)
  packages/common/src/api/tan-query/coins/useArtistCoinMembersCount.ts
  packages/harmony/src/components/input/TokenAmountInput/TokenAmountInput.tsx
  packages/web/src/pages/asset-detail-page/components/AssetLeaderboardCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6787] Add tooltips to artist coin launchpad
  packages/web/src/components/tooltip/Tooltip.module.css
  packages/web/src/pages/artist-coins-launchpad-page/components/ReviewPage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/TokenInfoRow.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6688] Follows you redesign
  packages/mobile/src/components/user/FollowsYouBadge.tsx
  packages/web/src/components/artist/ArtistCardCover.module.css
  packages/web/src/components/artist/ArtistChip.module.css
  packages/web/src/components/artist/ArtistChipFollowers.tsx
  packages/web/src/components/user-badges/FollowsYouBadge.module.css
  packages/web/src/components/user-badges/FollowsYouBadge.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfileHeader.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add hover states to user token badge component
  packages/web/src/components/user-token-badge/UserTokenBadge.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Audius Protocol v0.7.238
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Optimize supported coins
  packages/common/src/store/ui/buy-sell/index.ts
  packages/common/src/store/ui/buy-sell/types.ts
  packages/common/src/store/ui/buy-sell/useCurrentTokenPair.ts
  packages/common/src/store/ui/buy-sell/useTokens.ts
  packages/common/src/store/ui/buy-sell/utils.ts
  packages/mobile/src/screens/buy-sell-screen/BuySellFlow.tsx
  packages/mobile/src/screens/buy-sell-screen/ConfirmSwapScreen.tsx
  packages/web/src/components/buy-sell-modal/BuySellFlow.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

pulling images in local dev
  dev-tools/compose/docker-compose.pedalboard.dev.yml
  dev-tools/compose/docker-compose.pedalboard.prod.yml
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Show artist coin badge based on user endpoint
  packages/common/src/models/User.ts
  packages/mobile/src/components/user-badges/UserBadges.tsx
  packages/web/src/components/user-badges/UserBadges.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fixes
  packages/common/src/adapters/user.ts
  packages/common/src/models/User.ts
  packages/common/src/utils/formatUtil.ts
  packages/web/src/components/hover-card/ArtistCoinHoverCard.tsx
  packages/web/src/components/hover-card/AudioHoverCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Comment
  packages/mobile/src/components/user-badges/UserBadges.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Comment
  packages/mobile/src/components/user-badges/UserBadges.tsx
  packages/web/src/components/user-badges/UserBadges.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Remove token balance check
  packages/mobile/src/components/user-badges/UserBadges.tsx
  packages/web/src/components/user-badges/UserBadges.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update display logic
  packages/mobile/src/components/user-badges/UserBadges.tsx
  packages/web/src/components/user-badges/UserBadges.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Use tan-query
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/jupiter/useSwapTokens.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/api/tan-query/tokens/index.ts
  packages/common/src/api/tan-query/tokens/useTokenPair.ts
  packages/common/src/api/tan-query/tokens/useTokens.ts
  packages/common/src/store/ui/buy-sell/index.ts
  packages/common/src/store/ui/buy-sell/useCurrentTokenPair.ts
  packages/common/src/store/ui/buy-sell/useTokens.ts
  packages/mobile/src/screens/buy-sell-screen/BuySellFlow.tsx
  packages/mobile/src/screens/buy-sell-screen/ConfirmSwapScreen.tsx
  packages/mobile/src/screens/chat-screen/ArtistCoinHeader.tsx
  packages/web/src/components/buy-sell-modal/BuySellFlow.tsx
  packages/web/src/pages/chat-page/components/ArtistCoinHeader.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Remove cache an stale times
  packages/common/src/api/tan-query/tokens/useTokenPair.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: ((((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: (((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-integration-workflow: ((any of: packages/web/e2e/.*) or (any of: .*)) or (any of: .*)
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*
