Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

fix connected wallet copying wrong address
  packages/web/src/pages/asset-detail-page/components/ExternalWallets.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Only show badge that user created if they have one
  packages/web/src/components/user-badges/UserBadges.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Show AUDIO card if user doesn't have any other assets
  packages/common/src/store/ui/buy-sell/useGroupCoinPairs.ts
  packages/web/src/pages/pay-and-earn-page/components/AudioCoinCard.tsx
  packages/web/src/pages/pay-and-earn-page/components/YourCoins.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Comment
  packages/web/src/pages/pay-and-earn-page/components/AudioCoinCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Always return AUDIO
  packages/common/src/store/ui/buy-sell/useGroupCoinPairs.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix connected wallet copying wrong address (#12805)
  packages/web/src/pages/asset-detail-page/components/ExternalWallets.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6641|PE-6642] Artist coin popover fixes (#12804)
  packages/harmony/src/components/hover-card/HoverCard.tsx
  packages/web/src/components/buy-sell-modal/TokenAmountSection.tsx
  packages/web/src/components/hover-card/ArtistCoinHoverCard.tsx
  packages/web/src/components/hover-card/AudioHoverCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6722] Only show badge that user created if they have one (#12806)
  packages/web/src/components/user-badges/UserBadges.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix stuck index_payment_router
  packages/discovery-provider/ddl/migrations/0157_fix_stuck_payment_router.sql
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

lowercase
  packages/discovery-provider/ddl/migrations/0157_fix_stuck_payment_router.sql
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Make comments drawer in mobile also close now playing if is open
  packages/mobile/src/components/comments/CommentDrawerContext.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

put image upload back for edits
  packages/mobile/src/components/fields/PickArtworkField.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[QA-2308] Fix stuck index_payment_router (#12809)
  packages/discovery-provider/ddl/migrations/0157_fix_stuck_payment_router.sql
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix mobile
  packages/mobile/src/screens/wallet-screen/components/YourCoins.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6691] Show AUDIO card if user doesn't have any other assets (#12807)
  packages/common/src/store/ui/buy-sell/useGroupCoinPairs.ts
  packages/mobile/src/screens/wallet-screen/components/YourCoins.tsx
  packages/web/src/pages/pay-and-earn-page/components/AudioCoinCard.tsx
  packages/web/src/pages/pay-and-earn-page/components/YourCoins.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Add exchange rate calculation for indirect routes
  packages/common/src/api/tan-query/jupiter/indirectSwapViaAudio.ts
  packages/common/src/api/tan-query/jupiter/useSwapTokens.ts
  packages/common/src/api/tan-query/jupiter/useTokenExchangeRate.ts
  packages/common/src/api/tan-query/jupiter/utils.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Refactor
  packages/common/src/api/tan-query/jupiter/useTokenExchangeRate.ts
  packages/common/src/store/ui/buy-sell/useBuySellSwap.ts
  packages/web/src/components/buy-sell-modal/BuySellFlow.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Remove duplicate code
  packages/web/src/components/buy-sell-modal/BuySellFlow.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Remove success check
  packages/web/src/components/buy-sell-modal/BuySellFlow.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Audius Protocol v0.7.229
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update swap logic
  packages/common/src/api/tan-query/jupiter/indirectSwapViaAudio.ts
  packages/web/src/components/buy-sell-modal/TransactionSuccessScreen.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Connect the buy/sell flow to the mobile coin details balance card
  packages/mobile/src/components/buy-sell/CryptoBalanceSection.tsx
  packages/mobile/src/components/buy-sell/TokenAmountSection.tsx
  packages/mobile/src/screens/buy-sell-screen/BuySellFlow.tsx
  packages/mobile/src/screens/buy-sell-screen/BuySellScreen.tsx
  packages/mobile/src/screens/buy-sell-screen/components/BuyScreen.tsx
  packages/mobile/src/screens/buy-sell-screen/components/SellScreen.tsx
  packages/mobile/src/screens/coin-details-screen/components/BalanceCard.tsx
  packages/mobile/src/types/navigation.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

small update
  packages/mobile/src/components/buy-sell/TokenAmountSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[QA-2299] "View Profile" instead of "Artist Page"
  packages/mobile/src/components/overflow-menu-drawer/OverflowMenuDrawer.tsx
  packages/web/src/components/menu/TrackMenu.tsx
  packages/web/src/components/menu/UserMenu.tsx
  packages/web/src/components/track-overflow-modal/components/MobileOverflowModal.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

dummy commit
  packages/mobile/src/services/explore.ts
  packages/web/src/types.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

another dummy commit
  .circleci/src/jobs/@integration-jobs.yml
Due: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

remove USDC conditions
  packages/mobile/src/components/buy-sell/CryptoBalanceSection.tsx
  packages/mobile/src/components/buy-sell/TokenAmountSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[QA-2296|QA-2298] RC QA Fixes (#12812)
  packages/mobile/src/components/comments/CommentDrawerContext.tsx
  packages/mobile/src/components/fields/PickArtworkField.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update wallet screen buy sell button as well
  packages/common/src/store/ui/buy-sell/constants.ts
  packages/mobile/src/screens/buy-sell-screen/BuySellFlow.tsx
  packages/mobile/src/screens/wallet-screen/components/YourCoins.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Some more fixes in test setup & get asset page test working
  packages/web/src/app/HistoryProvider.tsx
  packages/web/src/pages/asset-detail-page/AssetDetailPage.test.tsx
  packages/web/src/pages/audio-page/WalletModal.tsx
  packages/web/src/pages/profile-page/ProfilePage.test.tsx
  packages/web/src/test/msw/mswMocks.ts
  packages/web/src/test/test-utils.tsx
  packages/web/src/test/vitest-setup.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

wip
  packages/mobile/src/components/audio/AudioPlayer.tsx
  packages/web/src/common/store/lineup/sagas.ts
  packages/web/src/common/store/queue/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[QA-2299] "View Profile" instead of "Artist Page" (#12813)
  packages/mobile/src/components/overflow-menu-drawer/OverflowMenuDrawer.tsx
  packages/web/src/components/menu/TrackMenu.tsx
  packages/web/src/components/menu/UserMenu.tsx
  packages/web/src/components/track-overflow-modal/components/MobileOverflowModal.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

More robust fix for track player queue logic
  packages/mobile/src/components/audio/AudioPlayer.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

remove logs
  packages/mobile/src/components/audio/AudioPlayer.tsx
  packages/web/src/common/store/lineup/sagas.ts
  packages/web/src/common/store/queue/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix explore screen feature flags
  packages/mobile/src/screens/explore-screen/components/ExploreContent.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[QA-2255] Fix mobile lineup & playback bugs (continues playing same track after playing a new lineup page) (#12814)
  packages/mobile/src/components/audio/AudioPlayer.tsx
  packages/web/src/common/store/lineup/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix explore screen feature flags (#12815)
  packages/mobile/src/screens/explore-screen/components/ExploreContent.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: ((((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: (((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-integration-workflow: ((any of: packages/web/e2e/.*) or (any of: .*)) or (any of: .*)
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*
