Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

[PE-6269] Fix write reactivity in updateTrackData
  packages/common/src/api/tan-query/utils/updateTrackData.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6301] Fix player controls
  packages/common/src/store/queue/selectors.ts
  packages/web/src/components/play-bar/desktop/PlayBar.jsx
  packages/web/src/pages/feed-page/FeedPageProvider.jsx
  packages/web/src/pages/trending-page/TrendingPageProvider.jsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6269] Fix write reactivity in updateTrackData (#12225)
  packages/common/src/api/tan-query/utils/updateTrackData.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6294] Fix wallet UI breakpoint
  packages/web/src/pages/pay-and-earn-page/components/CashWallet.styles.ts
  packages/web/src/pages/pay-and-earn-page/components/CashWallet.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fixes
  packages/web/src/components/buy-sell-modal/BuySellFlow.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6222] Fix overflow colors
  packages/web/src/assets/styles/colors.css
  packages/web/src/components/action-drawer/ActionDrawer.module.css
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6301] Fix player controls (#12226)
  packages/common/src/store/queue/selectors.ts
  packages/web/src/components/play-bar/desktop/PlayBar.jsx
  packages/web/src/pages/feed-page/FeedPageProvider.jsx
  packages/web/src/pages/trending-page/TrendingPageProvider.jsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6297] Fix notification UI update
  packages/common/src/api/tan-query/notifications/useNotifications.ts
  packages/web/src/components/notification/Notification/ArtistRemixContestEndedNotification.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6294] Fix wallet UI breakpoint (#12227)
  packages/web/src/components/buy-sell-modal/BuySellFlow.tsx
  packages/web/src/pages/pay-and-earn-page/components/CashWallet.styles.ts
  packages/web/src/pages/pay-and-earn-page/components/CashWallet.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6297] Fix notification UI update (#12229)
  packages/common/src/api/tan-query/notifications/useNotifications.ts
  packages/web/src/components/notification/Notification/ArtistRemixContestEndedNotification.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Redo
  packages/web/e2e/smoke.test.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Skip album test (#12219)
  packages/web/e2e/smoke.test.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

fix tests
  packages/discovery-provider/integration_tests/challenges/test_remix_contest_winner_challenge.py
  packages/discovery-provider/src/challenges/challenges.stage.json
  packages/discovery-provider/src/challenges/remix_contest_winner_challenge.py
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Audius Protocol v0.7.165
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Bust cache
  .circleci/config.yml
  .circleci/src/commands/@web-commands.yml
  .circleci/src/jobs/@common-jobs.yml
  .circleci/src/jobs/@create-audius-app-jobs.yml
  .circleci/src/jobs/@discovery-jobs.yml
  .circleci/src/jobs/@embed-jobs.yml
  .circleci/src/jobs/@harmony-jobs.yml
  .circleci/src/jobs/@identity-jobs.yml
  .circleci/src/jobs/@integration-jobs.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@protocol-dashboard-jobs.yml
  .circleci/src/jobs/@sdk-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6295] Fix popup positioning
  packages/harmony/src/components/popup/Popup.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6295] Fix popup positioning (#12230)
  packages/harmony/src/components/popup/Popup.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

stage
  packages/discovery-provider/src/challenges/challenges.stage.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6253] Remix contest winner reward (#12220)
  .changeset/dull-pillows-ring.md
  packages/common/src/models/AudioRewards.ts
  packages/common/src/utils/challenges.ts
  packages/discovery-provider/integration_tests/challenges/test_remix_contest_winner_challenge.py
  packages/discovery-provider/plugins/notifications/src/email/notifications/components/notifications/Notification.tsx
  packages/discovery-provider/plugins/notifications/src/email/notifications/types.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/challengeReward.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/rewardInCooldown.ts
  packages/discovery-provider/src/challenges/challenge_event.py
  packages/discovery-provider/src/challenges/challenge_event_bus.py
  packages/discovery-provider/src/challenges/challenges.dev.json
  packages/discovery-provider/src/challenges/challenges.json
  packages/discovery-provider/src/challenges/challenges.stage.json
  packages/discovery-provider/src/challenges/remix_contest_winner_challenge.py
  packages/discovery-provider/src/tasks/entity_manager/entities/event.py
  packages/mobile/src/components/challenge-rewards-drawer/RemixContestWinnerChallengeContent.tsx
  packages/mobile/src/components/challenge-rewards-drawer/challengeContentRegistry.ts
  packages/mobile/src/screens/rewards-screen/ChallengeRewardsTile.tsx
  packages/mobile/src/utils/challenges.tsx
  packages/sdk/src/sdk/api/challenges/types.ts
  packages/web/src/assets/fonts/emojis/trophy.png
  packages/web/src/assets/styles/emoji.css
  packages/web/src/pages/rewards-page/components/ChallengeRewards/hooks/useRewardIds.ts
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/RemixContestWinnerChallengeModalContent.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/challengeContentRegistry.ts
  packages/web/src/pages/rewards-page/config.tsx
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

[PE-6222] Update overflow text colors (#12228)
  packages/web/src/assets/styles/colors.css
  packages/web/src/components/action-drawer/ActionDrawer.module.css
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6272] Fix signed-out avatar account border (#12198)
  packages/web/src/components/nav/desktop/AccountDetails.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Drop !!
  packages/common/src/api/tan-query/reactions/useReaction.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6154] Migrate tip reactions to tanstack query (#12109)
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/batchers/getReactionsBatcher.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/api/tan-query/reactions/messages.ts
  packages/common/src/api/tan-query/reactions/types.ts
  packages/common/src/api/tan-query/reactions/useReaction.ts
  packages/common/src/api/tan-query/reactions/useWriteReaction.ts
  packages/common/src/api/tan-query/reactions/utils.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/ui/index.ts
  packages/common/src/store/ui/reactions/selectors.ts
  packages/common/src/store/ui/reactions/slice.ts
  packages/common/src/store/ui/reactions/types.ts
  packages/common/src/store/ui/reactions/utils.ts
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TipReactionNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TipReceivedNotification.tsx
  packages/mobile/src/screens/notifications-screen/Reaction/Reaction.tsx
  packages/mobile/src/screens/notifications-screen/Reaction/ReactionList.tsx
  packages/mobile/src/screens/notifications-screen/Reaction/reactions.tsx
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/ui/reactions/sagas.ts
  packages/web/src/components/notification/Notification/TipReactionNotification.tsx
  packages/web/src/components/notification/Notification/TipReceivedNotification.tsx
  packages/web/src/components/notification/Notification/components/Reaction/index.tsx
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
  packages/web/src/pages/chat-page/components/ReactionPopupMenu.tsx
  packages/web/src/store/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6046, PE-6283] Remove account collections selectors (#12208)
  packages/common/src/api/tan-query/users/useUserAlbums.ts
  packages/common/src/api/tan-query/users/useUserPlaylists.ts
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useDebounce.ts
  packages/common/src/store/account/selectors.ts
  packages/common/src/store/account/slice.ts
  packages/common/src/store/cache/collections/selectors.ts
  packages/common/src/utils/collectionUtils.ts
  packages/discovery-provider/integration_tests/queries/test_get_playlists.py
  packages/discovery-provider/src/api/v1/helpers.py
  packages/discovery-provider/src/api/v1/users.py
  packages/discovery-provider/src/queries/get_playlists.py
  packages/mobile/src/components/add-to-collection-drawer/AddToCollectionDrawer.tsx
  packages/mobile/src/screens/favorites-screen/useLibraryCollections.ts
  packages/sdk/src/sdk/api/generated/default/apis/UsersApi.ts
  packages/sdk/src/sdk/api/generated/full/apis/UsersApi.ts
  packages/web/src/common/store/account/sagas.ts
  packages/web/src/common/store/add-to-collection/sagas.ts
  packages/web/src/components/add-to-collection/desktop/AddToCollectionModal.tsx
  packages/web/src/components/add-to-collection/mobile/AddToCollection.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
  packages/web/src/pages/collection-page/components/mobile/CollectionPage.tsx
  packages/web/src/pages/dashboard-page/components/hooks.ts
  packages/web/src/pages/saved-page/SavedPageProvider.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

migrate getIsAccountComplete
  packages/common/src/api/tan-query/users/account/accountSelectors.ts
  packages/common/src/hooks/chats/useSetInboxPermissions.ts
  packages/common/src/hooks/useAccessAndRemixSettings.ts
  packages/common/src/store/account/selectors.ts
  packages/common/src/store/collectibles/selectors.ts
  packages/common/src/store/pages/chat/selectors.ts
  packages/mobile/src/components/notification-reminder/NotificationReminder.tsx
  packages/mobile/src/components/rate-cta-drawer/RateCtaReminder.tsx
  packages/mobile/src/screens/root-screen/RootScreen.tsx
  packages/mobile/src/screens/sign-on-screen/SignOnStack.tsx
  packages/web/src/common/store/pages/signon/sagas.ts
  packages/web/src/common/store/pages/signon/selectors.ts
  packages/web/src/components/edit/fields/stream-availability/collectible-gated/CollectibleGatedFields.tsx
  packages/web/src/components/nav/desktop/AccountDetails.tsx
  packages/web/src/components/nav/desktop/AccountSwitcher/AccountSwitcher.tsx
  packages/web/src/components/nav/desktop/LeftNavCTA.tsx
  packages/web/src/components/nav/desktop/NavHeader.tsx
  packages/web/src/components/nav/desktop/NotificationsButton.tsx
  packages/web/src/components/nav/desktop/WalletsNestedContent.tsx
  packages/web/src/components/nav/desktop/useNavConfig.tsx
  packages/web/src/components/premium-content-purchase-modal/PremiumContentPurchaseModal.tsx
  packages/web/src/components/profile-progress/hooks.ts
  packages/web/src/hooks/useRequiresAccount.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

wip migrate wallet addresses
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/api/tan-query/saga-utils/queryUser.ts
  packages/common/src/api/tan-query/users/account/useCurrentAccount.ts
  packages/common/src/api/tan-query/users/account/useWalletAddresses.ts
  packages/common/src/store/account/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6303] Migrate collection selectors to tan-query
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/collection/useCollectionByParams.ts
  packages/common/src/hooks/content/useCollectionLockedStatusVariant.ts
  packages/common/src/hooks/content/useIsCollectionUnlockable.ts
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useCollectionAccessTypeLabel.ts
  packages/common/src/hooks/useGatedContent.ts
  packages/common/src/hooks/useGeneratePlaylistArtwork.ts
  packages/common/src/hooks/useSavedCollections.ts
  packages/common/src/store/account/selectors.ts
  packages/common/src/store/cache/collections/selectors.ts
  packages/common/src/store/cache/index.ts
  packages/common/src/store/pages/collection/selectors.ts
  packages/common/src/store/pages/explore/exploreCollections/selectors.ts
  packages/common/src/store/pages/profile/selectors.ts
  packages/common/src/store/saved-collections/selectors.ts
  packages/mobile/src/components/offline-downloads/CollectionDownloadStatusIndicator.tsx
  packages/mobile/src/screens/collection-screen/useFetchCollectionLineup.ts
  packages/mobile/src/screens/collection-screen/useHasCollectionChanged.tsx
  packages/mobile/src/screens/explore-screen/tabs/ForYouTab/LetThemDJScreen.tsx
  packages/mobile/src/screens/explore-screen/tabs/ForYouTab/TopAlbumsScreen.tsx
  packages/mobile/src/screens/mood-collection-screen/MoodCollectionScreen.tsx
  packages/web/src/common/store/pages/collection/lineups/sagas.js
  packages/web/src/common/store/pages/profile/lineups/feed/sagas.js
  packages/web/src/common/store/queue/sagas.ts
  packages/web/src/components/nav/desktop/PlaylistLibrary/usePlaylistPlayingStatus.ts
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/pages/collection-page/DesktopServerCollectionPage.tsx
  packages/web/src/pages/collection-page/MobileServerCollectionPage.tsx
  packages/web/src/ssr/collection/+onRenderHtml.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Prevent app error
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix crash in connectedWallets modal (#12211)
  packages/web/src/hooks/useConnectAndAssociateWallets.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

fix 400 messages crash
  packages/common/src/api/tan-query/tracks/useTrackByPermalink.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Hotfix 400 messages crash (#12232)
  packages/common/src/api/tan-query/tracks/useTrackByPermalink.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix return type
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6304] Migrate collection writes to tan-query
  packages/common/src/api/tan-query/utils/index.ts
  packages/common/src/api/tan-query/utils/updateCollectionData.ts
  packages/common/src/store/gated-content/sagas.ts
  packages/web/src/common/store/cache/collections/addTrackToPlaylistSaga.ts
  packages/web/src/common/store/cache/collections/commonSagas.ts
  packages/web/src/common/store/cache/collections/confirmOrderPlaylist.ts
  packages/web/src/common/store/cache/collections/createAlbumSaga.ts
  packages/web/src/common/store/cache/collections/createPlaylistSaga.ts
  packages/web/src/common/store/cache/collections/utils/optimisticUpdateCollection.ts
  packages/web/src/common/store/lineup/sagas.ts
  packages/web/src/common/store/social/collections/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Drop update type
  packages/common/src/store/cache/actions.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: ((((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: (((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-integration-workflow: ((any of: packages/web/e2e/.*) or (any of: .*)) or (any of: .*)
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*
