Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: ((((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: (((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-integration-workflow: ((any of: packages/web/e2e/.*) or (any of: .*)) or (any of: .*)
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*

Refresh balances when in buy/sell/swap flow
  packages/common/src/api/tan-query/wallets/useAudioBalance.ts
  packages/common/src/hooks/useOwnedTokens.ts
  packages/common/src/store/ui/buy-sell/hooks/useTokenData.ts
  packages/common/src/store/ui/buy-sell/useTokenSwapForm.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Use sol_keypairs table to populate artist coin mints
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/routes/launchpad/getKeypair.ts
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/routes/launchpad/launch_coin.ts
  packages/discovery-provider/plugins/pedalboard/packages/storage/src/index.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

new hook & make audio spl wallet in claim fees
  packages/web/src/hooks/useClaimFees.ts
  packages/web/src/hooks/useConnectAndAssociateWallets.ts
  packages/web/src/hooks/useConnectWallets.ts
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix lint
  packages/web/src/hooks/useClaimFees.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Refresh balances when in buy/sell/swap flow (#13148)
  packages/common/src/api/tan-query/wallets/useAudioBalance.ts
  packages/common/src/hooks/useOwnedTokens.ts
  packages/common/src/store/ui/buy-sell/hooks/useTokenData.ts
  packages/common/src/store/ui/buy-sell/useTokenSwapForm.ts
  packages/web/src/hooks/useClaimFees.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Add whereIn
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/routes/launchpad/getKeypair.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

update sdk & remove requirement to associate wallet
  packages/sdk/src/sdk/api/generated/default/models/CoinDynamicBondingCurve.ts
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow

update how we get the wallets to detect the right one
  packages/common/src/messages/coinDetailsMessages.ts
  packages/web/src/hooks/useConnectWallets.ts
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

fix the weird ${value} $AUDIO formatting
  packages/common/src/utils/decimal.ts
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

lint
  packages/web/src/hooks/useConnectWallets.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

comment
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

import order
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Create user bank to claim fees (#13147)
  packages/web/src/hooks/useClaimFees.ts
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6843] Mobile artist coin explore pagination
  packages/mobile/src/screens/artist-coins-explore-screen/ArtistCoinsExploreScreen.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

cleanup
  packages/mobile/src/screens/artist-coins-explore-screen/ArtistCoinsExploreScreen.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

fixes
  packages/mobile/src/screens/artist-coins-explore-screen/ArtistCoinsExploreScreen.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

50
  packages/mobile/src/screens/artist-coins-explore-screen/ArtistCoinsExploreScreen.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

lint
  packages/mobile/src/screens/artist-coins-explore-screen/ArtistCoinsExploreScreen.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-7097] Hide balance/wallet-related coin assets details for anon users (#13146)
  packages/web/src/pages/asset-detail-page/AssetDetailContent.tsx
  packages/web/src/pages/asset-detail-page/AssetDetailPage.tsx
  packages/web/src/pages/asset-detail-page/AssetDetailTabs.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add normalization for badwords (#13121)
  packages/discovery-provider/src/tasks/entity_manager/entities/user.py
  packages/discovery-provider/src/utils/hardcoded_data.py
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-7078] Prevent user from buying too much $AUDIO
  packages/common/src/store/ui/buy-sell/useTokenSwapForm.ts
  packages/web/src/pages/artist-coins-launchpad-page/components/LaunchpadBuyModal.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

wrap button in link
  packages/web/src/pages/artist-coins-explore-page/ArtistCoinsExplorePage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-7078] Prevent user from buying too much $AUDIO (#13152)
  packages/common/src/store/ui/buy-sell/useTokenSwapForm.ts
  packages/web/src/pages/artist-coins-launchpad-page/components/LaunchpadBuyModal.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

fix plain button link wrapping
  packages/harmony/src/components/button/PlainButton/PlainButton.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-7108] Final copy updates
  packages/common/src/messages/coinDetailsMessages.ts
  packages/web/src/pages/artist-coins-launchpad-page/components/AgreeToTerms.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/WalletSetupCard.tsx
  packages/web/src/pages/artist-coins-launchpad-page/pages/BuyCoinPage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/pages/ReviewPage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/pages/SetupPage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/pages/SplashPage.tsx
  packages/web/src/pages/asset-detail-page/components/ArtistCoinDetailsModal.tsx
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-7109] Drop ticker from coin card with balance
  packages/mobile/src/screens/coin-details-screen/components/BalanceCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow
