Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

filter/concat
  packages/sdk/src/sdk/utils/preparePaymentSplits.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow

fix lint
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix bug with purchase split calculation (#12766)
  packages/sdk/src/sdk/utils/preparePaymentSplits.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow

Swap prod rpc
  packages/protocol-dashboard/.env.prod
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Swap prod dashboard rpc (#12773)
  packages/protocol-dashboard/.env.prod
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Make leaderboard card not show for 0 members
  packages/web/src/pages/asset-detail-page/components/AssetLeaderboardCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6714] Only show add cash when no USDC balance
  packages/web/src/pages/asset-detail-page/components/BalanceSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add mobile AllCoinsScreen and CoinDetailsScreen
  packages/mobile/src/screens/all-coins-screen/AllCoinsScreen.tsx
  packages/mobile/src/screens/all-coins-screen/index.ts
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/coin-details-screen/CoinDetailsScreen.tsx
  packages/mobile/src/screens/coin-details-screen/components/BalanceCard.tsx
  packages/mobile/src/screens/coin-details-screen/components/CoinInfoCard.tsx
  packages/mobile/src/screens/coin-details-screen/components/CoinInsightsCard.tsx
  packages/mobile/src/screens/coin-details-screen/components/CoinLeaderboardCard.tsx
  packages/mobile/src/screens/coin-details-screen/components/coinMetricsUtil.ts
  packages/mobile/src/screens/coin-details-screen/index.ts
  packages/mobile/src/screens/user-list-screen/CoinLeaderboardScreen.tsx
  packages/mobile/src/screens/wallet-screen/WalletScreen.tsx
  packages/mobile/src/screens/wallet-screen/components/BonkLeaderboardButton.tsx
  packages/mobile/src/screens/wallet-screen/components/CoinCard.tsx
  packages/mobile/src/screens/wallet-screen/components/YourCoins.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Replace existing prod links with new flow
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useDiscordOAuthLink.ts
  packages/common/src/store/ui/modals/parentSlice.ts
  packages/common/src/store/ui/modals/types.ts
  packages/common/src/store/wallet/utils.ts
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/components/vip-discord-drawer/VipDiscordDrawer.tsx
  packages/mobile/src/components/vip-discord-drawer/index.ts
  packages/mobile/src/screens/rewards-screen/TiersTile.tsx
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
  packages/web/src/pages/rewards-page/Tiers.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Migrate hook to common & fix existing usages
  packages/common/src/hooks/useDiscordOAuthLink.ts
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

fix moved import
  packages/web/src/pages/rewards-page/Tiers.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

fix lint
  packages/common/src/store/wallet/utils.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

copy update
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add check for instruction type
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/routes/relay/assertRelayAllowedInstructions.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

lint fix
  packages/web/src/pages/rewards-page/Tiers.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6670] Redo discord flow with OAuth (#12772)
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useDiscordOAuthLink.ts
  packages/common/src/store/ui/modals/parentSlice.ts
  packages/common/src/store/ui/modals/types.ts
  packages/common/src/store/wallet/utils.ts
  packages/common/src/utils/route.ts
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/components/vip-discord-drawer/VipDiscordDrawer.tsx
  packages/mobile/src/components/vip-discord-drawer/index.ts
  packages/mobile/src/screens/rewards-screen/TiersTile.tsx
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
  packages/web/src/pages/rewards-page/Tiers.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

init v2 with rent receiver pda
  solana-programs/claimable-tokens/cli/src/main.rs
  solana-programs/claimable-tokens/program/src/instruction.rs
  solana-programs/claimable-tokens/program/src/processor.rs
  solana-programs/claimable-tokens/program/src/utils/program.rs
  solana-programs/reward-manager/cli/src/main.rs
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add cta banner to no balance UI
  packages/common/src/messages/walletMessages.ts
  packages/web/src/pages/asset-detail-page/components/BalanceSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

add profile CTA logic
  packages/common/src/api/tan-query/coins/useUserCoins.ts
  packages/web/src/pages/profile-page/components/desktop/BuyArtistCoinCard.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfileLeftNav.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6660] Add new send tokens modal
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/api/tan-query/wallets/useSendTokens.ts
  packages/harmony/src/components/hint/Hint.tsx
  packages/web/src/components/modal/ResponsiveModal.tsx
  packages/web/src/components/send-tokens-modal/README.md
  packages/web/src/components/send-tokens-modal/SendTokensConfirmation.tsx
  packages/web/src/components/send-tokens-modal/SendTokensFailure.tsx
  packages/web/src/components/send-tokens-modal/SendTokensInput.tsx
  packages/web/src/components/send-tokens-modal/SendTokensModal.tsx
  packages/web/src/components/send-tokens-modal/SendTokensProgress.tsx
  packages/web/src/components/send-tokens-modal/SendTokensSuccess.tsx
  packages/web/src/components/send-tokens-modal/WalletInput.tsx
  packages/web/src/components/send-tokens-modal/index.ts
  packages/web/src/components/send-tokens-modal/types.ts
  packages/web/src/pages/asset-detail-page/AssetDetailContent.tsx
  packages/web/src/pages/asset-detail-page/AssetDetailPage.tsx
  packages/web/src/pages/asset-detail-page/AssetDetailTabs.tsx
  packages/web/src/pages/asset-detail-page/components/BalanceSection.tsx
  packages/web/src/pages/asset-detail-page/types.ts
  packages/web/src/pages/audio-page/components/completed.txt
  packages/web/src/pages/audio-page/components/confirm.txt
  packages/web/src/pages/audio-page/components/input-errors.txt
  packages/web/src/pages/audio-page/components/transaction-in-progress.txt
  packages/web/src/services/solana/send.txt
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Remove old css
  packages/web/src/pages/audio-page/components/completed.txt
  packages/web/src/pages/audio-page/components/confirm.txt
  packages/web/src/pages/audio-page/components/input-errors.txt
  packages/web/src/pages/audio-page/components/transaction-in-progress.txt
  packages/web/src/services/solana/send.txt
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Improve direct dbc swaps
  packages/common/src/api/tan-query/jupiter/useSwapTokens.ts
  packages/common/src/api/tan-query/jupiter/useTokenExchangeRate.ts
  packages/common/src/services/Jupiter.ts
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/README.md
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/routes/relay/assertRelayAllowedInstructions.ts
  packages/web/src/services/env/env.prod.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix flakey ampm test
  packages/common/src/utils/timeUtil.test.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Undo env var change
  packages/web/src/services/env/env.prod.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

respect rent account in close()
  solana-programs/claimable-tokens/cli/src/main.rs
  solana-programs/claimable-tokens/program/src/instruction.rs
  solana-programs/claimable-tokens/program/src/processor.rs
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

close the pda too
  solana-programs/claimable-tokens/program/src/error.rs
  solana-programs/claimable-tokens/program/src/instruction.rs
  solana-programs/claimable-tokens/program/src/processor.rs
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

rent destination rename and bugfix
  solana-programs/claimable-tokens/cli/src/main.rs
  solana-programs/claimable-tokens/program/src/error.rs
  solana-programs/claimable-tokens/program/src/instruction.rs
  solana-programs/claimable-tokens/program/src/processor.rs
  solana-programs/claimable-tokens/program/src/utils/program.rs
  solana-programs/reward-manager/cli/src/main.rs
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

add init command, some better testing methods
  solana-programs/claimable-tokens/cli/src/main.rs
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

some cleanup
  solana-programs/claimable-tokens/cli/src/main.rs
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

remove debug
  solana-programs/claimable-tokens/cli/src/main.rs
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Small updates
  packages/common/src/api/tan-query/jupiter/useSwapTokens.ts
  packages/common/src/api/tan-query/jupiter/utils.ts
  packages/common/src/services/Jupiter.ts
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/README.md
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Update tests
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/routes/relay/assertRelayAllowedInstructions.test.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Audius Protocol v0.7.224
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6725] Remove ai-attribution from uploadTrack e2e test
  packages/web/e2e/data.ts
  packages/web/e2e/uploadTrack.test.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Improvements
  packages/web/src/components/send-tokens-modal/README.md
  packages/web/src/components/send-tokens-modal/SendTokensConfirmation.tsx
  packages/web/src/components/send-tokens-modal/SendTokensFailure.tsx
  packages/web/src/components/send-tokens-modal/SendTokensInput.tsx
  packages/web/src/components/send-tokens-modal/SendTokensModal.tsx
  packages/web/src/components/send-tokens-modal/SendTokensSuccess.tsx
  packages/web/src/components/send-tokens-modal/WalletInput.tsx
  packages/web/src/components/send-tokens-modal/index.ts
  packages/web/src/components/send-tokens-modal/types.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Drop track tile on upload complete screen
  packages/mobile/src/screens/upload-screen/screens/UploadCompleteScreen.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6714] Only show add cash when no USDC balance (#12774)
  packages/web/src/pages/asset-detail-page/components/BalanceSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Raise priority fee max
  packages/sdk/src/sdk/services/Solana/programs/SolanaClient.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow

Fix types and type safety in useConnectedWallets, useAudioBalance, useWalletAudioBalance, and useWalletAudioBalances (#12683)
  packages/common/src/api/tan-query/jupiter/optimisticUpdates.ts
  packages/common/src/api/tan-query/wallets/useAudioBalance.ts
  packages/common/src/api/tan-query/wallets/useConnectedWallets.ts
  packages/mobile/src/components/audio-breakdown-drawer/AudioBreakdownDrawer.tsx
  packages/web/src/common/store/wallet/sagas.ts
  packages/web/src/pages/audio-page/components/modals/AudioBreakdownModal.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6725] Remove ai-attribution from uploadTrack e2e test (#12779)
  packages/web/e2e/data.ts
  packages/web/e2e/uploadTrack.test.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: ((((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: (((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-integration-workflow: ((any of: packages/web/e2e/.*) or (any of: .*)) or (any of: .*)
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*
