Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-e2e-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Add microlamports to purchases
  packages/libs/src/sdk/api/tracks/TracksApi.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

small refactors
  packages/harmony/src/components/comments/Timestamp/Timestamp.tsx
  packages/harmony/src/components/comments/Timestamp/index.ts
  packages/harmony/src/components/comments/Timestamp/util.ts
  packages/mobile/src/harmony-native/components/Comments/Timestamp/Timestamp.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

some starts to this i guess
  dev-tools/compose/docker-compose.blockchain.yml
  dev-tools/compose/docker-compose.yml
  dev-tools/geth/Dockerfile
  dev-tools/geth/README.md
  dev-tools/geth/acdc/Dockerfile
  dev-tools/geth/acdc/ganache-accounts.txt
  dev-tools/geth/acdc/genesis.json
  dev-tools/geth/deployer/Dockerfile
  dev-tools/geth/docker-compose.yml
  dev-tools/geth/eth/Dockerfile
  dev-tools/geth/eth/ganache-accounts.txt
  dev-tools/geth/eth/genesis.json
  dev-tools/geth/run.sh
  dev-tools/geth/start.sh
  dev-tools/startup/poa-ganache.sh
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Audius Protocol v0.6.164
  mediorum/.version.json
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Fix type error in useSearchCategory hook
  packages/web/src/pages/search-page-v2/hooks.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[QA-1446] Fix popup alignment (#9389)
  packages/harmony/src/components/popup/Popup.tsx
  packages/web/src/components/menu/Menu.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[PAY-2267] Update stage payment router and program addresses (#9387)
  packages/libs/src/sdk/config/staging.ts
  packages/libs/src/sdk/scripts/generateServicesConfig.ts
  packages/mobile/src/env/env.stage.ts
  packages/web/src/services/env/env.stage.ts
  solana-programs/payment-router/Anchor.toml
  solana-programs/staking-bridge/Anchor.toml
  solana-programs/staking-bridge/package.json
  solana-programs/staking-bridge/programs/staking-bridge/src/lib.rs
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Improve useClickOutside (#9377)
  .changeset/slimy-cameras-beg.md
  packages/harmony/src/components/modal/Modal.tsx
  packages/harmony/src/hooks/useClickOutside.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Add network cut feature flag
  packages/common/src/services/remote-config/feature-flags.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Add optional network cut query param
  packages/discovery-provider/src/api/v1/tracks.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Add staking bridge config to dn
  packages/discovery-provider/default_config.ini
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Update staking bridge and payment router program addresses in code and configs
  docs/docs/reference/solana-programs.mdx
  packages/common/src/services/env.ts
  packages/discovery-provider/default_config.ini
  packages/libs/src/sdk/config/production.ts
  packages/libs/src/sdk/config/staging.ts
  packages/libs/src/sdk/config/types.ts
  packages/libs/src/sdk/scripts/generateServicesConfig.ts
  packages/mobile/src/env/env.prod.ts
  packages/mobile/src/env/env.stage.ts
  packages/web/src/services/env/env.prod.ts
  packages/web/src/services/env/env.stage.ts
  solana-programs/staking-bridge/README.md
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

scaffold api methods
  packages/common/src/api/comments.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

fix imports for new adapters
  packages/common/src/adapters/index.ts
  packages/web/src/common/store/pages/profile/lineups/feed/retrieveUserReposts.ts
  packages/web/src/common/store/pages/signon/sagas.ts
  packages/web/src/common/store/user-list/related-artists/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

more refactors
  packages/mobile/src/harmony-native/components/Comments/Timestamp/Timestamp.stories.tsx
  packages/mobile/src/harmony-native/components/Comments/Timestamp/Timestamp.tsx
  packages/mobile/src/harmony-native/components/Comments/Timestamp/index.ts
  packages/mobile/src/harmony-native/components/Comments/Timestamp/types.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[QA-1485] Redir to signup/in on direct /feed link (#9373)
  packages/web/src/pages/feed-page/components/EmptyFeed.module.css
  packages/web/src/pages/feed-page/components/EmptyFeed.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Adding some pagination buttons
  packages/web/src/components/comments/CommentSectionContext.tsx
  packages/web/src/components/comments/CommentSectionDesktop.tsx
  packages/web/src/components/comments/CommentThread.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

add comment
  packages/web/src/components/comments/CommentThread.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

fix isPlaying logic for details screens
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Color is red!
  packages/web/src/components/nav/desktop/NotificationsButton.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Add Pin icon and Timestamp component to harmony and harmony-native (#9383)
  packages/harmony/src/assets/icons/Pin.svg
  packages/harmony/src/components/comments/SendIcon/SendIcon.tsx
  packages/harmony/src/components/comments/Timestamp/Timestamp.stories.tsx
  packages/harmony/src/components/comments/Timestamp/Timestamp.tsx
  packages/harmony/src/components/comments/Timestamp/index.ts
  packages/harmony/src/components/comments/Timestamp/types.ts
  packages/harmony/src/components/comments/Timestamp/util.ts
  packages/harmony/src/components/index.ts
  packages/harmony/src/icons/utilityIcons.ts
  packages/mobile/src/harmony-native/components/Comments/Timestamp/Timestamp.stories.tsx
  packages/mobile/src/harmony-native/components/Comments/Timestamp/Timestamp.tsx
  packages/mobile/src/harmony-native/components/Comments/Timestamp/index.ts
  packages/mobile/src/harmony-native/components/index.ts
  packages/mobile/src/harmony-native/icons.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[QA-1459] Break broken slugs
  packages/discovery-provider/ddl/migrations/0087_fix_slugs_with_slash.sql
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

half-done lazy chat creation stuff
  comms/discovery/db/queries/get_chat_messages.go
  comms/discovery/db/queries/get_new_blasts.go
  comms/discovery/misc/chat_id.go
  comms/discovery/misc/hashids_util.go
  comms/discovery/rpcz/chat.go
  comms/discovery/rpcz/chat_blast.go
  comms/discovery/rpcz/chat_blast_test.go
  packages/discovery-provider/ddl/migrations/0086_chat_blast.sql
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[QA-1459] Fix broken slugs (#9396)
  packages/discovery-provider/ddl/migrations/0087_fix_slugs_with_slash.sql
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Clean up old trending versions (#9388)
  packages/discovery-provider/integration_tests/queries/test_get_trending_playlists.py
  packages/discovery-provider/src/trending_strategies/BDNxn_trending_playlists_strategy.py
  packages/discovery-provider/src/trending_strategies/EJ57D_trending_tracks_strategy.py
  packages/discovery-provider/src/trending_strategies/EJ57D_underground_trending_tracks_strategy.py
  packages/discovery-provider/src/trending_strategies/trending_strategy_factory.py
  packages/discovery-provider/src/trending_strategies/trending_type_and_version.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

small fixes
  packages/discovery-provider/src/tasks/entity_manager/entity_manager.py
  packages/libs/src/sdk/services/EntityManager/types.ts
  packages/web/src/components/comments/CommentBlock.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Add blasts to existing chat if possible
  comms/discovery/rpcz/chat_blast.go
  comms/discovery/rpcz/chat_blast_test.go
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

clean up sdk changes
  packages/libs/src/sdk/api/generated/default/.openapi-generator/FILES
  packages/libs/src/sdk/api/generated/default/models/Comment.ts
  packages/libs/src/sdk/api/generated/default/models/ReplyComment.ts
  packages/libs/src/sdk/api/generated/default/models/index.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

[C-4923] Persist verified filter & general cleanup (#9384)
  packages/web/src/pages/search-page-v2/BpmFilter.tsx
  packages/web/src/pages/search-page-v2/SearchFilters.tsx
  packages/web/src/pages/search-page-v2/SearchHeader.tsx
  packages/web/src/pages/search-page-v2/SearchPageV2.tsx
  packages/web/src/pages/search-page-v2/SearchResults.tsx
  packages/web/src/pages/search-page-v2/SortMethodFilterButton.tsx
  packages/web/src/pages/search-page-v2/categories.ts
  packages/web/src/pages/search-page-v2/hooks.ts
  packages/web/src/pages/search-page-v2/moods.tsx
  packages/web/src/pages/search-page-v2/search-results/AlbumResults.tsx
  packages/web/src/pages/search-page-v2/search-results/AllResults.tsx
  packages/web/src/pages/search-page-v2/search-results/PlaylistResults.tsx
  packages/web/src/pages/search-page-v2/search-results/ProfileResults.tsx
  packages/web/src/pages/search-page-v2/search-results/TrackResults.tsx
  packages/web/src/pages/search-page-v2/types.ts
  packages/web/src/pages/search-page-v2/utils.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Fix chat get test
  comms/discovery/rpcz/chat_blast_test.go
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Fix duplicate effects
  packages/mobile/src/screens/search-screen-v2/BpmFilter.tsx
  packages/mobile/src/screens/search-screen-v2/SearchScreenV2.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[C 4922] Update mobile filter button (#9385)
  packages/mobile/src/harmony-native/components/Button/FilterButton/FilterButton.tsx
  packages/mobile/src/harmony-native/components/Button/FilterButton/FilterButtonScreen.tsx
  packages/mobile/src/harmony-native/components/Button/FilterButton/types.ts
  packages/mobile/src/harmony-native/components/index.ts
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/SelectMoodScreen.tsx
  packages/mobile/src/screens/list-selection-screen/ListSelectionScreen.tsx
  packages/mobile/src/screens/list-selection-screen/SelectionItemList.tsx
  packages/mobile/src/screens/search-screen-v2/BpmFilter.tsx
  packages/mobile/src/screens/search-screen-v2/SearchCategoriesAndFilters.tsx
  packages/mobile/src/screens/search-screen-v2/SearchFilters.tsx
  packages/mobile/src/screens/search-screen-v2/SearchScreenV2.tsx
  packages/mobile/src/screens/search-screen-v2/index.ts
  packages/mobile/src/screens/search-screen-v2/screens/FilterGenreScreen.tsx
  packages/mobile/src/screens/search-screen-v2/screens/FilterMoodScreen.tsx
  packages/mobile/src/screens/search-screen-v2/screens/FilterMusicalKeyScreen.tsx
  packages/mobile/src/screens/search-screen-v2/screens/index.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Add comment actions: edit, delete, react (#9372)
  packages/discovery-provider/ddl/migrations/0086_comment_reactions.sql
  packages/discovery-provider/src/models/comments/comment_reaction.py
  packages/discovery-provider/src/tasks/entity_manager/entities/comment.py
  packages/discovery-provider/src/tasks/entity_manager/entity_manager.py
  packages/discovery-provider/src/tasks/entity_manager/utils.py
  packages/libs/src/sdk/api/comments/CommentsAPI.ts
  packages/libs/src/sdk/services/EntityManager/types.ts
  packages/libs/src/services/dataContracts/EntityManagerClient.ts
  packages/web/src/components/comments/CommentBlock.tsx
  packages/web/src/components/comments/CommentSectionContext.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

FilterButton fixes
  packages/harmony/src/components/button/FilterButton/FilterButton.tsx
  packages/harmony/src/components/button/FilterButton/FilterButtonOption.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Only show bpm decimals if necessary
  packages/common/src/hooks/useTrackMetadata.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

[PAY-3336] fix isPlaying logic for details screens (#9395)
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Fix priority fee calculations, add priority fees to tips, challenges
  packages/libs/src/sdk/api/albums/AlbumsApi.ts
  packages/libs/src/sdk/api/challenges/ChallengesApi.ts
  packages/libs/src/sdk/api/tracks/TracksApi.ts
  packages/libs/src/sdk/api/users/UsersApi.ts
  packages/libs/src/sdk/services/Solana/programs/BaseSolanaProgramClient.ts
  packages/libs/src/sdk/services/Solana/programs/types.ts
  packages/web/src/components/payout-wallet-modal/PayoutWalletModal.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

[C-4937] Adding some pagination buttons (#9394)
  packages/web/src/components/comments/CommentSectionContext.tsx
  packages/web/src/components/comments/CommentSectionDesktop.tsx
  packages/web/src/components/comments/CommentThread.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Missed one
  packages/libs/src/sdk/api/challenges/ChallengesApi.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Add minimums
  packages/libs/src/sdk/api/challenges/ChallengesApi.ts
  packages/libs/src/sdk/api/users/UsersApi.ts
  packages/libs/src/sdk/services/Solana/programs/BaseSolanaProgramClient.ts
  packages/libs/src/sdk/services/Solana/programs/types.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: .*)
  run-creator-workflow: (((any of: mediorum/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-identity-workflow: (((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-integration-workflow: (((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)) or (any of: .*)
  run-ddex-webapp-workflow: (((any of: packages/ddex/webapp/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/webapp/.*)
  run-ddex-e2e-workflow: ((((any of: packages/ddex/webapp/.*) or (any of: packages/ddex/ingester/.*)) or (any of: .circleci/.*)) or (any of: packages/ddex/webapp/.*)) or (any of: packages/ddex/ingester/.*)
  run-ddex-publisher-workflow: (((any of: packages/ddex/publisher/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/publisher/.*)
  run-eth-contracts-workflow: (((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-healthz-workflow: ((any of: monitoring/healthz/.*) or (any of: .circleci/.*)) or (any of: monitoring/healthz/.*)
  run-protocol-dashboard-workflow: (((((any of: protocol-dashboard/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: protocol-dashboard/.*)) or (any of: .*)
  run-contracts-workflow: (((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-sdk-workflow: ((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/libs/.*)) or (any of: .*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/web/.*)) or (any of: .*)
  run-mobile-workflow: (((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/mobile/.*)) or (any of: .*)
  run-harmony-workflow: (((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-embed-workflow: (((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/libs/.*)) or (any of: packages/embed/.*)
  run-release-workflow=false: any of: .*
  run-common-workflow: any of: packages/common/.*
  run-create-audius-app-workflow: (((any of: packages/libs/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/libs/.*)) or (any of: packages/create-audius-app/.*)
  run-ddex-stage-workflow: any of: .*
  run-release-workflow: any of: .*
