Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: ((((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: (((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-integration-workflow: ((any of: packages/web/e2e/.*) or (any of: .*)) or (any of: .*)
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*

Fix buy/sell modal default
  packages/web/src/components/buy-sell-modal/BuySellFlow.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix test failure
  packages/common/src/utils/formatUtil.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Show artist coin badge based on user endpoint (#12852)
  packages/common/src/adapters/user.ts
  packages/common/src/models/User.ts
  packages/common/src/utils/formatUtil.ts
  packages/mobile/src/components/user-badges/UserBadges.tsx
  packages/web/src/components/hover-card/ArtistCoinHoverCard.tsx
  packages/web/src/components/hover-card/AudioHoverCard.tsx
  packages/web/src/components/user-badges/UserBadges.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6803] Fix rank badge to show best position
  packages/common/src/api/tan-query/tracks/useTrackRank.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6753] Send any token (#12836)
  packages/common/src/api/tan-query/wallets/useSendTokens.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/wallet-client/WalletClient.ts
  packages/mobile/src/services/wallet-client.ts
  packages/sdk/src/sdk/services/Solana/programs/types.ts
  packages/web/src/common/store/wallet/sagas.ts
  packages/web/src/services/wallet-client.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

[PE-6688] Follows you redesign (#12849)
  packages/mobile/src/components/user/FollowsYouBadge.tsx
  packages/web/src/components/artist/ArtistCardCover.module.css
  packages/web/src/components/artist/ArtistChip.module.css
  packages/web/src/components/artist/ArtistChipFollowers.tsx
  packages/web/src/components/user-badges/FollowsYouBadge.module.css
  packages/web/src/components/user-badges/FollowsYouBadge.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfileHeader.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6787] Add tooltips to artist coin launchpad (#12848)
  packages/web/src/components/tooltip/Tooltip.module.css
  packages/web/src/pages/artist-coins-launchpad-page/components/ReviewPage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/TokenInfoRow.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update error stages in swap hook
  packages/common/src/api/tan-query/jupiter/directSwap.ts
  packages/common/src/api/tan-query/jupiter/indirectSwapViaAudio.ts
  packages/common/src/api/tan-query/jupiter/types.ts
  packages/common/src/api/tan-query/jupiter/useSwapTokens.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

fix types
  packages/common/src/store/ui/buy-sell/types.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6758] Update buy-sell flow on mobile to conform to designs (#12844)
  packages/common/src/store/ui/buy-sell/constants.ts
  packages/common/src/store/ui/buy-sell/useTokenSwapForm.ts
  packages/mobile/src/components/buy-sell/InputTokenSection.tsx
  packages/mobile/src/components/buy-sell/OutputTokenSection.tsx
  packages/mobile/src/components/buy-sell/TokenAmountSection.tsx
  packages/mobile/src/components/buy-sell/TokenDropdownSelect.tsx
  packages/mobile/src/components/buy-sell/index.ts
  packages/mobile/src/components/buy-sell/utils.ts
  packages/mobile/src/screens/app-screen/AppScreen.tsx
  packages/mobile/src/screens/buy-sell-screen/BuySellFlow.tsx
  packages/mobile/src/screens/buy-sell-screen/BuySellScreen.tsx
  packages/mobile/src/screens/buy-sell-screen/components/BuyScreen.tsx
  packages/mobile/src/screens/buy-sell-screen/components/SellScreen.tsx
  packages/mobile/src/screens/buy-sell-screen/components/SwapTab.tsx
  packages/mobile/src/screens/buy-sell-screen/components/index.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6759] Update error stages in swap hook (#12855)
  packages/common/src/api/tan-query/jupiter/directSwap.ts
  packages/common/src/api/tan-query/jupiter/indirectSwapViaAudio.ts
  packages/common/src/api/tan-query/jupiter/types.ts
  packages/common/src/api/tan-query/jupiter/useSwapTokens.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6775] Optimize useSupportedTokenPairs Memory Usage with On-Demand Generation (#12851)
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/jupiter/useSwapTokens.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/api/tan-query/tokens/index.ts
  packages/common/src/api/tan-query/tokens/useTokenPair.ts
  packages/common/src/api/tan-query/tokens/useTokens.ts
  packages/common/src/store/ui/buy-sell/index.ts
  packages/common/src/store/ui/buy-sell/useCurrentTokenPair.ts
  packages/common/src/store/ui/buy-sell/useTokens.ts
  packages/common/src/store/ui/buy-sell/utils.ts
  packages/mobile/src/screens/buy-sell-screen/BuySellFlow.tsx
  packages/mobile/src/screens/buy-sell-screen/ConfirmSwapScreen.tsx
  packages/mobile/src/screens/chat-screen/ArtistCoinHeader.tsx
  packages/web/src/components/buy-sell-modal/BuySellFlow.tsx
  packages/web/src/pages/chat-page/components/ArtistCoinHeader.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Use harmony theme
  packages/web/src/components/user-token-badge/UserTokenBadge.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6771] Add hover states to user token badge component (#12850)
  packages/web/src/components/user-token-badge/UserTokenBadge.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Initial protocol setup for token gating
  packages/common/src/adapters/accessConditionsToSDK.ts
  packages/common/src/hooks/useAccessAndRemixSettings.ts
  packages/common/src/hooks/useGatedContent.ts
  packages/common/src/hooks/useTrackAccessTypeLabel.ts
  packages/common/src/models/AccessType.ts
  packages/common/src/models/Track.ts
  packages/common/src/models/TrackAvailabilityType.ts
  packages/common/src/store/gated-content/sagas.ts
  packages/discovery-provider/integration_tests/tasks/entity_manager/test_track_entity_manager.py
  packages/discovery-provider/src/gated_content/content_access_checker.py
  packages/discovery-provider/src/gated_content/helpers.py
  packages/discovery-provider/src/gated_content/types.py
  packages/discovery-provider/src/queries/get_extended_purchase_gate.py
  packages/sdk/src/sdk/api/tracks/types.ts
  packages/web/src/common/store/cache/tracks/sagaHelpers.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

disable console log errs for this file for now
  packages/web/src/hooks/useLaunchCoin.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6727] Add asset insights overflow menu
  packages/common/src/messages/coinDetailsMessages.ts
  packages/common/src/utils/route.ts
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/screens/coin-details-screen/components/AssetInsightsOverflowMenu.tsx
  packages/mobile/src/screens/coin-details-screen/components/CoinInsightsCard.tsx
  packages/mobile/src/store/drawers/slice.ts
  packages/web/src/pages/asset-detail-page/components/AssetInsights.tsx
  packages/web/src/pages/asset-detail-page/components/AssetInsightsOverflowMenu.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

add insights to coins endpoints
  packages/sdk/src/sdk/api/generated/default/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/default/apis/CoinsApi.ts
  packages/sdk/src/sdk/api/generated/default/models/Coin.ts
  packages/sdk/src/sdk/api/generated/default/models/CoinDynamicBondingCurve.ts
  packages/sdk/src/sdk/api/generated/default/models/CoinExtensions.ts
  packages/sdk/src/sdk/api/generated/default/models/CoinInsights.ts
  packages/sdk/src/sdk/api/generated/default/models/CreateCoinRequest.ts
  packages/sdk/src/sdk/api/generated/default/models/CreateCoinResponseData.ts
  packages/sdk/src/sdk/api/generated/default/models/index.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow

changeset
  .changeset/wild-mayflies-study.md
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update retry logic
  packages/common/src/api/tan-query/jupiter/directSwap.ts
  packages/common/src/api/tan-query/jupiter/indirectSwapViaAudio.ts
  packages/common/src/api/tan-query/jupiter/types.ts
  packages/common/src/api/tan-query/jupiter/utils.ts
  packages/common/src/store/ui/buy-sell/useBuySellSwap.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Audius Protocol v0.7.239
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Track retry state
  packages/common/src/api/tan-query/jupiter/indirectSwapViaAudio.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Transfer tokens into AUDIO user bank instead of ATA
  packages/common/src/api/tan-query/jupiter/indirectSwapViaAudio.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6704] Transfer tokens into AUDIO user bank instead of ATA (#12860)
  packages/common/src/api/tan-query/jupiter/indirectSwapViaAudio.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

cleanup
  packages/web/src/pages/artist-coins-launchpad-page/LaunchpadPage.tsx
  packages/web/src/services/env/env.prod.ts
  packages/web/src/services/env/env.stage.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

rename bridgerton-api
  packages/discovery-provider/ddl/run_migrations.go
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

more cleanup
  packages/common/src/api/tan-query/jupiter/utils.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Update api Go module import (#12862)
  packages/discovery-provider/ddl/run_migrations.go
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

fix lint
  packages/common/src/hooks/useAccessAndRemixSettings.test.ts
  packages/common/src/models/Analytics.ts
  packages/web/src/components/access-type-label/AccessTypeLabel.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Add coin insights to coin responses (#12858)
  .changeset/wild-mayflies-study.md
  packages/sdk/src/sdk/api/generated/default/.openapi-generator/FILES
  packages/sdk/src/sdk/api/generated/default/apis/CoinsApi.ts
  packages/sdk/src/sdk/api/generated/default/models/Coin.ts
  packages/sdk/src/sdk/api/generated/default/models/CoinDynamicBondingCurve.ts
  packages/sdk/src/sdk/api/generated/default/models/CoinExtensions.ts
  packages/sdk/src/sdk/api/generated/default/models/CoinInsights.ts
  packages/sdk/src/sdk/api/generated/default/models/CreateCoinRequest.ts
  packages/sdk/src/sdk/api/generated/default/models/CreateCoinResponseData.ts
  packages/sdk/src/sdk/api/generated/default/models/index.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow

fix lint again
  packages/common/src/hooks/useAccessAndRemixSettings.test.ts
  packages/mobile/src/components/core/AccessTypeLabel.tsx
  packages/mobile/src/components/track-details-tile/TrackDetailsTile.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

fix test
  packages/common/src/hooks/useAccessAndRemixSettings.test.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

fix test again
  packages/common/src/hooks/useAccessAndRemixSettings.test.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

E2E reward disbursement for
  solana-programs/Cargo.lock
  solana-programs/audius_eth_registry/Cargo.toml
  solana-programs/claimable-tokens/cli/Cargo.toml
  solana-programs/claimable-tokens/program/Cargo.toml
  solana-programs/cli/Cargo.toml
  solana-programs/reward-manager/cli/Cargo.toml
  solana-programs/reward-manager/cli/src/main.rs
  solana-programs/reward-manager/cli/src/utils.rs
  solana-programs/reward-manager/program/Cargo.toml
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6792] Send tokens ptimistic update balance
  packages/common/src/api/tan-query/wallets/useSendTokens.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

line
  packages/common/src/api/tan-query/wallets/useSendTokens.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

PR feedback
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/package.json
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/index.ts
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/routes/launchpad/launch_coin.ts
  packages/sdk/src/sdk/services/Solana/SolanaRelay.ts
  packages/sdk/src/sdk/services/Solana/types.ts
  packages/web/src/hooks/useLaunchCoin.ts
  packages/web/src/pages/artist-coins-launchpad-page/LaunchpadPage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/LaunchpadModal.tsx
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow

remove unnecessary dn code
  packages/discovery-provider/src/gated_content/content_access_checker.py
  packages/discovery-provider/src/gated_content/helpers.py
  packages/discovery-provider/src/queries/get_extended_purchase_gate.py
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

update blob file type
  packages/sdk/src/sdk/services/Solana/types.ts
  packages/web/src/hooks/useLaunchCoin.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow
