Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-e2e-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: .*)
  run-creator-workflow: (((any of: mediorum/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-identity-workflow: (((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-integration-workflow: (((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)) or (any of: .*)
  run-ddex-webapp-workflow: (((any of: packages/ddex/webapp/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/webapp/.*)
  run-ddex-e2e-workflow: ((((any of: packages/ddex/webapp/.*) or (any of: packages/ddex/ingester/.*)) or (any of: .circleci/.*)) or (any of: packages/ddex/webapp/.*)) or (any of: packages/ddex/ingester/.*)
  run-ddex-publisher-workflow: (((any of: packages/ddex/publisher/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/publisher/.*)
  run-eth-contracts-workflow: (((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-healthz-workflow: ((any of: monitoring/healthz/.*) or (any of: .circleci/.*)) or (any of: monitoring/healthz/.*)
  run-protocol-dashboard-workflow: (((((any of: protocol-dashboard/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: protocol-dashboard/.*)) or (any of: .*)
  run-contracts-workflow: (((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-sdk-workflow: ((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/libs/.*)) or (any of: .*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/web/.*)) or (any of: .*)
  run-mobile-workflow: (((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/mobile/.*)) or (any of: .*)
  run-harmony-workflow: (((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-embed-workflow: (((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/libs/.*)) or (any of: packages/embed/.*)
  run-release-workflow=false: any of: .*
  run-common-workflow: any of: packages/common/.*
  run-create-audius-app-workflow: (((any of: packages/libs/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/libs/.*)) or (any of: packages/create-audius-app/.*)
  run-ddex-stage-workflow: any of: .*
  run-release-workflow: any of: .*

Fix history (#8322)
  packages/discovery-provider/src/api/v1/users.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Revert "Convert swagger.json to OAS 3.0 before generating SDK types (#8274)"
  packages/discovery-provider/src/api/v1/models/access_gate.py
  packages/discovery-provider/src/api/v1/models/extensions/__init__.py
  packages/discovery-provider/src/api/v1/models/extensions/fields.py
  packages/discovery-provider/src/api/v1/models/extensions/models.py
  packages/discovery-provider/src/api/v1/models/tracks.py
  packages/discovery-provider/src/api/v1/models/wildcard_model.py
  packages/discovery-provider/src/api/v1/users.py
  packages/libs/src/sdk/api/generated/default/.openapi-generator/VERSION
  packages/libs/src/sdk/api/generated/full/.openapi-generator/FILES
  packages/libs/src/sdk/api/generated/full/.openapi-generator/VERSION
  packages/libs/src/sdk/api/generated/full/models/AccessGate.ts
  packages/libs/src/sdk/api/generated/full/models/FollowGate.ts
  packages/libs/src/sdk/api/generated/full/models/NftCollection.ts
  packages/libs/src/sdk/api/generated/full/models/NftGate.ts
  packages/libs/src/sdk/api/generated/full/models/PremiumContentSignature.ts
  packages/libs/src/sdk/api/generated/full/models/PurchaseGate.ts
  packages/libs/src/sdk/api/generated/full/models/StreamSignature.ts
  packages/libs/src/sdk/api/generated/full/models/TipGate.ts
  packages/libs/src/sdk/api/generated/full/models/TrackFull.ts
  packages/libs/src/sdk/api/generated/full/models/UsdcGate.ts
  packages/libs/src/sdk/api/generated/full/models/UserReplicaSet.ts
  packages/libs/src/sdk/api/generated/full/models/UsersByContentNode.ts
  packages/libs/src/sdk/api/generated/full/models/index.ts
  packages/libs/src/sdk/api/generator/.gitignore
  packages/libs/src/sdk/api/generator/gen.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

show diff
  packages/libs/scripts/check-generated-types.sh
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

[QA-1212] Fix chromecast (#8323)
  package-lock.json
  package.json
  packages/mobile/ios/Podfile.lock
  packages/mobile/patches/react-native-google-cast+4.6.2.patch
  packages/mobile/src/components/audio/AudioPlayer.tsx
  packages/mobile/src/components/audio/GoogleCast.tsx
  packages/mobile/src/components/now-playing-drawer/ActionsBar.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Revert "Convert swagger.json to OAS 3.0 before generating SDK types (#8274)" (#8324)
  packages/discovery-provider/src/api/v1/models/access_gate.py
  packages/discovery-provider/src/api/v1/models/extensions/__init__.py
  packages/discovery-provider/src/api/v1/models/extensions/fields.py
  packages/discovery-provider/src/api/v1/models/extensions/models.py
  packages/discovery-provider/src/api/v1/models/tracks.py
  packages/discovery-provider/src/api/v1/models/wildcard_model.py
  packages/discovery-provider/src/api/v1/users.py
  packages/libs/src/sdk/api/generated/default/.openapi-generator/VERSION
  packages/libs/src/sdk/api/generated/full/.openapi-generator/FILES
  packages/libs/src/sdk/api/generated/full/.openapi-generator/VERSION
  packages/libs/src/sdk/api/generated/full/models/AccessGate.ts
  packages/libs/src/sdk/api/generated/full/models/FollowGate.ts
  packages/libs/src/sdk/api/generated/full/models/NftCollection.ts
  packages/libs/src/sdk/api/generated/full/models/NftGate.ts
  packages/libs/src/sdk/api/generated/full/models/PremiumContentSignature.ts
  packages/libs/src/sdk/api/generated/full/models/PurchaseGate.ts
  packages/libs/src/sdk/api/generated/full/models/StreamSignature.ts
  packages/libs/src/sdk/api/generated/full/models/TipGate.ts
  packages/libs/src/sdk/api/generated/full/models/TrackFull.ts
  packages/libs/src/sdk/api/generated/full/models/UsdcGate.ts
  packages/libs/src/sdk/api/generated/full/models/UserReplicaSet.ts
  packages/libs/src/sdk/api/generated/full/models/UsersByContentNode.ts
  packages/libs/src/sdk/api/generated/full/models/index.ts
  packages/libs/src/sdk/api/generator/.gitignore
  packages/libs/src/sdk/api/generator/gen.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Pin openapi-generator-cli version
  packages/libs/src/sdk/api/generated/default/.openapi-generator/VERSION
  packages/libs/src/sdk/api/generated/full/.openapi-generator/VERSION
  packages/libs/src/sdk/api/generator/gen.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

initial audius-d workflow docs
  docs/docs/node-operator/setup/hardware-requirements.mdx
  docs/docs/node-operator/setup/installation.mdx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

add configs for other envs
  packages/libs/src/sdk/sdk.ts
  packages/libs/src/sdk/services/AntiAbuseOracle/index.ts
  packages/libs/src/sdk/services/AntiAbuseOracleSelector/AntiAbuseOracleSelector.ts
  packages/libs/src/sdk/services/AntiAbuseOracleSelector/constants.ts
  packages/libs/src/sdk/services/AntiAbuseOracleSelector/index.ts
  packages/libs/src/sdk/services/Auth/UserAuth.ts
  packages/libs/src/sdk/services/Auth/constants.ts
  packages/libs/src/sdk/services/DiscoveryNodeSelector/DiscoveryNodeSelector.ts
  packages/libs/src/sdk/services/DiscoveryNodeSelector/constants.ts
  packages/libs/src/sdk/services/DiscoveryNodeSelector/index.ts
  packages/libs/src/sdk/services/EntityManager/EntityManager.ts
  packages/libs/src/sdk/services/EntityManager/constants.ts
  packages/libs/src/sdk/services/EntityManager/index.ts
  packages/libs/src/sdk/services/Solana/index.ts
  packages/libs/src/sdk/services/Solana/programs/ClaimableTokensClient/ClaimableTokensClient.ts
  packages/libs/src/sdk/services/Solana/programs/ClaimableTokensClient/constants.ts
  packages/libs/src/sdk/services/Solana/programs/ClaimableTokensClient/index.ts
  packages/libs/src/sdk/services/Solana/programs/RewardManagerClient/RewardManagerClient.ts
  packages/libs/src/sdk/services/Solana/programs/RewardManagerClient/constants.ts
  packages/libs/src/sdk/services/Solana/programs/RewardManagerClient/index.ts
  packages/libs/src/sdk/services/Storage/Storage.ts
  packages/libs/src/sdk/services/Storage/constants.ts
  packages/libs/src/sdk/services/Storage/index.ts
  packages/libs/src/sdk/services/StorageNodeSelector/StorageNodeSelector.ts
  packages/libs/src/sdk/services/StorageNodeSelector/constants.ts
  packages/libs/src/sdk/services/StorageNodeSelector/index.ts
  packages/libs/src/sdk/services/index.ts
  packages/libs/src/sdk/types.ts
  packages/libs/src/sdk/types/Env.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

cleanup
  packages/libs/src/sdk/api/challenges/ChallengesApi.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

move all non-bootstrap config out of bootstrap
  packages/libs/src/sdk/api/users/UsersApi.test.ts
  packages/libs/src/sdk/config/development.ts
  packages/libs/src/sdk/config/production.ts
  packages/libs/src/sdk/config/staging.ts
  packages/libs/src/sdk/config/types.ts
  packages/libs/src/sdk/scripts/generateServicesConfig.ts
  packages/libs/src/sdk/services/AntiAbuseOracleSelector/constants.ts
  packages/libs/src/sdk/services/Auth/constants.ts
  packages/libs/src/sdk/services/EntityManager/EntityManager.test.ts
  packages/libs/src/sdk/services/EntityManager/constants.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

migration content
  docs/docs/node-operator/setup/architecture.mdx
  docs/docs/node-operator/setup/installation.mdx
  docs/docs/node-operator/setup/overview.mdx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

one config to rule them all
  packages/libs/src/sdk/api/users/UsersApi.test.ts
  packages/libs/src/sdk/config/development.ts
  packages/libs/src/sdk/config/production.ts
  packages/libs/src/sdk/config/staging.ts
  packages/libs/src/sdk/config/types.ts
  packages/libs/src/sdk/scripts/generateServicesConfig.ts
  packages/libs/src/sdk/sdk.ts
  packages/libs/src/sdk/services/AntiAbuseOracleSelector/AntiAbuseOracleSelector.ts
  packages/libs/src/sdk/services/AntiAbuseOracleSelector/constants.ts
  packages/libs/src/sdk/services/AntiAbuseOracleSelector/getDefaultConfig.ts
  packages/libs/src/sdk/services/AntiAbuseOracleSelector/index.ts
  packages/libs/src/sdk/services/DiscoveryNodeSelector/DiscoveryNodeSelector.ts
  packages/libs/src/sdk/services/DiscoveryNodeSelector/constants.ts
  packages/libs/src/sdk/services/DiscoveryNodeSelector/getDefaultConfig.ts
  packages/libs/src/sdk/services/DiscoveryNodeSelector/healthChecks.ts
  packages/libs/src/sdk/services/DiscoveryNodeSelector/index.ts
  packages/libs/src/sdk/services/EntityManager/EntityManager.test.ts
  packages/libs/src/sdk/services/EntityManager/EntityManager.ts
  packages/libs/src/sdk/services/EntityManager/constants.ts
  packages/libs/src/sdk/services/EntityManager/getDefaultConfig.ts
  packages/libs/src/sdk/services/EntityManager/index.ts
  packages/libs/src/sdk/services/Solana/programs/ClaimableTokensClient/ClaimableTokensClient.ts
  packages/libs/src/sdk/services/Solana/programs/ClaimableTokensClient/constants.ts
  packages/libs/src/sdk/services/Solana/programs/ClaimableTokensClient/getDefaultConfig.ts
  packages/libs/src/sdk/services/Solana/programs/ClaimableTokensClient/index.ts
  packages/libs/src/sdk/services/Solana/programs/RewardManagerClient/RewardManagerClient.ts
  packages/libs/src/sdk/services/Solana/programs/RewardManagerClient/constants.ts
  packages/libs/src/sdk/services/Solana/programs/RewardManagerClient/getDefaultConfig.ts
  packages/libs/src/sdk/services/Solana/programs/RewardManagerClient/index.ts
  packages/libs/src/sdk/services/Storage/Storage.ts
  packages/libs/src/sdk/services/Storage/constants.ts
  packages/libs/src/sdk/services/Storage/getDefaultConfig.ts
  packages/libs/src/sdk/services/Storage/index.ts
  packages/libs/src/sdk/services/StorageNodeSelector/StorageNodeSelector.ts
  packages/libs/src/sdk/services/StorageNodeSelector/constants.ts
  packages/libs/src/sdk/services/StorageNodeSelector/getDefaultConfig.ts
  packages/libs/src/sdk/services/StorageNodeSelector/index.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

remove barrel file
  packages/libs/src/sdk/api/users/UsersApi.test.ts
  packages/libs/src/sdk/config/development.ts
  packages/libs/src/sdk/config/index.ts
  packages/libs/src/sdk/config/production.ts
  packages/libs/src/sdk/config/staging.ts
  packages/libs/src/sdk/index.ts
  packages/libs/src/sdk/scripts/generateServicesConfig.ts
  packages/libs/src/sdk/sdk.ts
  packages/libs/src/sdk/services/AntiAbuseOracleSelector/AntiAbuseOracleSelector.ts
  packages/libs/src/sdk/services/AntiAbuseOracleSelector/getDefaultConfig.ts
  packages/libs/src/sdk/services/DiscoveryNodeSelector/DiscoveryNodeSelector.ts
  packages/libs/src/sdk/services/DiscoveryNodeSelector/getDefaultConfig.ts
  packages/libs/src/sdk/services/EntityManager/EntityManager.test.ts
  packages/libs/src/sdk/services/EntityManager/EntityManager.ts
  packages/libs/src/sdk/services/EntityManager/getDefaultConfig.ts
  packages/libs/src/sdk/services/Solana/programs/ClaimableTokensClient/ClaimableTokensClient.ts
  packages/libs/src/sdk/services/Solana/programs/ClaimableTokensClient/getDefaultConfig.ts
  packages/libs/src/sdk/services/Solana/programs/RewardManagerClient/RewardManagerClient.ts
  packages/libs/src/sdk/services/Solana/programs/RewardManagerClient/getDefaultConfig.ts
  packages/libs/src/sdk/services/Storage/Storage.ts
  packages/libs/src/sdk/services/StorageNodeSelector/StorageNodeSelector.ts
  packages/libs/src/sdk/services/StorageNodeSelector/getDefaultConfig.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

improve state tracking for updates + deletes
  packages/ddex/processor/fixtures/01_delivery.xml
  packages/ddex/processor/fixtures/02_update.xml
  packages/ddex/processor/src/db.ts
  packages/ddex/processor/src/parseDelivery.test.ts
  packages/ddex/processor/src/parseDelivery.ts
  packages/ddex/processor/src/parseTakedown.test.ts
  packages/ddex/processor/src/publishRelease.ts
  packages/ddex/processor/src/server.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

use messageTimestamp to track updates
  packages/ddex/processor/PROD.md
  packages/ddex/processor/SCHEMA.md
  packages/ddex/processor/fixtures/01_delivery.xml
  packages/ddex/processor/fixtures/02_update.xml
  packages/ddex/processor/fixtures/03_delete.xml
  packages/ddex/processor/src/db.ts
  packages/ddex/processor/src/parseDelivery.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Audius Protocol v0.6.95
  mediorum/.version.json
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Use PublishPending status (instead of Parsed)
  packages/ddex/processor/PROD.md
  packages/ddex/processor/README.md
  packages/ddex/processor/src/db.ts
  packages/ddex/processor/src/parseDelivery.ts
  packages/ddex/processor/src/parseTakedown.test.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

handle delete of as of yet unpublished track
  packages/ddex/processor/src/publishRelease.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

releaseRepo.markForDelete considers messageTimestamp
  packages/ddex/processor/src/db.ts
  packages/ddex/processor/src/parseDelivery.ts
  packages/ddex/processor/src/parseTakedown.test.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Wip
  packages/mobile/src/app/App.tsx
  packages/mobile/src/components/audio/AudioPlayer.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

set publishedAt after sdk update / delete
  packages/ddex/processor/src/publishRelease.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

remove const from getDefaultConfig
  packages/libs/src/sdk/services/DiscoveryNodeSelector/getDefaultConfig.ts
  packages/libs/src/sdk/services/DiscoveryNodeSelector/healthChecks.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

[PAY-2861] CollectionCard fixes
  packages/web/src/components/card/Card.tsx
  packages/web/src/components/collection/CollectionCard.test.tsx
  packages/web/src/components/collection/CollectionCard.tsx
  packages/web/src/components/user-badges/UserBadges.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Address comment
  packages/web/src/components/collection/CollectionCard.test.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Address comments
  packages/web/src/components/card/Card.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Address more comments
  packages/web/src/components/notification/Notification/components/UserNameLink.module.css
  packages/web/src/components/notification/Notification/components/UserNameLink.tsx
  packages/web/src/components/track/GatedContentSection.tsx
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/user-badges/UserBadges.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[PAY-2861] CollectionCard fixes (#8330)
  packages/web/src/components/card/Card.tsx
  packages/web/src/components/collection/CollectionCard.test.tsx
  packages/web/src/components/collection/CollectionCard.tsx
  packages/web/src/components/notification/Notification/components/UserNameLink.module.css
  packages/web/src/components/notification/Notification/components/UserNameLink.tsx
  packages/web/src/components/track/GatedContentSection.tsx
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/user-badges/UserBadges.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Close modal on done
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewardsModal/ClaimAllRewardsModal.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Close modal on done (#8331)
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewardsModal/ClaimAllRewardsModal.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[PAY-2812] Change spend to earn challenge copy
  packages/common/src/utils/challenges.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

[PAY-2812] Change spend to earn challenge copy (#8332)
  packages/common/src/utils/challenges.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

changeset
  .changeset/healthy-ants-wave.md
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

fix imports
  packages/libs/src/sdk/sdkBrowserDist.ts
  packages/libs/src/sdk/services/Storage/getDefaultConfig.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Migrate explore page
  packages/common/src/store/pages/explore/exploreCollections/selectors.ts
  packages/web/src/components/collection/CollectionCard.tsx
  packages/web/src/pages/explore-page/ExploreCollectionsPage.tsx
  packages/web/src/pages/explore-page/ExploreCollectionsPageProvider.tsx
  packages/web/src/pages/explore-page/components/desktop/CollectionsPage.tsx
  packages/web/src/pages/explore-page/components/mobile/CollectionsPage.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

feedback from review call
  docs/.vscode/spellright.dict
  docs/docs/node-operator/setup/hardware-requirements.mdx
  docs/docs/node-operator/setup/installation.mdx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Seed album
  packages/commands/src/create-playlist.mjs
  packages/commands/src/upload-track.mjs
  packages/web/.gitignore
  packages/web/e2e/data.seed.ts
  packages/web/e2e/data.ts
  packages/web/e2e/smoke.test.ts
  packages/web/e2e/test.ts
  packages/web/e2e/user.seed.ts
  packages/web/playwright.config.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

revamp client initialization of sdk
  packages/common/src/services/sdk/bootstrapNodes.ts
  packages/common/src/services/sdk/discovery-node-selector/DiscoveryNodeSelectorService.ts
  packages/common/src/services/sdk/storageNodeSelector.ts
  packages/mobile/src/services/sdk/audius-sdk.ts
  packages/mobile/src/services/sdk/solana.ts
  packages/web/src/services/audius-sdk/audiusSdk.ts
  packages/web/src/services/audius-sdk/solana.ts
  packages/web/src/services/audius-sdk/storageNodeSelector.ts
  packages/web/src/services/entity-manager.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

[QA-957] Fix android overflowing text on access & sale modal (#8313)
  packages/mobile/src/components/help-callout/HelpCallout.tsx
  packages/mobile/src/screens/edit-track-screen/fields/AccessAndSaleField/PremiumRadioField/PremiumRadioField.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Move logic to DetailsTile
  packages/mobile/src/components/details-tile/DeletedTile.tsx
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/details-tile/types.ts
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDeletedTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

wire up saving user override and refreshing
  packages/common/src/api/account.ts
  packages/common/src/audius-query/schema.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/libs/src/api/Account.ts
  packages/libs/src/services/discoveryProvider/DiscoveryProvider.ts
  packages/libs/src/services/discoveryProvider/constants.ts
  packages/libs/src/userStateManager.ts
  packages/web/src/components/nav/desktop/AccountSwitcher/AccountListContent.tsx
  packages/web/src/components/nav/desktop/AccountSwitcher/AccountSwitcher.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow
