Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

finish getAccountUser deprecation
  packages/common/src/store/account/selectors.ts
  packages/common/src/store/wallet/utils.ts
  packages/web/src/pages/dashboard-page/DashboardPage.tsx
  packages/web/src/pages/dashboard-page/components/ArtistDashboardAlbumsTab.tsx
  packages/web/src/pages/dashboard-page/components/ArtistDashboardTracksTab.tsx
  packages/web/src/pages/dashboard-page/components/hooks.ts
  packages/web/src/pages/dashboard-page/store/selectors.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6272] Fix signed-out avatar account border
  packages/web/src/components/nav/desktop/AccountDetails.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Put winners display in the remixes page behind the feature flag (#12196)
  packages/mobile/src/screens/track-screen/TrackRemixesScreen.tsx
  packages/web/src/pages/remixes-page/components/desktop/NewRemixesPage.tsx
  packages/web/src/pages/remixes-page/components/mobile/NewRemixesPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix remix notification loading (#12197)
  packages/common/src/adapters/notification.ts
  packages/common/src/store/notifications/types.ts
  packages/mobile/src/screens/notifications-screen/Notification/EntityLink.tsx
  packages/web/src/components/notification/Notification/Notification.tsx
  packages/web/src/components/notification/Notification/components/NotificationTile.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6182] Fix the layout of the remix of value display (#12194)
  packages/web/src/components/edit/fields/RemixSettingsField/TrackInfo.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix lint
  packages/common/src/api/tan-query/jupiter/utils.ts
  packages/common/src/api/tan-query/wallets/useAudioBalance.ts
  packages/common/src/hooks/useFormattedAudioBalance.ts
  packages/common/src/store/ui/buy-sell/useTokenAmountFormatting.ts
  packages/web/src/components/buy-sell-modal/ConfirmSwapScreen.tsx
  packages/web/src/components/buy-sell-modal/hooks/useTokenAmountFormatting.ts
  packages/web/src/pages/audio-page/components/WalletManagementTile.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

aye caramba
  packages/common/src/api/tan-query/wallets/useUSDCBalance.ts
  packages/mobile/src/screens/buy-sell-screen/BuySellScreen.tsx
  packages/web/src/components/buy-sell-modal/TransactionSuccessScreen.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Improve CI install cache
  .circleci/config.yml
Due: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Improve CI install cache (#12199)
  .circleci/config.yml
Due: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

first pass getUserId
  packages/common/src/api/tan-query/authorized-apps/useAuthorizedApps.ts
  packages/common/src/api/tan-query/collection/useCollections.ts
  packages/common/src/api/tan-query/comments/useTrackCommentCount.ts
  packages/common/src/api/tan-query/developer-apps/useDeveloperApps.ts
  packages/common/src/api/tan-query/lineups/useFeed.ts
  packages/common/src/api/tan-query/purchases/useAudioTransactions.ts
  packages/common/src/api/tan-query/purchases/useAudioTransactionsCount.ts
  packages/common/src/api/tan-query/tracks/useFavoriteTrack.ts
  packages/common/src/api/tan-query/users/useUserCollectibles.ts
  packages/common/src/api/tan-query/wallets/useConnectedWallets.ts
  packages/common/src/context/comments/commentsContext.tsx
  packages/common/src/store/account/selectors.ts
  packages/common/src/store/pages/profile/actions.ts
  packages/mobile/src/components/core/ProfilePicture.tsx
  packages/mobile/src/components/image/UserImage.tsx
  packages/web/src/common/store/recommendation/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

address QA
  packages/common/src/api/tan-query/collection/useExploreContent.ts
  packages/harmony/src/components/button/FilterButton/FilterButton.tsx
  packages/web/src/pages/search-page/search-results/AllResults.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

bunch of small fixes
  packages/common/src/api/tan-query/collection/useExploreContent.ts
  packages/harmony/src/components/button/FilterButton/FilterButton.tsx
  packages/harmony/src/components/input/TextInput/TextInput.module.css
  packages/web/src/pages/search-page/search-results/AllResults.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Web search explore QA 3
  packages/harmony/src/components/button/FilterButton/FilterButton.tsx
  packages/web/src/components/remix-contest-card/RemixContestCard.tsx
  packages/web/src/components/user-card/UserCard.tsx
  packages/web/src/pages/explore-page/ExplorePage.tsx
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
  packages/web/src/pages/search-page/SearchFilters.tsx
  packages/web/src/pages/search-page/hooks.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

lint
  packages/web/src/pages/search-page/hooks.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

wrap columns to fit
  packages/web/src/hooks/useTabs/TabStyles.module.css
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
  packages/web/src/pages/search-page/search-results/TrackResults.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

wrap columns to fit
  packages/web/src/pages/search-page/search-results/TrackResults.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

lint
  packages/harmony/src/components/button/FilterButton/FilterButton.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

responsive list too
  packages/web/src/pages/search-page/search-results/TrackResults.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

lint
  packages/web/src/pages/search-page/search-results/TrackResults.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Pick Winners Milestone QA 1
  packages/common/src/api/tan-query/remixes/useRemixes.ts
  packages/common/src/store/ui/modals/finalize-winners-confirmation-modal/index.ts
  packages/mobile/src/screens/track-screen/UploadRemixFooter.tsx
  packages/web/src/components/finalize-winners-confirmation-modal/FinalizeWinnersConfirmationModal.tsx
  packages/web/src/pages/pick-winners-page/PickWinnersPage.tsx
  packages/web/src/pages/track-page/components/desktop/RemixContestSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Remove mobile update
  packages/mobile/src/screens/track-screen/UploadRemixFooter.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6180] Web withdraw crypto UI updates (#12186)
  packages/common/src/models/Analytics.ts
  packages/web/src/components/add-cash/CashBalanceSection.tsx
  packages/web/src/components/withdraw-usdc-modal/WithdrawUSDCModal.tsx
  packages/web/src/components/withdraw-usdc-modal/components/ConfirmTransferDetails.module.css
  packages/web/src/components/withdraw-usdc-modal/components/ConfirmTransferDetails.tsx
  packages/web/src/components/withdraw-usdc-modal/components/EnterTransferDetails.module.css
  packages/web/src/components/withdraw-usdc-modal/components/EnterTransferDetails.tsx
  packages/web/src/components/withdraw-usdc-modal/components/TransferInProgress.module.css
  packages/web/src/components/withdraw-usdc-modal/components/TransferInProgress.tsx
  packages/web/src/components/withdraw-usdc-modal/components/TransferSuccessful.module.css
  packages/web/src/components/withdraw-usdc-modal/components/TransferSuccessful.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix cache install
  .circleci/config.yml
  .circleci/src/commands/@commands.yml
Due: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Address comments
  packages/web/src/common/store/cache/collections/utils/processAndCacheCollections.ts
  packages/web/src/common/store/cache/collections/utils/queryTracksForCollections.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6156] Deprecate fetch collections (#12148)
  packages/common/src/api/tan-query/collection/useCollection.ts
  packages/common/src/api/tan-query/collection/useCollectionByPermalink.ts
  packages/common/src/api/tan-query/collection/useCollections.ts
  packages/common/src/api/tan-query/saga-utils/queryCollection.ts
  packages/common/src/store/pages/collection/actions.ts
  packages/common/src/store/pages/collection/reducer.ts
  packages/common/src/store/pages/collection/selectors.ts
  packages/common/src/store/pages/collection/types.ts
  packages/web/src/common/store/account/sagas.ts
  packages/web/src/common/store/cache/collections/addTrackToPlaylistSaga.ts
  packages/web/src/common/store/cache/collections/commonSagas.ts
  packages/web/src/common/store/cache/collections/confirmOrderPlaylist.ts
  packages/web/src/common/store/cache/collections/utils/index.ts
  packages/web/src/common/store/cache/collections/utils/processAndCacheCollections.ts
  packages/web/src/common/store/cache/collections/utils/queryTracksForCollections.ts
  packages/web/src/common/store/cache/collections/utils/retrieveCollections.ts
  packages/web/src/common/store/pages/collection/sagas.js
  packages/web/src/common/store/pages/signon/sagas.ts
  packages/web/src/common/store/saved-collections/sagas.ts
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Audius Protocol v0.7.162
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Upgrade turbo
  package.json
  packages/commands/turbo.json
  packages/discovery-provider/plugins/pedalboard/packages/basekit/turbo.json
  packages/fixed-decimal/turbo.json
  packages/harmony/turbo.json
  packages/mobile/turbo.json
  packages/web/turbo.json
  turbo.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6046] Remove account collections selectors
  packages/common/src/api/tan-query/users/useUserAlbums.ts
  packages/common/src/api/tan-query/users/useUserPlaylists.ts
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useDebounce.ts
  packages/common/src/store/account/selectors.ts
  packages/common/src/store/account/slice.ts
  packages/common/src/store/cache/collections/selectors.ts
  packages/common/src/utils/collectionUtils.ts
  packages/discovery-provider/integration_tests/queries/test_get_playlists.py
  packages/discovery-provider/src/api/v1/helpers.py
  packages/discovery-provider/src/api/v1/users.py
  packages/discovery-provider/src/queries/get_playlists.py
  packages/mobile/src/components/add-to-collection-drawer/AddToCollectionDrawer.tsx
  packages/mobile/src/screens/favorites-screen/useLibraryCollections.ts
  packages/sdk/src/sdk/api/generated/default/apis/UsersApi.ts
  packages/sdk/src/sdk/api/generated/full/apis/UsersApi.ts
  packages/web/src/common/store/account/sagas.ts
  packages/web/src/common/store/add-to-collection/sagas.ts
  packages/web/src/components/add-to-collection/desktop/AddToCollectionModal.tsx
  packages/web/src/components/add-to-collection/mobile/AddToCollection.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
  packages/web/src/pages/collection-page/components/mobile/CollectionPage.tsx
  packages/web/src/pages/dashboard-page/components/hooks.ts
  packages/web/src/pages/saved-page/SavedPageProvider.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Fix query track gc time
  packages/common/src/api/tan-query/saga-utils/queryTrack.ts
  packages/web/src/common/store/upload/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix query track gc time (#12203)
  packages/common/src/api/tan-query/saga-utils/queryTrack.ts
  packages/web/src/common/store/upload/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix npm cache keys
  .circleci/config.yml
  .circleci/src/commands/@web-commands.yml
  .circleci/src/jobs/@common-jobs.yml
  .circleci/src/jobs/@create-audius-app-jobs.yml
  .circleci/src/jobs/@discovery-jobs.yml
  .circleci/src/jobs/@embed-jobs.yml
  .circleci/src/jobs/@harmony-jobs.yml
  .circleci/src/jobs/@identity-jobs.yml
  .circleci/src/jobs/@integration-jobs.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@protocol-dashboard-jobs.yml
  .circleci/src/jobs/@sdk-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix npm cache keys (#12204)
  .circleci/config.yml
  .circleci/src/commands/@web-commands.yml
  .circleci/src/jobs/@common-jobs.yml
  .circleci/src/jobs/@create-audius-app-jobs.yml
  .circleci/src/jobs/@discovery-jobs.yml
  .circleci/src/jobs/@embed-jobs.yml
  .circleci/src/jobs/@harmony-jobs.yml
  .circleci/src/jobs/@identity-jobs.yml
  .circleci/src/jobs/@integration-jobs.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@protocol-dashboard-jobs.yml
  .circleci/src/jobs/@sdk-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Drop fallback cache keys
  .circleci/config.yml
Due: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Drop fallback cache keys (#12205)
  .circleci/config.yml
Due: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix cache key save
  .circleci/config.yml
Due: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix cache key save (#12206)
  .circleci/config.yml
Due: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: ((((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: (((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-integration-workflow: ((any of: packages/web/e2e/.*) or (any of: .*)) or (any of: .*)
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*
