Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-e2e-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

[C-5632] Use react-query Config type
  packages/common/src/api/tan-query/types.ts
  packages/common/src/api/tan-query/useFavoritedTracks.ts
  packages/common/src/api/tan-query/useMutualFollowers.ts
  packages/common/src/api/tan-query/usePurchasesCount.ts
  packages/common/src/api/tan-query/useRelatedArtists.ts
  packages/common/src/api/tan-query/useSalesCount.ts
  packages/common/src/api/tan-query/useSupportedUsers.ts
  packages/common/src/api/tan-query/useSupporter.ts
  packages/common/src/api/tan-query/useSupporters.ts
  packages/common/src/api/tan-query/useTrack.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

fix remaining usages
  packages/common/src/api/tan-query/useCollection.ts
  packages/common/src/api/tan-query/useCollectionByPermalink.ts
  packages/common/src/api/tan-query/useCollections.ts
  packages/common/src/api/tan-query/useCurrentUser.ts
  packages/common/src/api/tan-query/useFollowers.ts
  packages/common/src/api/tan-query/useTrackByPermalink.ts
  packages/common/src/api/tan-query/useTracks.ts
  packages/common/src/api/tan-query/useUser.ts
  packages/common/src/api/tan-query/useUserByHandle.ts
  packages/common/src/api/tan-query/useUserTracksByHandle.ts
  packages/common/src/api/tan-query/useUsers.ts
  packages/mobile/src/screens/profile-screen/ArtistRecommendations/ArtistRecommendations.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileInfoTiles.tsx
  packages/web/src/components/artist-recommendations/ArtistRecommendations.tsx
  packages/web/src/pages/profile-page/components/desktop/RelatedArtists.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

[C-5632] Use react-query Config type (#10956)
  packages/common/src/api/tan-query/types.ts
  packages/common/src/api/tan-query/useCollection.ts
  packages/common/src/api/tan-query/useCollectionByPermalink.ts
  packages/common/src/api/tan-query/useCollections.ts
  packages/common/src/api/tan-query/useCurrentUser.ts
  packages/common/src/api/tan-query/useFavoritedTracks.ts
  packages/common/src/api/tan-query/useFollowers.ts
  packages/common/src/api/tan-query/useMutualFollowers.ts
  packages/common/src/api/tan-query/usePurchasesCount.ts
  packages/common/src/api/tan-query/useRelatedArtists.ts
  packages/common/src/api/tan-query/useSalesCount.ts
  packages/common/src/api/tan-query/useSupportedUsers.ts
  packages/common/src/api/tan-query/useSupporter.ts
  packages/common/src/api/tan-query/useSupporters.ts
  packages/common/src/api/tan-query/useTrack.ts
  packages/common/src/api/tan-query/useTrackByPermalink.ts
  packages/common/src/api/tan-query/useTracks.ts
  packages/common/src/api/tan-query/useUser.ts
  packages/common/src/api/tan-query/useUserByHandle.ts
  packages/common/src/api/tan-query/useUserTracksByHandle.ts
  packages/common/src/api/tan-query/useUsers.ts
  packages/mobile/src/screens/profile-screen/ArtistRecommendations/ArtistRecommendations.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileInfoTiles.tsx
  packages/web/src/components/artist-recommendations/ArtistRecommendations.tsx
  packages/web/src/pages/profile-page/components/desktop/RelatedArtists.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

[C-5642] Migrate signUp api to tan-query
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/api/tan-query/useEmailInUse.ts
  packages/common/src/api/tan-query/useHandleInUse.ts
  packages/common/src/api/tan-query/useHandleReservedStatus.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

update usages
  packages/common/src/api/tan-query/useEmailInUse.ts
  packages/common/src/api/tan-query/useHandleInUse.ts
  packages/common/src/api/tan-query/useHandleReservedStatus.ts
  packages/common/src/hooks/purchaseContent/validation.ts
  packages/common/src/schemas/sign-on/emailSchema.ts
  packages/common/src/schemas/sign-on/pickHandleSchema.ts
  packages/common/src/schemas/sign-on/signInSchema.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

remove signUp slice
  packages/common/src/api/index.ts
  packages/common/src/api/reducer.ts
  packages/common/src/api/signUp.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

fix error handling in handleInUse
  packages/common/src/api/tan-query/useHandleInUse.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

rewrite with celery again and resurrect index_core_plays.py
  packages/discovery-provider/src/app.py
  packages/discovery-provider/src/tasks/index_core.py
  packages/discovery-provider/src/tasks/index_core_plays.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

revert
  dev-tools/compose/docker-compose.pedalboard.prod.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

revert
  dev-tools/compose/docker-compose.test.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

rename
  packages/discovery-provider/ddl/migrations/0112_core_indexed_block_slot.sql
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

some log adjustments
  packages/discovery-provider/src/tasks/index_core.py
  packages/discovery-provider/src/tasks/index_core_plays.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[C-5642] Migrate signUp api to tan-query (#10957)
  packages/common/src/api/index.ts
  packages/common/src/api/reducer.ts
  packages/common/src/api/signUp.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/api/tan-query/useEmailInUse.ts
  packages/common/src/api/tan-query/useHandleInUse.ts
  packages/common/src/api/tan-query/useHandleReservedStatus.ts
  packages/common/src/hooks/purchaseContent/validation.ts
  packages/common/src/schemas/sign-on/emailSchema.ts
  packages/common/src/schemas/sign-on/pickHandleSchema.ts
  packages/common/src/schemas/sign-on/signInSchema.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Fix search bar for release
  packages/web/src/components/page/Page.tsx
  packages/web/src/components/search-bar/ConnectedSearchBar.jsx
  packages/web/src/components/search-bar/DesktopSearchBarInner.jsx
  packages/web/src/components/search-bar/SearchBarResultLegacy.jsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Profile collections to tan-query
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/api/tan-query/useCollection.ts
  packages/common/src/api/tan-query/useCollectionByPermalink.ts
  packages/common/src/api/tan-query/useCollections.ts
  packages/common/src/api/tan-query/useUserAlbums.ts
  packages/common/src/api/tan-query/useUserPlaylists.ts
  packages/common/src/api/tan-query/useUserTracksByHandle.ts
  packages/common/src/api/tan-query/utils/primeCollectionData.ts
  packages/common/src/api/tan-query/utils/primeTrackData.ts
  packages/common/src/store/pages/profile/actions.ts
  packages/common/src/store/pages/profile/reducer.ts
  packages/common/src/store/pages/profile/selectors.ts
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/AlbumsTab.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/CollectiblesTab.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/PlaylistsTab.tsx
  packages/web/src/common/store/profile/fetchProfileCollectionsSaga.ts
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfilePage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Fix lint
  packages/common/src/api/tan-query/useTrackByPermalink.ts
  packages/web/src/common/store/profile/sagas.js
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

sdk usage
  packages/common/src/api/tan-query/useUserAlbums.ts
  packages/common/src/api/tan-query/useUserPlaylists.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Address navbar comments
  packages/harmony/src/components/expandable-nav-item/ExpandableNavItem.tsx
  packages/harmony/src/components/expandable-nav-item/types.ts
  packages/harmony/src/components/nav-item/NavItem.tsx
  packages/harmony/src/components/notification-count/NotificationCount.tsx
  packages/harmony/src/components/notification-count/types.ts
  packages/web/src/components/nav/desktop/LeftNav.tsx
  packages/web/src/components/nav/desktop/useNavConfig.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/ChallengeRewardsModal.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Fixes
  packages/common/src/api/tan-query/useUserAlbums.ts
  packages/common/src/api/tan-query/useUserPlaylists.ts
  packages/mobile/src/screens/profile-screen/ProfileTabs/AlbumsTab.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/PlaylistsTab.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfilePage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

[C-5619] Migrate profile collections to tan-query (#10953)
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/api/tan-query/useCollection.ts
  packages/common/src/api/tan-query/useCollectionByPermalink.ts
  packages/common/src/api/tan-query/useTrackByPermalink.ts
  packages/common/src/api/tan-query/useUserAlbums.ts
  packages/common/src/api/tan-query/useUserPlaylists.ts
  packages/common/src/api/tan-query/useUserTracksByHandle.ts
  packages/common/src/api/tan-query/utils/primeCollectionData.ts
  packages/common/src/api/tan-query/utils/primeTrackData.ts
  packages/common/src/store/pages/profile/actions.ts
  packages/common/src/store/pages/profile/reducer.ts
  packages/common/src/store/pages/profile/selectors.ts
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/AlbumsTab.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/CollectiblesTab.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/PlaylistsTab.tsx
  packages/web/src/common/store/profile/fetchProfileCollectionsSaga.ts
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfilePage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

[PAY-3752] Update header styles for new nav (#10955)
  packages/web/src/components/header/desktop/Header.module.css
  packages/web/src/components/header/desktop/Header.tsx
  packages/web/src/components/page/Page.module.css
  packages/web/src/components/page/Page.tsx
  packages/web/src/components/search-bar/DesktopSearchBar.tsx
  packages/web/src/pages/ai-attributed-tracks-page/components/desktop/AiPage.module.css
  packages/web/src/pages/ai-attributed-tracks-page/components/desktop/AiPage.tsx
  packages/web/src/pages/audio-rewards-page/AudioRewardsPage.tsx
  packages/web/src/pages/chat-page/components/ChatHeader.module.css
  packages/web/src/pages/chat-page/components/ChatHeader.tsx
  packages/web/src/pages/dashboard-page/DashboardPage.tsx
  packages/web/src/pages/deactivate-account-page/components/desktop/DeactivateAccountPage.tsx
  packages/web/src/pages/edit-collection-page/desktop/EditCollectionPage.tsx
  packages/web/src/pages/edit-page/EditTrackPage.tsx
  packages/web/src/pages/explore-page/components/desktop/CollectionsPage.module.css
  packages/web/src/pages/explore-page/components/desktop/CollectionsPage.tsx
  packages/web/src/pages/explore-page/components/desktop/ExplorePage.tsx
  packages/web/src/pages/feed-page/components/desktop/FeedPageContent.tsx
  packages/web/src/pages/history-page/components/desktop/HistoryPage.tsx
  packages/web/src/pages/pay-and-earn-page/desktop/PayAndEarnPage.tsx
  packages/web/src/pages/premium-tracks-page/desktop/PremiumTracksPageContent.tsx
  packages/web/src/pages/remixes-page/components/desktop/RemixesPage.module.css
  packages/web/src/pages/remixes-page/components/desktop/RemixesPage.tsx
  packages/web/src/pages/rewards-page/RewardsPage.tsx
  packages/web/src/pages/rewards-page/components/modals/ChallengeRewardsModal/ChallengeRewardsModal.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
  packages/web/src/pages/search-page/SearchHeader.tsx
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
  packages/web/src/pages/trending-page/components/desktop/TrendingPageContent.tsx
  packages/web/src/pages/trending-playlists/TrendingPlaylistPage.tsx
  packages/web/src/pages/trending-underground/TrendingUndergroundPage.tsx
  packages/web/src/pages/upload-page/UploadPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Working fixes
  packages/common/src/hooks/purchaseContent/validation.ts
  packages/discovery-provider/src/queries/get_users.py
  packages/discovery-provider/src/tasks/entity_manager/entity_manager.py
  packages/identity-service/src/authMiddleware.js
  packages/web/src/app/web-player/WebPlayer.jsx
  packages/web/src/common/store/pages/signon/sagas.ts
  packages/web/src/common/store/social/users/sagas.ts
  packages/web/src/common/utils/ensureLoggedIn.ts
  packages/web/src/common/utils/requiresAccount.ts
  packages/web/src/components/nav/desktop/LeftNavLink.tsx
  packages/web/src/components/premium-content-purchase-modal/pages/GuestCheckoutPage.tsx
  packages/web/src/hooks/useRequiresAccount.ts
  packages/web/src/pages/feed-page/components/EmptyFeed.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
  packages/web/src/pages/sign-in-page/ConfirmEmailPage.tsx
  packages/web/src/pages/sign-in-page/SignInPage.tsx
  packages/web/src/pages/sign-in-page/SignInRootPage.tsx
  packages/web/src/pages/sign-on-page/GuestEmailHint.tsx
  packages/web/src/pages/sign-on-page/SignOnPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Audius Protocol v0.7.73
  packages/discovery-provider/.version.json
  pkg/mediorum/.version.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

boost timeout
  dev-tools/compose/docker-compose.discovery.prod.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

plays core health check (#10906)
  dev-tools/compose/docker-compose.discovery.dev.yml
  dev-tools/compose/docker-compose.discovery.prod.yml
  packages/discovery-provider/ddl/migrations/0112_core_indexed_block_slot.sql
  packages/discovery-provider/src/app.py
  packages/discovery-provider/src/models/core/core_indexed_blocks.py
  packages/discovery-provider/src/queries/get_health.py
  packages/discovery-provider/src/tasks/core/core_client.py
  packages/discovery-provider/src/tasks/core/gen/protocol_pb2.py
  packages/discovery-provider/src/tasks/core/gen/protocol_pb2.pyi
  packages/discovery-provider/src/tasks/index_core.py
  packages/discovery-provider/src/tasks/index_core_cutovers.py
  packages/discovery-provider/src/tasks/index_core_plays.py
  pkg/core/gen/core_proto/protocol.pb.go
  pkg/core/gen/core_proto/protocol.swagger.json
  pkg/core/gen/models/protocol_block_response.go
  pkg/core/protocol/protocol.proto
  pkg/core/server/cache.go
  pkg/core/server/grpc.go
  pkg/core/server/server.go
  pkg/mediorum/server/play_event_queue.go
  pkg/mediorum/server/serve_blob.go
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Use upstream images for audiusd/core dev flows
  cmd/core/infra/Dockerfile.tests
  cmd/core/infra/dev_config/content-one.docker.env
  cmd/core/infra/dev_config/content-three.docker.env
  cmd/core/infra/dev_config/content-two.docker.env
  cmd/core/infra/dev_config/discovery-one.docker.env
  dev-tools/compose/docker-compose.audiusd.yml
  dev-tools/compose/docker-compose.legacy.prod.yml
  dev-tools/compose/docker-compose.test.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Remove audiusd from circle
  .circleci/config.yml
  .circleci/src/@continue_config.yml
  .circleci/src/jobs/@audiusd-jobs.yml
  .circleci/src/workflows/audiusd.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-e2e-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Pin audiusd tag to local for the interim
  dev-tools/compose/docker-compose.audiusd.yml
  dev-tools/compose/docker-compose.test.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

clean
  packages/discovery-provider/src/queries/get_users.py
  packages/discovery-provider/src/tasks/entity_manager/entity_manager.py
  packages/web/src/common/store/pages/signon/sagas.ts
  packages/web/src/common/utils/ensureLoggedIn.ts
  packages/web/src/common/utils/requiresAccount.ts
  packages/web/src/components/nav/desktop/LeftNavLink.tsx
  packages/web/src/components/premium-content-purchase-modal/pages/GuestCheckoutPage.tsx
  packages/web/src/pages/feed-page/components/EmptyFeed.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
  packages/web/src/pages/sign-in-page/SignInPage.tsx
  packages/web/src/pages/sign-in-page/SignInRootPage.tsx
  packages/web/src/pages/sign-on-page/SignOnPage.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Update default staking server port
  packages/discovery-provider/plugins/pedalboard/apps/staking/src/index.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

clean more
  packages/web/src/hooks/useRequiresAccount.ts
  packages/web/src/pages/sign-in-page/SignInPage.tsx
  packages/web/src/pages/sign-on-page/GuestEmailHint.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

revert follow guest check
  packages/web/src/common/store/social/users/sagas.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Fix app creation with signMessage (#10943)
  .changeset/beige-dolphins-smoke.md
  packages/sdk/src/sdk/api/developer-apps/DeveloperAppsApi.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Fix web upload flow artwork overwrites when track is replaced
  packages/web/src/components/edit-track/EditTrackForm.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Upgrade year in discovery notif tests
  packages/discovery-provider/plugins/notifications/src/email/notifications/preRendered/requestManager.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Fix lint
  packages/web/src/pages/deactivate-account-page/components/desktop/DeactivateAccountConfirmationModal.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: .*)
  run-creator-workflow: (((any of: mediorum/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-identity-workflow: (((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-integration-workflow: (((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)) or (any of: .*)
  run-ddex-webapp-workflow: (((any of: packages/ddex/webapp/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/webapp/.*)
  run-ddex-e2e-workflow: ((((any of: packages/ddex/webapp/.*) or (any of: packages/ddex/ingester/.*)) or (any of: .circleci/.*)) or (any of: packages/ddex/webapp/.*)) or (any of: packages/ddex/ingester/.*)
  run-ddex-publisher-workflow: (((any of: packages/ddex/publisher/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/publisher/.*)
  run-eth-contracts-workflow: (((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-healthz-workflow: ((any of: monitoring/healthz/.*) or (any of: .circleci/.*)) or (any of: monitoring/healthz/.*)
  run-protocol-dashboard-workflow: (((((any of: protocol-dashboard/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: protocol-dashboard/.*)) or (any of: .*)
  run-contracts-workflow: (((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-sdk-workflow: ((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/libs/.*)) or (any of: .*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/web/.*)) or (any of: .*)
  run-mobile-workflow: (((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/mobile/.*)) or (any of: .*)
  run-harmony-workflow: (((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-embed-workflow: (((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/libs/.*)) or (any of: packages/embed/.*)
  run-release-workflow=false: any of: .*
  run-common-workflow: any of: packages/common/.*
  run-create-audius-app-workflow: (((any of: packages/libs/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/libs/.*)) or (any of: packages/create-audius-app/.*)
  run-ddex-stage-workflow: any of: .*
  run-release-workflow: any of: .*
