Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-integration-workflow, run-gcp-workflow, run-creator-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-embed-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Remove harmony web changes
  packages/harmony/src/storybook/colors.stories.mdx
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Remove comments
  packages/mobile/.storybook/storybook.requires.ts
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

revert this
  discovery-provider/plugins/pedalboard/apps/relay/src/index.ts
Due: run-discovery-workflow, run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

rm retry
  packages/libs/src/sdk/services/DiscoveryNodeSelector/healthChecks.ts
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

logs
  packages/libs/src/sdk/services/DiscoveryNodeSelector/DiscoveryNodeSelector.ts
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[PAY-1740] Implement buy, sell, withdraw transactional mail
  discovery-provider/ddl/functions/handle_usdc_purchase.sql
  discovery-provider/plugins/notifications/src/__tests__/mappings/__snapshots__/usdcPurchaseBuyer.test.ts.snap
  discovery-provider/plugins/notifications/src/__tests__/mappings/__snapshots__/usdcPurchaseSeller.test.ts.snap
  discovery-provider/plugins/notifications/src/__tests__/mappings/announcement.test.ts
  discovery-provider/plugins/notifications/src/__tests__/mappings/cosign.test.ts
  discovery-provider/plugins/notifications/src/__tests__/mappings/milestone.test.ts
  discovery-provider/plugins/notifications/src/__tests__/mappings/multipleMappings.test.ts
  discovery-provider/plugins/notifications/src/__tests__/mappings/repost.test.ts
  discovery-provider/plugins/notifications/src/__tests__/mappings/save.test.ts
  discovery-provider/plugins/notifications/src/__tests__/mappings/usdcPurchaseBuyer.test.ts
  discovery-provider/plugins/notifications/src/__tests__/mappings/usdcPurchaseSeller.test.ts
  discovery-provider/plugins/notifications/src/__tests__/mappings/usdcWithdrawal.test.ts
  discovery-provider/plugins/notifications/src/__tests__/processEmailNotifications.test.ts
  discovery-provider/plugins/notifications/src/email/notifications/components/Body.tsx
  discovery-provider/plugins/notifications/src/email/notifications/index.ts
  discovery-provider/plugins/notifications/src/email/notifications/preRendered/purchase.ts
  discovery-provider/plugins/notifications/src/email/notifications/preRendered/sale.ts
  discovery-provider/plugins/notifications/src/email/notifications/preRendered/withdrawal.ts
  discovery-provider/plugins/notifications/src/email/notifications/sendEmail.ts
  discovery-provider/plugins/notifications/src/processNotifications/mappers/mapNotifications.ts
  discovery-provider/plugins/notifications/src/processNotifications/mappers/repostOfRepost.ts
  discovery-provider/plugins/notifications/src/processNotifications/mappers/saveOfRepost.ts
  discovery-provider/plugins/notifications/src/processNotifications/mappers/usdcPurchaseBuyer.ts
  discovery-provider/plugins/notifications/src/processNotifications/mappers/usdcPurchaseSeller.ts
  discovery-provider/plugins/notifications/src/processNotifications/mappers/usdcWithdrawal.ts
  discovery-provider/plugins/notifications/src/processNotifications/mappers/userNotificationSettings.ts
  discovery-provider/plugins/notifications/src/server/index.ts
  discovery-provider/plugins/notifications/src/server/routes/memStats.ts
  discovery-provider/plugins/notifications/src/sns.ts
  discovery-provider/plugins/notifications/src/tasks/appNotifications.ts
  discovery-provider/plugins/notifications/src/types/dn.ts
  discovery-provider/plugins/notifications/src/types/notifications.ts
  discovery-provider/plugins/notifications/src/utils/disableArnEndpoint.ts
  discovery-provider/plugins/notifications/src/utils/memStats.ts
  discovery-provider/plugins/notifications/src/utils/populateDB.ts
Due: run-discovery-workflow, run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Bump version to 0.4.17
  discovery-provider/.version.json
  mediorum/.version.json
Due: run-discovery-workflow, run-integration-workflow, run-gcp-workflow, run-creator-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Use cached node_modules in release-audius-sdk (#6138)
  .circleci/src/jobs/release-audius-sdk.yml
  .circleci/src/workflows/sdk.yml
Due: run-discovery-workflow, run-integration-workflow, run-gcp-workflow, run-creator-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-embed-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Longer timeout for blob transfer
  mediorum/server/replicate.go
  mediorum/server/server.go
Due: run-integration-workflow, run-gcp-workflow, run-creator-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

@audius/sdk: v3.0.10-beta.2
  packages/libs/package.json
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Longer timeout for blob transfer (#6141)
  mediorum/server/replicate.go
  mediorum/server/server.go
Due: run-integration-workflow, run-gcp-workflow, run-creator-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Only run web and mobile workflows on main when relevant files change
  .circleci/config.yml
Due: run-discovery-workflow, run-integration-workflow, run-gcp-workflow, run-creator-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-embed-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

@audius/sdk: v3.0.10-beta.3
  packages/libs/package.json
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

[PAY-1874] Sticky buy button to bottom of purchase modal (#6134)
  packages/web/src/components/modal-form/ModalForm.module.css
  packages/web/src/components/modal-form/ModalForm.tsx
  packages/web/src/components/premium-content-purchase-modal/PremiumContentPurchaseModal.module.css
  packages/web/src/components/premium-content-purchase-modal/PremiumContentPurchaseModal.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PayExtraFormSection.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseContentForm.module.css
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseContentForm.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseContentFormFields.module.css
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseContentFormFields.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseContentFormFooter.module.css
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseContentFormFooter.tsx
  packages/web/src/components/premium-content-purchase-modal/hooks.ts
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix purchase confirmed library
  packages/common/src/store/purchase-content/sagas.ts
  packages/common/src/store/purchase-content/slice.ts
  packages/web/src/common/store/pages/saved/lineups/sagas.js
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

remove these unused columns
  monitoring/healthz/src/DiscoveryHealth.tsx
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

restore to main
  packages/common/src/services/sdk/discovery-node-selector/DiscoveryNodeSelectorService.ts
  packages/libs/src/sdk/services/DiscoveryNodeSelector/DiscoveryNodeSelector.ts
  packages/libs/src/sdk/services/DiscoveryNodeSelector/constants.ts
  packages/libs/src/sdk/services/DiscoveryNodeSelector/healthChecks.ts
  packages/libs/src/sdk/services/DiscoveryNodeSelector/types.ts
  packages/libs/src/services/web3Manager/Web3Manager.ts
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

fix
  packages/web/src/common/store/pages/saved/lineups/sagas.js
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix add to library after purchase PAY-1898 (#6143)
  packages/common/src/store/purchase-content/sagas.ts
  packages/common/src/store/purchase-content/slice.ts
  packages/web/src/common/store/pages/saved/lineups/sagas.js
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

@audius/sdk: v3.0.10-beta.4
  packages/libs/package.json
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Lint
  packages/web/src/components/premium-content-purchase-modal/PremiumContentPurchaseModal.tsx
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Hoist pg
  package.json
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

add relay health to discovery health check
  discovery-provider/src/queries/get_health.py
Due: run-discovery-workflow, run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix collection release date
  packages/web/src/pages/upload-page/forms/EditCollectionForm.tsx
  packages/web/src/pages/upload-page/validation.ts
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Address comments
  discovery-provider/integration_tests/notifications/test_usdc_purchase.py
  discovery-provider/integration_tests/notifications/test_usdc_withdrawal.py
  discovery-provider/integration_tests/queries/test_notifications/test_usdc_purchase_notification.py
  discovery-provider/plugins/notifications/README.md
  discovery-provider/plugins/notifications/src/email/notifications/sendEmail.ts
  discovery-provider/plugins/notifications/src/processNotifications/mappers/usdcWithdrawal.ts
Due: run-discovery-workflow, run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Update libs dockerfile
  dev-tools/compose/docker-compose.dev.yml
  dev-tools/compose/docker-compose.identity.yml
  packages/identity-service/Dockerfile
  packages/libs/Dockerfile
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

user router reads from db
  packages/trpc-server/package.json
  packages/trpc-server/src/db-tables.ts
  packages/trpc-server/src/db.ts
  packages/trpc-server/src/index.ts
  packages/trpc-server/src/loaders.ts
  packages/trpc-server/src/routers/user-router.ts
  packages/trpc-server/src/trpc.ts
  packages/trpc-server/tools/db-gen.ts
  packages/trpc-server/tsconfig.json
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

add relay in health
  discovery-provider/src/queries/get_health.py
Due: run-discovery-workflow, run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Fix visit playlist page from collection menu permalink
  packages/web/src/components/actions-tab/ActionsTab.js
  packages/web/src/components/card/desktop/Card.tsx
  packages/web/src/components/menu/CollectionMenu.tsx
  packages/web/src/components/track/desktop/ConnectedPlaylistTile.tsx
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

cleanup
  packages/web/src/components/card/desktop/Card.tsx
  packages/web/src/components/menu/CollectionMenu.tsx
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

cleanup
  packages/web/src/components/actions-tab/ActionsTab.js
  packages/web/src/components/menu/CollectionMenu.tsx
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

checkpoint
  packages/common/src/hooks/purchaseContent/types.ts
  packages/common/src/hooks/purchaseContent/usePurchaseContentFormState.ts
  packages/common/src/hooks/purchaseContent/utils.ts
  packages/web/src/components/premium-content-purchase-modal/PremiumContentPurchaseModal.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseContentFormFields.tsx
  packages/web/src/components/premium-content-purchase-modal/hooks.ts
Due: run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Run gcp-cleanup with continue config
  .circleci/config.yml
  .circleci/src/@continue_config.yml
  .circleci/src/workflows/gcp-cleanup.yml
Due: run-discovery-workflow, run-integration-workflow, run-gcp-workflow, run-creator-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-embed-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

rm . from stripped chars in a slug
  discovery-provider/plugins/pedalboard/apps/relay/package-lock.json
  discovery-provider/src/utils/helpers.py
Due: run-discovery-workflow, run-integration-workflow, run-gcp-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Disable when for gcp-cleanup
  .circleci/config.yml
Due: run-discovery-workflow, run-integration-workflow, run-gcp-workflow, run-creator-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-embed-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Delete other workflow
  .circleci/config.yml
Due: run-discovery-workflow, run-integration-workflow, run-gcp-workflow, run-creator-workflow, run-identity-workflow, run-sdk-workflow, run-eth-contracts-workflow, run-contracts-workflow, run-web-workflow, run-mobile-workflow, run-stems-workflow, run-embed-workflow, run-release-workflow=false, run-harmony-workflow, deploy-stage-nodes, run-probers-workflow, run-release-workflow, run-probers-workflow=false

Path conditions:
  run-discovery-workflow: ((any of: discovery-provider/.*) or (any of: comms/.*)) or (any of: .circleci/.*)
  run-integration-workflow: ((((((((any of: discovery-provider/.*) or (any of: comms/.*)) or (any of: mediorum/.*)) or (any of: identity-service/.*)) or (any of: libs/.*)) or (any of: eth-contracts/.*)) or (any of: contracts/.*)) or (any of: .*)) or (any of: .*)
  run-gcp-workflow: ((((((((any of: discovery-provider/.*) or (any of: comms/.*)) or (any of: mediorum/.*)) or (any of: identity-service/.*)) or (any of: libs/.*)) or (any of: eth-contracts/.*)) or (any of: contracts/.*)) or (any of: .*)) or (any of: .*)
  run-creator-workflow: ((any of: mediorum/.*) or (any of: libs/.*)) or (any of: .circleci/.*)
  run-identity-workflow: (((any of: identity-service/.*) or (any of: libs/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-sdk-workflow: (((any of: libs/.*) or (any of: .circleci/.*)) or (any of: libs/.*)) or (any of: .*)
  run-eth-contracts-workflow: (((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-contracts-workflow: (((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-web-workflow: ((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/probers/.*)) or (any of: packages/common/.*)) or (any of: packages/stems/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-mobile-workflow: (((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-stems-workflow: ((((any of: .circleci/.*) or (any of: packages/stems/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-embed-workflow: (any of: .circleci/.*) or (any of: packages/embed/.*)
  run-release-workflow=false: any of: .*
  run-harmony-workflow: (any of: packages/harmony/.*) or (any of: .*)
  deploy-stage-nodes: any of: .*
  run-probers-workflow: any of: .*
  run-release-workflow: any of: .*
  run-probers-workflow=false: any of: .*
