Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Pass includeExternalWallets to useAudioBalance in AudioHoverCard (#13010)
  packages/common/src/api/tan-query/wallets/useTokenBalance.ts
  packages/web/src/components/hover-card/AudioHoverCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Reduce calls
  packages/common/src/api/tan-query/jupiter/useTokenExchangeRate.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix mobile CoinCard styling for ellipsis
  packages/mobile/src/screens/wallet-screen/components/CoinCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

PR feedback
  packages/web/src/pages/artist-coins-launchpad-page/components/types.ts
  packages/web/src/pages/artist-coins-launchpad-page/pages/BuyCoinPage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/validation.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

More borders for AssetDetailPage (#13011)
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
  packages/web/src/pages/asset-detail-page/components/AssetLeaderboardCard.tsx
  packages/web/src/pages/asset-detail-page/components/BalanceSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add top border to your coins on odd number of coins
  packages/web/src/pages/pay-and-earn-page/components/YourCoins.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add market cap to insights section
  packages/common/src/messages/coinDetailsMessages.ts
  packages/common/src/utils/coinMetrics.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6950], [PE-6949] Fix mobile balance formatting
  packages/common/src/hooks/useFormattedTokenBalance.ts
  packages/mobile/src/screens/coin-details-screen/components/BalanceCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

small update
  packages/mobile/src/screens/wallet-screen/components/CoinCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add copy address button to asset page
  packages/mobile/src/screens/coin-details-screen/components/CoinInfoCard.tsx
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
  packages/web/src/pages/asset-detail-page/components/AssetInsights.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6948] Format number commas on mobile leaderboard
  packages/common/src/api/tan-query/coins/useArtistCoinMembers.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6946] Fix price formatting on mobile insights
  packages/mobile/src/screens/coin-details-screen/components/CoinInsightsCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update coin details pages to display held value
  packages/mobile/src/screens/coin-details-screen/components/BalanceCard.tsx
  packages/web/src/pages/asset-detail-page/components/BalanceSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update coin details pages to display held value (#13021)
  packages/mobile/src/screens/coin-details-screen/components/BalanceCard.tsx
  packages/web/src/pages/asset-detail-page/components/BalanceSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

lint
  packages/common/src/api/tan-query/coins/useArtistCoinMembers.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6959] Fix mobile CoinCard styling for ellipsis (#13014)
  packages/mobile/src/screens/wallet-screen/components/CoinCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix png
  packages/common/src/store/ui/shared/tokenConstants.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6916] Update SOL name to Solana (#12992)
  packages/common/src/store/ui/shared/tokenConstants.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6944] Fix send flow token value (#12993)
  packages/web/src/components/send-tokens-modal/SendTokensInput.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6919] Fix launchpad audio purchase modal not updating (#13012)
  packages/web/src/hooks/useExternalWalletSwap.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

fix error on buy modal
  packages/common/src/store/ui/buy-sell/useTokenSwapForm.ts
  packages/web/src/pages/artist-coins-launchpad-page/components/LaunchpadBuyModal.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6942] Add copy address button to asset page (#13018)
  packages/mobile/src/screens/coin-details-screen/components/CoinInfoCard.tsx
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
  packages/web/src/pages/asset-detail-page/components/AssetInsights.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add market cap to insights section (#13016)
  packages/common/src/messages/coinDetailsMessages.ts
  packages/common/src/utils/coinMetrics.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Add top border to last element in "Your Coins" on odd number of coins (#13015)
  packages/web/src/pages/pay-and-earn-page/components/YourCoins.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Reduce calls to Jupiter API in exchange rate hook (#13013)
  packages/common/src/api/tan-query/jupiter/useTokenExchangeRate.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

validate senderAddress against recovered signer
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/validator.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6948] Format number commas on mobile leaderboard (#13019)
  packages/common/src/api/tan-query/coins/useArtistCoinMembers.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6946] Fix price line height on mobile insights (#13020)
  packages/mobile/src/screens/coin-details-screen/components/CoinInsightsCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

validate senderAddress against recovered signer (#13022)
  packages/discovery-provider/plugins/pedalboard/apps/relay/src/middleware/validator.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Lots of cleanup
  packages/common/src/adapters/coin.ts
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/coins/tokenUtils.ts
  packages/common/src/api/tan-query/coins/useArtistCoin.ts
  packages/common/src/api/tan-query/coins/useArtistCoins.ts
  packages/common/src/api/tan-query/coins/useArtistOwnedCoin.ts
  packages/common/src/hooks/chats/useAudienceUsers.ts
  packages/common/src/hooks/chats/useChatBlastAudienceContent.ts
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useAccessAndRemixSettings.ts
  packages/common/src/hooks/useArtistCoinMessageHeader.ts
  packages/common/src/hooks/useIsCoinHolder.ts
  packages/common/src/hooks/useIsCoinMember.ts
  packages/common/src/store/ui/shared/tokenConstants.ts
  packages/mobile/src/components/comments/CommentBadge.tsx
  packages/mobile/src/components/edit/PriceAndAudienceField/TokenGatedRadioField.tsx
  packages/mobile/src/screens/create-chat-blast-screen/ChatBlastSelectAudienceFields.tsx
  packages/web/src/components/comments/CommentBadge.tsx
  packages/web/src/components/edit/fields/stream-availability/token-gated/TokenGatedRadioField.tsx
  packages/web/src/pages/artist-coins-launchpad-page/pages/SplashPage.tsx
  packages/web/src/pages/chat-page/components/ChatBlastModal.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6956] >= .03 sol (#13005)
  packages/web/src/pages/artist-coins-launchpad-page/LaunchpadPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6607] Skip usdc transfer email for internal tranfers (#13008)
  packages/common/src/api/tan-query/jupiter/utils.ts
  packages/common/src/services/audius-backend/solana.ts
  packages/discovery-provider/plugins/notifications/package-lock.json
  packages/discovery-provider/plugins/notifications/src/__tests__/mappings/usdcTransfer.test.ts
  packages/discovery-provider/plugins/notifications/src/processNotifications/mappers/usdcTransfer.ts
  packages/discovery-provider/plugins/notifications/src/types/notifications.ts
  packages/discovery-provider/plugins/pedalboard/apps/mri/.gitignore
  packages/discovery-provider/src/models/users/usdc_transactions_history.py
  packages/discovery-provider/src/tasks/index_user_bank.py
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

fix health check redirects for DN
  packages/discovery-provider/nginx_conf/nginx_container.conf
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6478] Add coin members badge (#13001)
  packages/common/src/adapters/coin.ts
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/coins/tokenUtils.ts
  packages/common/src/api/tan-query/coins/useArtistCoin.ts
  packages/common/src/api/tan-query/coins/useArtistCoins.ts
  packages/common/src/api/tan-query/coins/useArtistOwnedCoin.ts
  packages/common/src/hooks/chats/useAudienceUsers.ts
  packages/common/src/hooks/chats/useChatBlastAudienceContent.ts
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useAccessAndRemixSettings.ts
  packages/common/src/hooks/useArtistCoinMessageHeader.ts
  packages/common/src/hooks/useIsCoinMember.ts
  packages/common/src/store/ui/shared/tokenConstants.ts
  packages/common/src/utils/coinMetrics.ts
  packages/mobile/src/components/comments/CommentBadge.tsx
  packages/mobile/src/components/details-tile/DetailsTileHasAccess.tsx
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/components/edit/PriceAndAudienceField/TokenGatedRadioField.tsx
  packages/mobile/src/screens/artist-coins-explore-screen/ArtistCoinsExploreScreen.tsx
  packages/mobile/src/screens/coin-details-screen/components/CoinInfoCard.tsx
  packages/mobile/src/screens/coin-details-screen/components/CoinInsightsCard.tsx
  packages/mobile/src/screens/create-chat-blast-screen/ChatBlastSelectAudienceFields.tsx
  packages/web/src/components/comments/CommentBadge.tsx
  packages/web/src/components/edit/fields/stream-availability/token-gated/TokenGatedRadioField.tsx
  packages/web/src/pages/artist-coins-explore-page/MobileArtistCoinsExplorePage.tsx
  packages/web/src/pages/artist-coins-launchpad-page/components/ArtistCoinsTable.tsx
  packages/web/src/pages/artist-coins-launchpad-page/pages/SplashPage.tsx
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
  packages/web/src/pages/chat-page/components/ChatBlastModal.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

fix health check redirects for DN (#13023)
  packages/discovery-provider/nginx_conf/nginx_container.conf
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6965] Remove % change for transfers
  packages/common/src/utils/coinMetrics.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

space
  packages/common/src/utils/coinMetrics.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: ((((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: (((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-integration-workflow: ((any of: packages/web/e2e/.*) or (any of: .*)) or (any of: .*)
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*
