Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Add border
  packages/web/src/components/search-bar/DesktopSearchBar.module.css
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Audius Protocol v0.7.155
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

small update
  packages/web/src/pages/pick-winners-page/PickWinnersPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6168] Add winners section to pick winners page (#12133)
  packages/common/src/api/tan-query/events/useRemixContest.ts
  packages/common/src/store/queue/types.ts
  packages/mobile/src/components/host-remix-contest-drawer/HostRemixContestDrawer.tsx
  packages/web/src/components/host-remix-contest-modal/HostRemixContestModal.tsx
  packages/web/src/pages/pick-winners-page/PickWinnersPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

extra space
  packages/web/src/components/search-bar/DesktopSearchBar.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6165] Remove now-playing artwork top margin (#12105)
  packages/web/src/components/nav/desktop/NowPlayingArtworkTile.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6148] Deprecate fetchUsers saga for tq (#12107)
  packages/common/src/api/tan-query/saga-utils/queryUser.ts
  packages/common/src/api/tan-query/users/useUsers.ts
  packages/common/src/store/cache/users/actions.ts
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/user-list/index.ts
  packages/common/src/store/user-list/sagas.ts
  packages/web/src/common/store/cache/tracks/sagas.ts
  packages/web/src/common/store/cache/users/sagas.ts
  packages/web/src/common/store/lineup/sagas.ts
  packages/web/src/common/store/pages/ai/sagas.ts
  packages/web/src/common/store/pages/signon/sagas.ts
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/common/store/social/users/sagas.ts
  packages/web/src/components/track/AiTrackSection.tsx
  packages/web/src/store/lineup/store.test.js
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix web track page lineup (#12116)
  packages/common/src/api/tan-query/tracks/useTrackByParams.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix ios build by adding back prod bundle logic (#12125)
  packages/mobile/ios/AudiusReactNative/AppDelegate.mm
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Address comments
  packages/web/src/components/collection/CollectionCard.test.tsx
  packages/web/src/components/collection/CollectionCard.tsx
  packages/web/src/components/user-card/UserCard.test.tsx
  packages/web/vite.config.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add winners section to remix contest container on web
  packages/web/src/pages/track-page/components/desktop/RemixContestSection.tsx
  packages/web/src/pages/track-page/components/desktop/RemixContestWinnersTab.tsx
  packages/web/src/pages/track-page/components/desktop/RemixSubmissionCard.tsx
  packages/web/src/pages/track-page/components/mobile/remix-contests/RemixContestSection.tsx
  packages/web/src/pages/track-page/components/mobile/remix-contests/RemixContestWinnersTab.tsx
  packages/web/src/pages/track-page/components/mobile/remix-contests/RemixSubmissionCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6191] Add winners section to remix contest container on web (#12140)
  packages/web/src/pages/track-page/components/desktop/RemixContestSection.tsx
  packages/web/src/pages/track-page/components/desktop/RemixContestWinnersTab.tsx
  packages/web/src/pages/track-page/components/desktop/RemixSubmissionCard.tsx
  packages/web/src/pages/track-page/components/mobile/remix-contests/RemixContestSection.tsx
  packages/web/src/pages/track-page/components/mobile/remix-contests/RemixContestWinnersTab.tsx
  packages/web/src/pages/track-page/components/mobile/remix-contests/RemixSubmissionCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add winners section to remix contest container on mobile
  packages/mobile/src/screens/track-screen/RemixContestSection.tsx
  packages/mobile/src/screens/track-screen/RemixContestWinnersTab.tsx
  packages/mobile/src/screens/track-screen/RemixSubmissionCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

lint fix
  packages/web/src/common/store/cache/users/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Only ping on Slack when CI workflow fails (#12139)
  .circleci/scripts/generate-slack-template.sh
Due: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

allow calculation of trending scores for albums
  packages/discovery-provider/src/trending_strategies/pnagD_trending_playlists_strategy.py
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix missing remix contest section (#12100)
  packages/web/src/pages/track-page/components/desktop/RemixContestSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Up connection pool
  packages/discovery-provider/default_config.ini
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Allow calculation of trending scores for albums (#12142)
  packages/discovery-provider/src/trending_strategies/pnagD_trending_playlists_strategy.py
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6195] Add winners section to remix contest container on mobile (#12141)
  packages/mobile/src/screens/track-screen/RemixContestSection.tsx
  packages/mobile/src/screens/track-screen/RemixContestWinnersTab.tsx
  packages/mobile/src/screens/track-screen/RemixSubmissionCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Up connection pool (#12143)
  packages/discovery-provider/default_config.ini
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add missing indexes (#12081)
  packages/discovery-provider/ddl/migrations/0138_missing_indexes.sql
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add missing country codes to is_country_eur euro-settlement check (#12086)
  packages/discovery-provider/ddl/functions/is_country_eur.sql
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

wip
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix pw remix upload test throwing on 404
  packages/web/src/components/edit/fields/RemixSettingsField/RemixSettingsMenuFields.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix pw remix upload test throwing on 404 (#12144)
  packages/web/src/components/edit/fields/RemixSettingsField/RemixSettingsMenuFields.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

pr comments
  packages/web/src/components/address-tile/AddressTile.tsx
  packages/web/src/components/usdc-manual-transfer/USDCManualTransfer.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

lint
  packages/web/src/components/address-tile/AddressTile.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6178] Web add cash modal updates (#12130)
  packages/web/src/components/add-funds-modal/AddFundsModal.tsx
  packages/web/src/components/add-funds/AddFunds.tsx
  packages/web/src/components/add-funds/CashBalanceSection.tsx
  packages/web/src/components/address-tile/AddressTile.tsx
  packages/web/src/components/payment-method/PaymentMethod.tsx
  packages/web/src/components/usdc-manual-transfer/USDCManualTransfer.module.css
  packages/web/src/components/usdc-manual-transfer/USDCManualTransfer.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6185] Remixes QA pass (#12118)
  packages/mobile/src/screens/track-screen/TrackRemixesScreen.tsx
  packages/web/src/components/track/CardTitle.tsx
  packages/web/src/components/track/DownloadRow.tsx
  packages/web/src/pages/remixes-page/components/desktop/NewRemixesPage.tsx
  packages/web/src/pages/remixes-page/components/mobile/NewRemixesPage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add feature flag for pick winners milestone
  packages/common/src/services/remote-config/feature-flags.ts
  packages/mobile/src/screens/track-screen/RemixContestSection.tsx
  packages/web/src/pages/remixes-page/components/desktop/NewRemixesPage.tsx
  packages/web/src/pages/track-page/components/desktop/RemixContestSection.tsx
  packages/web/src/pages/track-page/components/mobile/remix-contests/RemixContestSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6172] Deprecate retrieveTracks
  packages/common/src/api/tan-query/saga-utils/queryTrack.ts
  packages/common/src/api/tan-query/tracks/useTrack.ts
  packages/common/src/api/tan-query/tracks/useTracks.ts
  packages/common/src/store/lineup/selectors.ts
  packages/web/src/common/store/cache/collections/utils/retrieveCollections.ts
  packages/web/src/common/store/cache/tracks/utils/fetchAndProcessRemixes.ts
  packages/web/src/common/store/cache/tracks/utils/index.ts
  packages/web/src/common/store/cache/tracks/utils/retrieveTracks.ts
  packages/web/src/common/store/pages/collection/lineups/sagas.js
  packages/web/src/common/store/pages/saved/lineups/sagas.ts
  packages/web/src/common/store/upload/sagas.test.ts
  packages/web/src/common/store/upload/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix mysterious dog
  packages/common/src/utils/route.ts
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix mysterious dog image and jarring profile images
  packages/common/src/store/pages/profile/actions.ts
  packages/common/src/store/pages/profile/reducer.ts
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6156] Deprecate fetchCollections
  packages/common/src/api/tan-query/collection/useCollection.ts
  packages/common/src/api/tan-query/collection/useCollectionByPermalink.ts
  packages/common/src/api/tan-query/collection/useCollections.ts
  packages/common/src/api/tan-query/saga-utils/queryCollection.ts
  packages/common/src/store/pages/collection/actions.ts
  packages/common/src/store/pages/collection/reducer.ts
  packages/common/src/store/pages/collection/selectors.ts
  packages/common/src/store/pages/collection/types.ts
  packages/web/src/common/store/account/sagas.ts
  packages/web/src/common/store/cache/collections/addTrackToPlaylistSaga.ts
  packages/web/src/common/store/cache/collections/commonSagas.ts
  packages/web/src/common/store/cache/collections/confirmOrderPlaylist.ts
  packages/web/src/common/store/cache/collections/utils/index.ts
  packages/web/src/common/store/cache/collections/utils/processAndCacheCollections.ts
  packages/web/src/common/store/cache/collections/utils/retrieveCollections.ts
  packages/web/src/common/store/cache/collections/utils/retrieveTracksForCollections.ts
  packages/web/src/common/store/pages/collection/sagas.js
  packages/web/src/common/store/pages/signon/sagas.ts
  packages/web/src/common/store/saved-collections/sagas.ts
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix recent search and autocomplete styling (#12128)
  packages/web/src/components/search-bar/DesktopSearchBar.module.css
  packages/web/src/components/search-bar/DesktopSearchBar.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6201] Add feature flag for pick winners milestone (#12145)
  packages/common/src/services/remote-config/feature-flags.ts
  packages/mobile/src/screens/track-screen/RemixContestSection.tsx
  packages/web/src/pages/remixes-page/components/desktop/NewRemixesPage.tsx
  packages/web/src/pages/track-page/components/desktop/RemixContestSection.tsx
  packages/web/src/pages/track-page/components/mobile/remix-contests/RemixContestSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: ((((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: (((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-integration-workflow: ((any of: packages/web/e2e/.*) or (any of: .*)) or (any of: .*)
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*
