Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

add for your/recently played to mobile web
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/web/src/pages/explore-page/components/mobile/SearchExplorePage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

fix recent searches
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
  packages/web/src/pages/explore-page/components/mobile/SearchExplorePage.tsx
  packages/web/src/pages/search-page/RecentSearches.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

undo
  packages/common/src/api/tan-query/utils/combineQueryResults.ts
  packages/common/src/api/tan-query/wallets/useAudioBalance.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[QA-2268] Fix X sign-up button
  packages/common/src/messages/sign-on/socialMediaMessages.ts
  packages/common/src/models/User.ts
  packages/common/src/schemas/sign-on/pickHandleSchema.ts
  packages/harmony/src/components/button/SocialButton/SocialButton.stories.tsx
  packages/harmony/src/components/button/SocialButton/SocialButton.tsx
  packages/mobile/src/screens/sign-on-screen/components/SignUpFlowXAuth.tsx
  packages/mobile/src/screens/sign-on-screen/components/SocialMediaSignUpButtons.tsx
  packages/mobile/src/screens/sign-on-screen/utils/socialMediaMessages.ts
  packages/web/src/components/first-upload-modal/FirstUploadModal.tsx
  packages/web/src/components/social-proof/SocialProof.tsx
  packages/web/src/components/x-auth/XAuthButton.tsx
  packages/web/src/pages/profile-page/components/SocialLink.tsx
  packages/web/src/pages/profile-page/components/SocialLinkInput.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfileHeader.tsx
  packages/web/src/pages/rewards-page/components/modals/VerifiedUpload.tsx
  packages/web/src/pages/settings-page/components/desktop/VerificationModal.tsx
  packages/web/src/pages/settings-page/components/mobile/VerificationPage.tsx
  packages/web/src/pages/sign-up-page/components/HandleField.tsx
  packages/web/src/pages/sign-up-page/components/SignupFlowXAuth.tsx
  packages/web/src/pages/sign-up-page/components/SocialMediaLoginOptions.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

error
  packages/common/src/schemas/sign-on/pickHandleSchema.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix web card user links
  packages/web/src/components/collection/CollectionCard.tsx
  packages/web/src/components/remix-contest-card/RemixContestCard.tsx
  packages/web/src/components/track/TrackCard.tsx
  packages/web/src/components/user-card/UserCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Remove dm unfurl message bottom border
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix web card user links (#12654)
  packages/web/src/components/collection/CollectionCard.tsx
  packages/web/src/components/remix-contest-card/RemixContestCard.tsx
  packages/web/src/components/track/TrackCard.tsx
  packages/web/src/components/user-card/UserCard.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[QA-2217] Add unread indicator for minimized chat list items (#12631)
  packages/web/src/components/link/UserLink.tsx
  packages/web/src/pages/chat-page/components/ChatListItem.module.css
  packages/web/src/pages/chat-page/components/ChatListItem.tsx
  packages/web/src/pages/chat-page/components/ChatUser.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Optimism turned into pessimism
  packages/common/src/api/tan-query/jupiter/optimisticUpdates.ts
  packages/common/src/api/tan-query/utils/combineQueryResults.ts
  packages/common/src/api/tan-query/wallets/useAudioBalance.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

more cleanup
  packages/mobile/src/screens/explore-screen/components/BestOfAudiusTiles.tsx
  packages/mobile/src/screens/explore-screen/components/ExploreContent.tsx
  packages/mobile/src/screens/explore-screen/components/ExploreSection.tsx
  packages/mobile/src/screens/explore-screen/components/ProgressiveScrollView.tsx
  packages/mobile/src/screens/search-screen/RecentSearches.tsx
  packages/mobile/src/screens/search-screen/search-results/AllResults.tsx
  packages/web/src/pages/explore-page/components/desktop/JustForYouSection.tsx
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
  packages/web/src/pages/explore-page/components/mobile/SearchExplorePage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[QA-2224] Remove dm unfurl message bottom border (#12655)
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[QA-2273] Fix type issue in useAudioBalance (#12652)
  packages/common/src/api/tan-query/jupiter/optimisticUpdates.ts
  packages/common/src/api/tan-query/wallets/useAudioBalance.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Fix builds
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/ios/fastlane/Fastfile
  packages/mobile/package.json
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Undo fastfile change
  packages/mobile/ios/fastlane/Fastfile
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

mobile
  packages/mobile/src/harmony-native/components/Button/SocialButton/SocialButton.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

lint
  packages/web/src/pages/profile-page/components/desktop/ProfileBio.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfileLeftNav.tsx
  packages/web/src/pages/profile-page/components/mobile/EditProfile.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfileHeader.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfilePage.tsx
  packages/web/src/pages/sign-up-page/hooks/useSocialMediaLoader.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

icons
  packages/web/src/pages/profile-page/components/mobile/EditProfile.tsx
  packages/web/src/pages/rewards-page/components/modals/VerifiedUpload.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[QA-2274] Fix notification drawer cosign icon
  packages/mobile/src/components/enable-push-notifications-drawer/EnablePushNotificationsDrawer.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Lint
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[QA-2274] Fix cosign icon (#12656)
  packages/mobile/src/components/enable-push-notifications-drawer/EnablePushNotificationsDrawer.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Be smarter are about completed block number (#12642)
  packages/discovery-provider/plugins/pedalboard/apps/trending-challenge-rewards/src/queries.ts
  packages/discovery-provider/plugins/pedalboard/apps/trending-challenge-rewards/src/rewards.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[QA-2268] Fix X sign-up button (#12653)
  packages/common/src/messages/sign-on/socialMediaMessages.ts
  packages/common/src/models/User.ts
  packages/common/src/schemas/sign-on/pickHandleSchema.ts
  packages/harmony/src/components/button/SocialButton/SocialButton.stories.tsx
  packages/harmony/src/components/button/SocialButton/SocialButton.tsx
  packages/mobile/src/harmony-native/components/Button/SocialButton/SocialButton.tsx
  packages/mobile/src/screens/sign-on-screen/components/SignUpFlowXAuth.tsx
  packages/mobile/src/screens/sign-on-screen/components/SocialMediaSignUpButtons.tsx
  packages/mobile/src/screens/sign-on-screen/utils/socialMediaMessages.ts
  packages/web/src/components/first-upload-modal/FirstUploadModal.tsx
  packages/web/src/components/social-proof/SocialProof.tsx
  packages/web/src/components/x-auth/XAuthButton.tsx
  packages/web/src/pages/profile-page/components/SocialLink.tsx
  packages/web/src/pages/profile-page/components/SocialLinkInput.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfileBio.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfileLeftNav.tsx
  packages/web/src/pages/profile-page/components/mobile/EditProfile.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfileHeader.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfilePage.tsx
  packages/web/src/pages/rewards-page/components/modals/VerifiedUpload.tsx
  packages/web/src/pages/settings-page/components/desktop/VerificationModal.tsx
  packages/web/src/pages/settings-page/components/mobile/VerificationPage.tsx
  packages/web/src/pages/sign-up-page/components/HandleField.tsx
  packages/web/src/pages/sign-up-page/components/SignupFlowXAuth.tsx
  packages/web/src/pages/sign-up-page/components/SocialMediaLoginOptions.tsx
  packages/web/src/pages/sign-up-page/hooks/useSocialMediaLoader.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Add artist coin discord button logic
  packages/common/src/api/index.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/common/src/api/tan-query/users/account/useDiscordCode.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/ui/index.ts
  packages/common/src/store/ui/vip-discord-modal/sagas.ts
  packages/common/src/store/ui/vip-discord-modal/selectors.ts
  packages/common/src/store/ui/vip-discord-modal/slice.ts
  packages/common/src/store/ui/vip-discord-modal/types.ts
  packages/mobile/src/components/vip-discord-drawer/VipDiscordDrawer.tsx
  packages/mobile/src/screens/rewards-screen/TiersTile.tsx
  packages/mobile/src/store/sagas.ts
  packages/web/src/components/rewards/ClickableAddress.tsx
  packages/web/src/components/rewards/modals/VipDiscordModal.tsx
  packages/web/src/pages/asset-detail-page/AssetDetailContent.tsx
  packages/web/src/pages/asset-detail-page/AssetDetailPage.tsx
  packages/web/src/pages/asset-detail-page/AssetDetailTabs.tsx
  packages/web/src/pages/asset-detail-page/components/AssetInfoSection.tsx
  packages/web/src/pages/asset-detail-page/components/AssetInsights.tsx
  packages/web/src/pages/asset-detail-page/components/BalanceSection.tsx
  packages/web/src/pages/asset-detail-page/constants.ts
  packages/web/src/pages/asset-detail-page/types.ts
  packages/web/src/pages/rewards-page/Tiers.tsx
  packages/web/src/store/sagas.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[QA-2264] File replace should not change title
  packages/mobile/src/screens/edit-track-screen/EditTrackForm.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6562][PE-6568][PE-6599] Bring mobile web S/E up to speed (#12649)
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/src/screens/explore-screen/components/BestOfAudiusTiles.tsx
  packages/mobile/src/screens/explore-screen/components/ExploreContent.tsx
  packages/mobile/src/screens/explore-screen/components/ExploreSection.tsx
  packages/mobile/src/screens/explore-screen/components/ProgressiveScrollView.tsx
  packages/mobile/src/screens/explore-screen/components/RecentlyPlayed.tsx
  packages/mobile/src/screens/explore-screen/components/TrendingPlaylists.tsx
  packages/mobile/src/screens/explore-screen/components/UndergroundTrendingTracks.tsx
  packages/mobile/src/screens/search-screen/RecentSearches.tsx
  packages/mobile/src/screens/search-screen/search-results/AllResults.tsx
  packages/web/src/pages/explore-page/components/desktop/Carousel.tsx
  packages/web/src/pages/explore-page/components/desktop/ExploreSection.tsx
  packages/web/src/pages/explore-page/components/desktop/FeelingLuckySection.tsx
  packages/web/src/pages/explore-page/components/desktop/JustForYouSection.tsx
  packages/web/src/pages/explore-page/components/desktop/MoodGrid.tsx
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
  packages/web/src/pages/explore-page/components/desktop/QuickSearchGrid.tsx
  packages/web/src/pages/explore-page/components/desktop/RecentlyPlayedSection.tsx
  packages/web/src/pages/explore-page/components/desktop/TrendingPlaylistsSection.tsx
  packages/web/src/pages/explore-page/components/desktop/UndergroundTrendingTracksSection.tsx
  packages/web/src/pages/explore-page/components/mobile/MostSharedSection.tsx
  packages/web/src/pages/explore-page/components/mobile/SearchExplorePage.tsx
  packages/web/src/pages/explore-page/components/mobile/UndergroundTrendingSection.tsx
  packages/web/src/pages/search-page/RecentSearches.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

fix lint
  packages/common/src/api/tan-query/users/account/useDiscordCode.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[QA-2275] Fix hidden playlist artwork validation
  packages/common/src/schemas/upload/uploadFormSchema.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Set correct deploy target
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Typecheck
  packages/mobile/src/notifications.ts
  packages/mobile/src/screens/external-wallets/components/useSolanaPhoneAuthorization.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Last change
  packages/mobile/src/screens/splash-screen/SplashScreen.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update notification storyboard to build on 16.2
  packages/mobile/ios/NotificationContentExtension/Base.lproj/MainInterface.storyboard
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6601] Enable communication notifs (#12647)
  packages/discovery-provider/plugins/notifications/src/sns.ts
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/ios/NotificationContentExtension/Base.lproj/MainInterface.storyboard
  packages/mobile/ios/NotificationContentExtension/Info.plist
  packages/mobile/ios/NotificationContentExtension/NotificationViewController.swift
  packages/mobile/ios/NotificationContentExtension/README.md
  packages/mobile/ios/RichPushExtension/NotificationService.swift
  packages/mobile/ios/fastlane/Fastfile
  packages/mobile/package.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[API-299] Add abusive checks to solana-relay
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/config.ts
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/routes/relay/antiAbuse.ts
  packages/discovery-provider/plugins/pedalboard/apps/solana-relay/src/routes/relay/assertRelayAllowedInstructions.ts
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add aao change
  packages/discovery-provider/plugins/pedalboard/apps/anti-abuse-oracle/src/server.tsx
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Remove file
  packages/common/src/store/ui/buy-sell/utils.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: ((((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: (((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-integration-workflow: ((any of: packages/web/e2e/.*) or (any of: .*)) or (any of: .*)
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*
