Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-e2e-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-healthz-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: .*)
  run-creator-workflow: (((any of: mediorum/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-identity-workflow: (((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .*)
  run-integration-workflow: (((any of: packages/identity-service/.*) or (any of: .*)) or (any of: .*)) or (any of: .*)
  run-ddex-webapp-workflow: (((any of: packages/ddex/webapp/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/webapp/.*)
  run-ddex-e2e-workflow: ((((any of: packages/ddex/webapp/.*) or (any of: packages/ddex/ingester/.*)) or (any of: .circleci/.*)) or (any of: packages/ddex/webapp/.*)) or (any of: packages/ddex/ingester/.*)
  run-ddex-publisher-workflow: (((any of: packages/ddex/publisher/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: packages/ddex/publisher/.*)
  run-eth-contracts-workflow: (((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-healthz-workflow: ((any of: monitoring/healthz/.*) or (any of: .circleci/.*)) or (any of: monitoring/healthz/.*)
  run-protocol-dashboard-workflow: (((((any of: protocol-dashboard/.*) or (any of: .circleci/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: protocol-dashboard/.*)) or (any of: .*)
  run-contracts-workflow: (((any of: contracts/.*) or (any of: .circleci/.*)) or (any of: .*)) or (any of: .*)
  run-sdk-workflow: ((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/libs/.*)) or (any of: .*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/web/.*)) or (any of: .*)
  run-mobile-workflow: (((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: .circleci/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/libs/.*)) or (any of: packages/harmony/.*)) or (any of: packages/mobile/.*)) or (any of: .*)
  run-harmony-workflow: (((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: .*)) or (any of: .*)
  run-embed-workflow: (((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/libs/.*)) or (any of: packages/embed/.*)
  run-release-workflow=false: any of: .*
  run-common-workflow: any of: packages/common/.*
  run-create-audius-app-workflow: (((any of: packages/libs/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/libs/.*)) or (any of: packages/create-audius-app/.*)
  run-ddex-stage-workflow: any of: .*
  run-release-workflow: any of: .*

Removes comments
  packages/discovery-provider/src/tasks/entity_manager/entities/comment.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[C-4971] Add comment pin e2e (#9678)
  packages/common/src/api/comments.ts
  packages/discovery-provider/integration_tests/tasks/entity_manager/test_comment_entity_manager.py
  packages/discovery-provider/src/tasks/entity_manager/entities/comment.py
  packages/discovery-provider/src/tasks/entity_manager/entity_manager.py
  packages/discovery-provider/src/tasks/entity_manager/utils.py
  packages/libs/src/sdk/api/comments/CommentsAPI.ts
  packages/libs/src/sdk/services/EntityManager/types.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

Update api
  packages/libs/src/sdk/api/generated/default/models/Comment.ts
  packages/libs/src/sdk/api/generated/default/models/ReplyComment.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

add useStatusChange helper and add toasts
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useStatusChange.ts
  packages/common/src/store/ui/modals/parentSlice.ts
  packages/common/src/store/ui/modals/types.ts
  packages/web/src/components/comments/CommentActionBar.tsx
  packages/web/src/components/comments/CommentBlock.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Fix composer input error and styling for DMs
  packages/web/src/components/comments/CommentForm.tsx
  packages/web/src/components/composer-input/ComposerInput.tsx
  packages/web/src/components/composer-input/types.ts
  packages/web/src/pages/chat-page/ChatPage.module.css
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Update issue templates (#9745)
  .github/ISSUE_TEMPLATE/api-sdk-bug-report.md
  .github/ISSUE_TEMPLATE/api-sdk-feature-request.md
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Fix composer input error and styling for DMs (#9765)
  packages/web/src/components/comments/CommentForm.tsx
  packages/web/src/components/composer-input/ComposerInput.tsx
  packages/web/src/components/composer-input/types.ts
  packages/web/src/pages/chat-page/ChatPage.module.css
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Address fixes
  packages/common/src/api/comments.ts
  packages/discovery-provider/integration_tests/queries/test_get_comments.py
  packages/discovery-provider/integration_tests/utils.py
  packages/discovery-provider/src/queries/get_comments.py
  packages/web/src/components/comments/CommentForm.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Harmonize web challenge UI (#9762)
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawerContent.tsx
  packages/web/src/pages/audio-rewards-page/ChallengeRewardsTile.tsx
  packages/web/src/pages/audio-rewards-page/RewardsTile.module.css
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewardsModal/AudioMatchingRewardsModalContent.tsx
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewardsModal/ChallengeRewardsModal.tsx
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewardsModal/ProgressDescription.tsx
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewardsModal/ProgressReward.tsx
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewardsModal/styles.module.css
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[C-4973] Add edit comment e2e (#9679)
  packages/common/src/api/comments.ts
  packages/common/src/messages/comments.ts
  packages/discovery-provider/integration_tests/queries/test_get_comments.py
  packages/discovery-provider/integration_tests/utils.py
  packages/discovery-provider/src/api/v1/models/comments.py
  packages/discovery-provider/src/queries/get_comments.py
  packages/libs/src/sdk/api/generated/default/models/Comment.ts
  packages/libs/src/sdk/api/generated/default/models/ReplyComment.ts
  packages/mobile/src/components/comments/CommentBlock.tsx
  packages/mobile/src/components/comments/mock-data.ts
  packages/web/src/components/comments/CommentBlock.tsx
  packages/web/src/components/comments/CommentForm.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-common-workflow, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

[C-5014] Remove search input auto-correct (#9756)
  packages/mobile/src/screens/search-screen/SearchBar.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

[C-1601] Fix verified badge, Improve text-link (#9757)
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/mobile/src/components/now-playing-drawer/TrackInfo.tsx
  packages/mobile/src/components/user-link/UserLink.tsx
  packages/mobile/src/harmony-native/components/TextLink/InternalLink.tsx
  packages/mobile/src/harmony-native/components/TextLink/TextLink.tsx
  packages/mobile/src/harmony-native/components/TextLink/types.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

more comments & remove non working delete logic
  packages/common/src/hooks/useStatusChange.ts
  packages/web/src/components/comments/CommentBlock.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

[PAY-3209] Web chat blast header
  packages/common/src/hooks/chats/useChatBlastAudienceContent.ts
  packages/common/src/utils/chatUtils.ts
  packages/web/src/pages/chat-page/components/ChatBlastHeader.tsx
  packages/web/src/pages/chat-page/components/ChatComposer.tsx
  packages/web/src/pages/chat-page/components/ChatHeader.module.css
  packages/web/src/pages/chat-page/components/ChatHeader.tsx
  packages/web/src/pages/chat-page/components/UserChatHeader.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

remove artwork from hook
  packages/common/src/hooks/chats/useChatBlastAudienceContent.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

condense artwork
  packages/web/src/pages/chat-page/components/ChatBlastHeader.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

uncomment composer
  packages/web/src/pages/chat-page/components/ChatComposer.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Fix typecheck
  packages/libs/src/services/dataContracts/EntityManagerClient.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

needs new network since event names changed
  core/config/genesis/stage.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

core: remove kv store (#9753)
  core/chain/abci.go
  core/console/tx_page.go
  core/db/models.go
  core/db/reads.sql.go
  core/db/sql/migrations/00007_drop_kv_store.sql
  core/db/sql/reads.sql
  core/db/sql/writes.sql
  core/db/writes.sql.go
  core/gen/proto/protocol.pb.go
  core/gen/proto/protocol_grpc.pb.go
  core/grpc/server.go
  core/protocol.proto
  core/scripts/sandbox.go
  core/test/integration/kv_store_test.go
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

lint
  packages/web/src/components/comments/CommentActionBar.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Fix typecheck (#9768)
  packages/libs/src/services/dataContracts/EntityManagerClient.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

core: support tests against core from go test (#9760)
  core/Makefile
  core/infra/Dockerfile.tests
  core/test/integration/utils/nodes.go
  dev-tools/compose/docker-compose.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

core: rename "events" to "transactions" (#9759)
  core/accounts/signature_test.go
  core/chain/abci.go
  core/chain/auditor.go
  core/chain/finalize.go
  core/chain/register_node.go
  core/config/genesis/stage.json
  core/console/tx_page.go
  core/gen/proto/protocol.pb.go
  core/gen/proto/protocol_grpc.pb.go
  core/grpc/server.go
  core/protocol.proto
  core/registry_bridge/register.go
  core/scripts/sandbox.go
  core/sdk/overrides.go
  core/test/integration/plays_test.go
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Implement all packages/eth reads
  packages/erc/src/index.ts
  packages/erc/src/service-type-manager/abi.ts
  packages/erc/src/service-type-manager/serviceTypeManager.ts
  packages/eth/src/audius-token/abi.json
  packages/eth/src/audius-token/audiusToken.ts
  packages/eth/src/audius-token/index.ts
  packages/eth/src/claims-manager/claimsManager.ts
  packages/eth/src/claims-manager/index.ts
  packages/eth/src/delegate-manager/delegateManager.ts
  packages/eth/src/delegate-manager/index.ts
  packages/eth/src/eth-rewards-manager/ethRewardsManager.ts
  packages/eth/src/governance/governance.ts
  packages/eth/src/governance/index.ts
  packages/eth/src/registry/index.ts
  packages/eth/src/registry/registry.ts
  packages/eth/src/service-provider-factory/serviceProviderFactory.ts
  packages/eth/src/service-type-manager/serviceTypeManager.ts
  packages/eth/src/staking/index.ts
  packages/eth/src/staking/staking.ts
  packages/eth/src/trusted-notifier-manager/index.ts
  packages/eth/src/trusted-notifier-manager/trustedNotifierManager.ts
  packages/eth/src/wormhole-client/index.ts
  packages/eth/src/wormhole-client/wormholeClient.ts
  packages/sdk/src/sdk/config/types.ts
  packages/sdk/src/sdk/scripts/generateServicesConfig.ts
  packages/sdk/src/sdk/sdk.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/EthRewardsManager/EthRewardsManagerClient.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/EthRewardsManager/getDefaultConfig.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/ServiceProviderFactory/ServiceProviderFactoryClient.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/ServiceProviderFactory/getDefaultConfig.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/ServiceTypeManager/ServiceTypeManagerClient.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/ServiceTypeManager/getDefaultConfig.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/getDefaultConfig.ts
  packages/sdk/src/sdk/services/index.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Include wrappers for eth reads in sdk
  packages/sdk/src/sdk/sdk.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/AudiusToken/AudiusTokenClient.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/AudiusToken/getDefaultConfig.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/AudiusToken/index.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/AudiusToken/types.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/ClaimsManager/ClaimsManagerClient.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/ClaimsManager/getDefaultConfig.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/ClaimsManager/index.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/ClaimsManager/types.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/DelegateManager/DelegateManagerClient.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/DelegateManager/getDefaultConfig.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/DelegateManager/index.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/DelegateManager/types.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/Governance/GovernanceClient.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/Governance/getDefaultConfig.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/Governance/index.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/Governance/types.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/Registry/RegistryClient.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/Registry/getDefaultConfig.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/Registry/index.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/Registry/types.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/Staking/StakingClient.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/Staking/getDefaultConfig.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/Staking/index.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/Staking/types.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/TrustedNotifierManager/TrustedNotifierManagerClient.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/TrustedNotifierManager/getDefaultConfig.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/TrustedNotifierManager/index.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/TrustedNotifierManager/types.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/Wormhole/WormholeClient.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/Wormhole/getDefaultConfig.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/Wormhole/index.ts
  packages/sdk/src/sdk/services/Ethereum/contracts/Wormhole/types.ts
  packages/sdk/src/sdk/services/Ethereum/index.ts
  packages/sdk/src/sdk/types.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Start gutting libs
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

Adjust margin defs
  packages/mobile/src/harmony-native/components/layout/Box/Box.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Improve mobile profile spacing (#9758)
  packages/mobile/src/harmony-native/components/Button/BaseButton/BaseButton.tsx
  packages/mobile/src/harmony-native/components/Button/PlainButton/PlainButton.tsx
  packages/mobile/src/harmony-native/components/Button/PlainButton/types.ts
  packages/mobile/src/harmony-native/components/index.ts
  packages/mobile/src/harmony-native/components/layout/Box/Box.tsx
  packages/mobile/src/harmony-native/components/layout/Divider/Divider.tsx
  packages/mobile/src/harmony-native/components/layout/Divider/types.ts
  packages/mobile/src/screens/profile-screen/ArtistRecommendations/ArtistRecommendations.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/CollapsedSection.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ExpandHeaderToggleButton.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ExpandedSection.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileHeader.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileSocials.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/TopSupporters.tsx
  packages/mobile/src/screens/profile-screen/ProfileInfo.tsx
  packages/mobile/src/screens/profile-screen/ProfileMetrics.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Fix lint
  packages/discovery-provider/src/tasks/entity_manager/entity_manager.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Audius Protocol v0.6.192
  mediorum/.version.json
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

More fixes
  packages/common/src/api/comments.ts
  packages/common/src/context/comments/commentsContext.tsx
  packages/discovery-provider/src/queries/get_comments.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

[C-5011] Add comment_count to es-indexer
  packages/discovery-provider/integration_tests/queries/test_search_track_tags.py
  packages/discovery-provider/integration_tests/utils.py
  packages/discovery-provider/src/queries/search_es.py
  packages/es-indexer/src/indexers/TrackIndexer.ts
  packages/es-indexer/src/listener.ts
  packages/es-indexer/src/setup.ts
  packages/es-indexer/src/types/docs.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Fix lint
  packages/discovery-provider/integration_tests/queries/test_search_track_tags.py
  packages/discovery-provider/integration_tests/utils.py
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

state syncing
  core/chain/abci.go
  core/config/genesis/stage.json
  core/scripts/sandbox.go
  core/setup.go
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

change livereload to work with sandbox
  core/infra/docker-compose.yml
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

rm log
  core/scripts/sandbox.go
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-ddex-stage-workflow, run-release-workflow

Add tombstones to backend
  packages/discovery-provider/src/api/v1/models/comments.py
  packages/discovery-provider/src/queries/get_comments.py
  packages/libs/src/sdk/api/generated/default/models/Comment.ts
  packages/web/src/components/comments/CommentActionBar.tsx
  packages/web/src/components/comments/CommentBlock.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-ddex-webapp-workflow, run-ddex-publisher-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-embed-workflow, run-release-workflow=false, run-create-audius-app-workflow, run-ddex-stage-workflow, run-release-workflow

PR feedback
  packages/common/src/messages/comments.ts
  packages/common/src/store/ui/modals/confirmation-modal/confirmationModal.ts
  packages/common/src/store/ui/modals/index.ts
  packages/common/src/store/ui/modals/reducers.ts
  packages/common/src/store/ui/modals/types.ts
  packages/web/src/components/ConfirmationModal.tsx
  packages/web/src/components/comments/CommentActionBar.tsx
  packages/web/src/pages/modals/Modals.tsx
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow

fix ts
  packages/common/src/store/ui/modals/parentSlice.ts
Due: run-discovery-workflow, run-creator-workflow, run-identity-workflow, run-integration-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-contracts-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-harmony-workflow, run-release-workflow=false, run-common-workflow, run-ddex-stage-workflow, run-release-workflow
