Repository AudiusProject/audius-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-discovery-workflow, run-identity-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-create-audius-app-workflow, run-release-workflow

Path conditions:
  run-discovery-workflow: (((((any of: comms/.*) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)) or (any of: comms/.*)) or (any of: .circleci/.*)) or (any of: packages/discovery-provider/.*)
  run-identity-workflow: (((((any of: packages/identity-service/.*) or (any of: .circleci/.*)) or (any of: packages/spl/.*)) or (any of: packages/identity-service/.*)) or (any of: .circleci/.*)) or (any of: packages/spl/.*)
  run-eth-contracts-workflow: ((((any of: eth-contracts/.*) or (any of: .circleci/.*)) or (any of: eth-contracts/.*)) or (any of: .circleci/.*)) or (any of: .*)
  run-protocol-dashboard-workflow: ((((((any of: .circleci/.*) or (any of: packages/common/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/protocol-dashboard/.*)) or (any of: .*)
  run-sdk-workflow: ((((((((((any of: .circleci/.*) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .circleci/.*)) or (any of: package-lock.json)) or (any of: packages/sdk/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: packages/spl/.*)) or (any of: .*)
  run-web-workflow: ((((((((((((any of: .circleci/.*) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/web/.*)) or (any of: packages/common/.*)) or (any of: packages/harmony/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-mobile-workflow: ((((((((((any of: .circleci/.*) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .circleci/.*)) or (any of: packages/mobile/.*)) or (any of: packages/common/.*)) or (any of: packages/eslint-config-audius/.*)) or (any of: packages/fixed-decimal/.*)) or (any of: .*)
  run-embed-workflow: (((((any of: .circleci/.*) or (any of: packages/embed/.*)) or (any of: packages/harmony/.*)) or (any of: .circleci/.*)) or (any of: packages/embed/.*)) or (any of: .*)
  run-release-workflow=false: any of: .*
  run-integration-workflow: ((any of: packages/web/e2e/.*) or (any of: .*)) or (any of: .*)
  run-common-workflow: (((any of: packages/common/.*) or (any of: packages/fixed-decimal/.*)) or (any of: packages/common/.*)) or (any of: packages/fixed-decimal/.*)
  run-create-audius-app-workflow: (((any of: packages/sdk/.*) or (any of: packages/create-audius-app/.*)) or (any of: packages/sdk/.*)) or (any of: packages/create-audius-app/.*)
  run-release-workflow: any of: .*

Fix height
  packages/web/src/components/buy-sell-modal/TokenAmountSection.tsx
  packages/web/src/components/buy-sell-modal/TokenIcon.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add grid system
  packages/common/src/store/ui/buy-sell/index.ts
  packages/common/src/store/ui/buy-sell/utils.ts
  packages/web/src/pages/pay-and-earn-page/components/YourCoins.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Add empty states for search tabs
  packages/common/src/api/tan-query/explore/useBestSelling.ts
  packages/common/src/api/tan-query/search/useSearchResults.ts
  packages/common/src/messages/explore.ts
  packages/mobile/src/screens/explore-screen/SearchExploreScreen.tsx
  packages/mobile/src/screens/explore-screen/components/BestSelling.tsx
  packages/mobile/src/screens/explore-screen/components/ExploreContent.tsx
  packages/mobile/src/screens/explore-screen/components/ExploreSection.tsx
  packages/mobile/src/screens/explore-screen/components/FeelingLucky.tsx
  packages/mobile/src/screens/explore-screen/components/MoodsGrid.tsx
  packages/mobile/src/screens/explore-screen/components/ProgressiveScrollView.tsx
  packages/mobile/src/screens/search-screen/SearchCategoriesAndFilters.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

reorg explore page and hooks to make conditional rendering cleaner
  packages/common/src/api/tan-query/tracks/useMostSharedTracks.ts
  packages/common/src/api/tan-query/tracks/useRecentPremiumTracks.ts
  packages/common/src/api/tan-query/tracks/useRecentlyCommentedTracks.ts
  packages/common/src/api/tan-query/tracks/useRecentlyPlayedTracks.ts
  packages/common/src/api/tan-query/tracks/useRecommendedTracks.ts
  packages/common/src/api/types.ts
  packages/common/src/messages/explore.ts
  packages/mobile/src/screens/explore-screen/components/MoodsGrid.tsx
  packages/mobile/src/services/env/index.ts
  packages/mobile/src/services/remote-config/remote-config-instance.ts
  packages/web/src/pages/explore-page/components/desktop/ActiveDiscussionsSection.tsx
  packages/web/src/pages/explore-page/components/desktop/ArtistSpotlightSection.tsx
  packages/web/src/pages/explore-page/components/desktop/FeaturedPlaylists.tsx
  packages/web/src/pages/explore-page/components/desktop/FeaturedPlaylistsSection.tsx
  packages/web/src/pages/explore-page/components/desktop/FeaturedProfiles.tsx
  packages/web/src/pages/explore-page/components/desktop/FeaturedRemixContests.tsx
  packages/web/src/pages/explore-page/components/desktop/FeaturedRemixContestsSection.tsx
  packages/web/src/pages/explore-page/components/desktop/FeelingLuckySection.tsx
  packages/web/src/pages/explore-page/components/desktop/JustForYouSection.tsx
  packages/web/src/pages/explore-page/components/desktop/LabelSpotlightSection.tsx
  packages/web/src/pages/explore-page/components/desktop/MoodGrid.tsx
  packages/web/src/pages/explore-page/components/desktop/MostSharedSection.tsx
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
  packages/web/src/pages/explore-page/components/desktop/RecentPremiumTracksSection.tsx
  packages/web/src/pages/explore-page/components/desktop/RecentlyPlayedSection.tsx
  packages/web/src/pages/explore-page/components/desktop/RecommendedTracksSection.tsx
  packages/web/src/pages/explore-page/components/desktop/TrendingPlaylistsSection.tsx
  packages/web/src/pages/explore-page/components/desktop/UndergroundTrendingTracksSection.tsx
  packages/web/src/pages/explore-page/components/mobile/SearchExplorePage.tsx
  packages/web/src/pages/search-page/types.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

clean up best selling and mobile screens
  packages/mobile/src/screens/explore-screen/components/ActiveDiscussions.tsx
  packages/mobile/src/screens/explore-screen/components/MostSharedTracks.tsx
  packages/mobile/src/screens/explore-screen/components/RecentPremiumTracks.tsx
  packages/mobile/src/screens/explore-screen/components/RecentlyPlayed.tsx
  packages/mobile/src/screens/explore-screen/components/RecommendedTracks.tsx
  packages/mobile/src/screens/explore-screen/components/UndergroundTrendingTracks.tsx
  packages/web/src/pages/explore-page/components/desktop/BestSellingSection.tsx
  packages/web/src/pages/explore-page/components/desktop/CollectionsPage.module.css
  packages/web/src/pages/explore-page/components/desktop/CollectionsPage.tsx
  packages/web/src/pages/explore-page/components/desktop/RecentPremiumTracksSection.tsx
  packages/web/src/pages/explore-page/components/desktop/UndergroundTrendingTracksSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

more cleanup
  packages/common/src/api/tan-query/explore/useBestSelling.ts
  packages/common/src/api/tan-query/queryKeys.ts
  packages/mobile/src/screens/explore-screen/components/BestSelling.tsx
  packages/web/src/pages/explore-page/components/desktop/BestSellingSection.tsx
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

add empty states for categories on desktop web
  packages/mobile/src/screens/explore-screen/components/ExploreContent.tsx
  packages/web/src/pages/explore-page/components/desktop/BestSellingSection.tsx
  packages/web/src/pages/explore-page/components/desktop/MoodGrid.tsx
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

remove hard-coded envs
  packages/mobile/src/services/env/index.ts
  packages/mobile/src/services/remote-config/remote-config-instance.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

use OptionalIds where not required
  packages/common/src/api/tan-query/explore/useBestSelling.ts
  packages/common/src/api/tan-query/tracks/useRecentlyCommentedTracks.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Audius Protocol v0.7.212
  packages/discovery-provider/.version.json
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Remove more coins section (#12596)
  packages/web/src/pages/pay-and-earn-page/components/YourCoins.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Trigger build
  packages/web/src/app/App.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Refactor to hook
  packages/common/src/store/ui/buy-sell/index.ts
  packages/common/src/store/ui/buy-sell/useGroupCoinPairs.ts
  packages/web/src/pages/pay-and-earn-page/components/YourCoins.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

Remove special case for AUDIO
  packages/web/src/pages/pay-and-earn-page/components/YourCoins.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

[PE-6601] Add Notification Content Extension
  packages/discovery-provider/plugins/notifications/src/sns.ts
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/ios/NotificationContentExtension/Base.lproj/MainInterface.storyboard
  packages/mobile/ios/NotificationContentExtension/Info.plist
  packages/mobile/ios/NotificationContentExtension/NotificationViewController.swift
  packages/mobile/ios/NotificationContentExtension/README.md
  packages/mobile/ios/RichPushExtension/NotificationService.swift
Due: run-discovery-workflow, run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Trigger rebuild
  packages/web/src/app/App.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Only show '0.00' when value is actually zero
  packages/common/src/store/ui/buy-sell/useTokenAmountFormatting.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

some stuff
  packages/sdk/src/sdk/api/challenges/ChallengesApi.ts
  packages/sdk/src/sdk/sdk.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-create-audius-app-workflow, run-release-workflow

[PE-6601] Add provisioning profiles
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/ios/fastlane/Fastfile
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Address comment
  packages/common/src/store/ui/buy-sell/useGroupCoinPairs.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[PE-6535] Optimize list performance (lineups & more) with FlashList (#12622)
  package-lock.json
  packages/mobile/ios/Podfile.lock
  packages/mobile/package.json
  packages/mobile/src/components/lineup-tile/LineupTileSkeleton.tsx
  packages/mobile/src/components/lineup/Lineup.tsx
  packages/mobile/src/components/track-list/TrackList.tsx
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
  packages/mobile/src/screens/notifications-screen/NotificationList.tsx
  packages/mobile/src/screens/user-list-screen/UserList.tsx
  performance-log.md
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Address comment
  packages/web/src/pages/pay-and-earn-page/components/YourCoins.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Use correct value for holders
  packages/web/src/utils/coinMetrics.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Add key
  packages/web/src/pages/pay-and-earn-page/components/YourCoins.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Convert to group
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix team
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Final changes
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update copy for sharing with X
  packages/mobile/src/components/share-drawer/messages.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix provisioning profiles for local dev (#12648)
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Update copy for sharing with X (#12650)
  packages/mobile/src/components/share-drawer/messages.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Drop user-link touch target in track-list-item
  packages/mobile/src/components/track-list/TrackListItem.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

get remaining sections onto mobile web and render empty states by filter
  packages/web/src/pages/explore-page/components/desktop/Carousel.tsx
  packages/web/src/pages/explore-page/components/desktop/FeelingLuckySection.tsx
  packages/web/src/pages/explore-page/components/desktop/MoodGrid.tsx
  packages/web/src/pages/explore-page/components/desktop/NewExplorePage.tsx
  packages/web/src/pages/explore-page/components/desktop/QuickSearchGrid.tsx
  packages/web/src/pages/explore-page/components/desktop/UndergroundTrendingTracksSection.tsx
  packages/web/src/pages/explore-page/components/mobile/MostSharedSection.tsx
  packages/web/src/pages/explore-page/components/mobile/SearchExplorePage.tsx
  packages/web/src/pages/explore-page/components/mobile/UndergroundTrendingSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

add view all links for trending sections
  packages/web/src/pages/explore-page/components/desktop/Carousel.tsx
  packages/web/src/pages/explore-page/components/desktop/ExploreSection.tsx
  packages/web/src/pages/explore-page/components/desktop/FeelingLuckySection.tsx
  packages/web/src/pages/explore-page/components/desktop/JustForYouSection.tsx
  packages/web/src/pages/explore-page/components/desktop/TrendingPlaylistsSection.tsx
  packages/web/src/pages/explore-page/components/desktop/UndergroundTrendingTracksSection.tsx
  packages/web/src/pages/explore-page/components/mobile/SearchExplorePage.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

spacing fixes and view all for recently played
  packages/web/src/pages/explore-page/components/desktop/MoodGrid.tsx
  packages/web/src/pages/explore-page/components/desktop/QuickSearchGrid.tsx
  packages/web/src/pages/explore-page/components/desktop/RecentlyPlayedSection.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

add view all buttons to mobile
  packages/mobile/src/screens/explore-screen/components/ExploreSection.tsx
  packages/mobile/src/screens/explore-screen/components/RecentlyPlayed.tsx
  packages/mobile/src/screens/explore-screen/components/TrendingPlaylists.tsx
  packages/mobile/src/screens/explore-screen/components/UndergroundTrendingTracks.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

remove trending tiles on mobile
  packages/mobile/src/screens/explore-screen/components/BestOfAudiusTiles.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix targets
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow

Fix undefined bug in useAudioBalance
  packages/common/src/api/tan-query/wallets/useAudioBalance.ts
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-common-workflow, run-release-workflow

[QA-2265] Fix playbar chin on search-results
  packages/mobile/src/components/lineup/TanQueryLineup.tsx
  packages/mobile/src/screens/explore-screen/SearchExploreScreen.tsx
  packages/mobile/src/screens/search-screen/search-results/AllResults.tsx
  packages/mobile/src/screens/search-screen/search-results/TrackResults.tsx
Due: run-eth-contracts-workflow, run-protocol-dashboard-workflow, run-sdk-workflow, run-web-workflow, run-mobile-workflow, run-embed-workflow, run-release-workflow=false, run-integration-workflow, run-release-workflow
